<!-- columnHeading.njk -->

					<h1>{{ headingHeadline }}</h1>
					<div class="lead">{{ headingSubline }}</div>
					<hr />
					<p class="description-text text-muted"><em>{{ headingDescrip }}</em></p>
					<hr/>