<!-- footer.njk -->
        <div class="bg-white p-5"> </div>
		<footer class="container-fluid bg-dark text-white pt-5">

			<div class="row justify-content-center pt-5">
			
				<div class="col-lg-3 mb-5">
				
					{{ macros.footer_heading('font', 'Fonts/Icons') }}
					
					<ul class="list-unstyled pl-2 mb-5 text-center">
						
						{{ macros.footer_link('https://www.fontsquirrel.com/', 'Font Squirrel') }}
						{{ macros.footer_link('https://fontawesome.com/icons?d=gallery', 'FontAwesome') }}
						{{ macros.footer_link('http://fontastic.me/', 'Fontastic') }}
						{{ macros.footer_link('https://fonts.google.com/', 'Google Fonts') }}

					</ul>
				
				</div>
			
				<div class="col-lg-3 mb-5">
					
					{{ macros.footer_heading('code', 'Dependencies') }}
					
					<ul class="list-unstyled pl-2 text-center">

						{{ macros.footer_link('https://getbootstrap.com/', 'Bootstrap 4') }}
						{{ macros.footer_link('https://jquery.com/', 'jQuery') }}
						{{ macros.footer_link('https://popper.js.org/', 'Popper.js') }}
						{{ macros.footer_link('https://nodejs.org/', 'Node.js') }}
						{{ macros.footer_link('https://sass-lang.com/', 'SASS') }}
						{{ macros.footer_link('https://gulpjs.com/', 'Gulp') }}
						{{ macros.footer_link('https://mozilla.github.io/nunjucks/', 'Nunjucks') }}
						{{ macros.footer_link('https://fontawesome.com/', 'FontAwesome 5') }}
						{{ macros.footer_link('https://fonts.google.com/', 'Google Fonts') }}
						{{ macros.footer_link('http://prismjs.com/', 'Prism.js') }}
						{{ macros.footer_link('https://github.com/bgrins/TinyColor', 'TinyColor 2') }}
						{{ macros.footer_link('https://datatables.net/', 'DataTables') }}

					</ul>
				
				</div>
			
				<div class="col-lg-3 mb-5">
				
					{{ macros.footer_heading('wrench', 'Tools') }}
					
					<ul class="list-unstyled pl-2 text-center">
						
						{{ macros.footer_link('https://andrew.hedges.name/experiments/aspect_ratio/', 'Aspect Ratio Converter') }}
						{{ macros.footer_link('https://autoprefixer.github.io/', 'Auto Prefixer') }}
						{{ macros.footer_link('https://baconipsum.com/?paras=5&type=all-meat&start-with-lorem=1', 'Bacon Ipsum') }}
						{{ macros.footer_link('https://leaverou.github.io/bubbly/', 'Bubbly Generator') }}
						{{ macros.footer_link('https://charcounter.com/en/', 'Character Counter') }}
						{{ macros.footer_link('http://www.colorzilla.com/gradient-editor/', 'ColorZilla Gradients') }}
						{{ macros.footer_link('https://contrast-triangle.com/', 'Contrast Triangle') }}
						{{ macros.footer_link('https://wweb.dev/resources/css-separator-generator', 'CSS Dividers') }}
						{{ macros.footer_link('https://wweb.dev/resources/animated-css-background-generator', 'CSS Animated Backgrounds') }}
						{{ macros.footer_link('http://css3generator.com/', 'CSS3 Generator') }}
						{{ macros.footer_link('https://cssgrid-generator.netlify.com/', 'CSS Grid Generator') }}
						{{ macros.footer_link('https://www.cssmatic.com/border-radius', 'CSSmatic Border Radius') }}
						{{ macros.footer_link('https://www.cssmatic.com/box-shadow', 'CSSmatic Box Shadow') }}
						{{ macros.footer_link('https://www.favicon-generator.org/', 'Favicon Files Generator') }}
						{{ macros.footer_link('https://www.freeformatter.com', 'Free Data Formatter') }}
						{{ macros.footer_link('https://mothereff.in/html-entities', "HTML Entity Generator") }}
						{{ macros.footer_link('http://htmlshell.com', 'HTML Shell') }}
						{{ macros.footer_link('https://validator.w3.org/nu/', 'HTML5 Validator') }}
						{{ macros.footer_link('https://loading.io/', 'Loading.io') }}
						{{ macros.footer_link('https://www.minifier.org/', 'Minifier.org') }}
						{{ macros.footer_link('https://mxtoolbox.com/', 'MX Toolbox') }}
						{{ macros.footer_link('https://www.regextester.com/', 'Regex Tester') }}
						{{ macros.footer_link('http://slipsum.com/lite/', 'Samuel L. Ipsum') }}
						{{ macros.footer_link('https://www.sslforfree.com/', 'SSL For Free') }}
						{{ macros.footer_link('https://jakearchibald.github.io/svgomg/', 'SVG OMG') }}
						{{ macros.footer_link('https://www.shapedivider.app', 'SVG Shape Dividers') }}
						{{ macros.footer_link('http://unminify.com/', 'Unminify.com') }}
						

					</ul>
				
				</div>
			
				<div class="col-lg-3 mb-5">
				
					{{ macros.footer_heading('book', 'Reference') }}
					
					<ul class="list-unstyled pl-2 mb-5 text-center">
						
						{{ macros.footer_link('https://www.w3.org/1999/xhtml/vocab#XHTMLRoleVocabulary', 'ARIA Role Values Reference') }}
						{{ macros.footer_link('https://www.w3.org/TR/wai-aria-practices-1.1/', 'ARIA Practices Reference') }}
						{{ macros.footer_link('http://bada55.io/', 'Bada55.io') }}
						{{ macros.footer_link('https://hackerthemes.com/bootstrap-cheatsheet/', 'B4 Classes Reference') }}
						{{ macros.footer_link('https://bennettfeely.com/clippy/', 'CSS Clip-Path Maker') }}
						{{ macros.footer_link('
						https://github.com/github/linguist/blob/master/lib/linguist/languages.yml', 'GitHub Syntax Highlighting Reference') }}
						{{ macros.footer_link('https://trends.google.com/', 'Google Trends') }}
						{{ macros.footer_link('https://htmldom.dev/', 'HTML DOM JS Reference') }}
						{{ macros.footer_link('https://www.toptal.com/designers/htmlarrows/', 'HTML Entities Reference') }}
						{{ macros.footer_link('https://ihateregex.io/', 'iHateRegex.io') }}
						{{ macros.footer_link('https://javascript.info', 'JavaScript.info') }}
						{{ macros.footer_link('https://subinsb.com/jquery-to-javascript/', 'jQuery to JavaScript Reference') }}
						{{ macros.footer_link('https://locutus.io/', 'Locutus.io') }}
						{{ macros.footer_link('https://developer.mozilla.org/', 'MDN Web Docs') }}
						{{ macros.footer_link('http://beeker.io/jquery-document-ready-equivalent-vanilla-javascript', 'Vanilla JS Document Ready') }}
						{{ macros.footer_link('http://welie.com/patterns/', 'Welie UI Patterns') }}
						
					</ul>
				
				</div>
			
			</div>

			<div class="row justify-content-center text-center pt-2">
				
				<div class="col-12">
					
					<small class="text-light">OBE:BS4 VERSION:</small>

					<p class="lead">{{ global_strings['version'] }}</p>

					<hr class="border-gray" />

					<p>Check out the project on <a class="text-light" href="https://github.com/oberocks/obebs4" role="button" target="_blank" rel="noopener noreferrer"><i class="fab fa-github text-white mr-1"></i>GitHub</a>!</p>

					<p>Made with <i class="fas fa-heart text-rose-400"></i> by <a class="text-light" href="http://mattmct.com/" target="_blank" rel="noopener noreferrer">Matt McT</a></p>

					<button type="button" class="btn btn-sm btn-outline-light mb-4 mr-1" data-toggle="modal" data-target="#to-do-modal">Upcoming Features</button>

					<small class="d-block text-gray pb-2">&copy; 2019 | All Rights Reserved</small>

				</div>

			</div>

		</footer>



		<!-- Off-Canvas Navigation Modal -->
		<div id="off-canvas-nav-right-modal" class="modal fade right-pinned" tabindex="-1" role="navigation" aria-labelledby="ocnrm-title" aria-hidden="true">
			<div class="modal-dialog modal-lg mt-0">
				<div class="modal-content border-0 rounded-0 text-left bg-dark-gray-600 text-white">
					<div class="modal-header border-dark-gray-700">
						<h6 id="ocnrm-title" class="modal-title">MENU</h6>
					</div>
					<div id="nav-accord" class="modal-body" role="presentation">

						{{ macros.nav_accordian_section('1', 'Boilers', 'boilerplates', global_strings['boilerplates']['sections'], fileName, 'bg-dark-gray-600') }}
						
						{{ macros.nav_accordian_section('2', 'Colors', 'colors', global_strings['colors']['sections'], fileName, 'bg-dark-gray-600') }}

						{{ macros.nav_accordian_section('3', 'Defaults', 'defaults', global_strings['defaults']['sections'], fileName, 'bg-dark-gray-600') }}

						{{ macros.nav_accordian_section('4', 'Extensions', 'extensions', global_strings['extensions']['sections'], fileName, 'bg-dark-gray-600') }}
						
						{{ macros.nav_accordian_section('5', 'Icons', 'icons', global_strings['icons']['sections'], fileName, 'bg-dark-gray-600') }}
						
						{{ macros.nav_accordian_section('6', 'Layouts', 'layouts', global_strings['layouts']['sections'], fileName, 'bg-dark-gray-600') }}
						
						{{ macros.nav_accordian_section('7', 'Reference', 'reference', global_strings['reference']['sections'], fileName, 'bg-dark-gray-600') }}
						
						{{ macros.nav_accordian_section('8', 'Settings', 'settings', global_strings['settings']['sections'], fileName, 'bg-dark-gray-600') }}


					</div>
					<div class="modal-footer justify-content-center border-dark-gray-700">
						<button type="button" class="btn btn-sm btn-outline-light" data-dismiss="modal">CLOSE</button>
					</div>
				</div>
			</div>
		</div>




		<div id="to-do-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="to-do-modal-title" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content bg-dark text-light">
					<div class="modal-header border-0">
						<button type="button" class="close text-light text-shadow-lg-hard" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body pt-0">
					
						<div class="text-center pb-4">
							<i class="fas fa-clipboard-list fa-4x text-light-gray"></i>
						</div>
						<h3 id="to-do-modal-title" class="text-light text-center mb-5">Upcoming Features</h3>
						
						<ul class="pl-4 mb-5 text-left">
							
							<!--li><s class="text-gray">BS4 (Reboot): Addresses</s></li>
							<li><s class="text-gray">BS4 (Reboot): Summaries</s></li>
							
							<li><s class="text-gray">BS4 (Content/Reboot + Typography): Lists</s></li>
							<li><s class="text-gray">BS4 (Content/Reboot + Typography): Inline Lists</s></li>
							<li><s class="text-gray">BS4 (Content/Reboot + Typography): Description Lists</s></li>
							<li><s class="text-gray">BS4 (Content/Reboot + Typography): Description List Alignment</s></li>

							<li><s class="text-gray">BS4 (Content/Images): Responsive Images</s></li>
							<li><s class="text-gray">BS4 (Content/Images): Image Thumbnails</s></li>
							<li><s class="text-gray">BS4 (Content/Images): Image Alignment (covered in float + text align utilities)</s></li>
							<li><s class="text-gray">BS4 (Content/Images): Picture Elements</s></li>

							<li><s class="text-gray">BS4 (Content/Figures): Figures &amp; Captions</s></li>
							
							<li><s class="text-gray">BS4 (Content/Tables): Tables (Light/Dark)</s></li>
							<li><s class="text-gray">BS4 (Content/Tables): Tables (Light/Dark Heading)</s></li>
							<li><s class="text-gray">BS4 (Content/Tables): Tables (Light/Dark Striped)</s></li>
							<li><s class="text-gray">BS4 (Content/Tables): Tables (Light/Dark Bordered)</s></li>
							<li><s class="text-gray">BS4 (Content/Tables): Tables (Light/Dark Bordered)</s></li>
							<li><s class="text-gray">BS4 (Content/Tables): Tables (Light/Dark Borderless)</s></li>
							<li><s class="text-gray">BS4 (Content/Tables): Tables (Light/Dark Hoverable)</s></li>
							<li><s class="text-gray">BS4 (Content/Tables): Tables (LG/SM Sizes)</s></li>
							<li><s class="text-gray">BS4 (Content/Tables): Tables (Captions)</s></li>
							<li><s class="text-gray">BS4 (Content/Tables): Tables (Responsive)</s></li>

							<li><s class="text-gray">BS4 (Components/Alerts): Alerts</s></li>
							<li><s class="text-gray">BS4 (Components/Badges): Badges</s></li>
							<li><s class="text-gray">BS4 (Components/Breadcrumbs): Breadcrumbs</s></li>
							<li><s class="text-gray">BS4 (Components/Buttons): Buttons (Elements/Sizes)</s></li>
							<li><s class="text-gray">BS4 (Components/Buttons): Buttons (Active/Disabled States)</s></li>
							<li><s class="text-gray">BS4 (Components/Button Group): Button Groups (Sizes)</s></li>
							<li><s class="text-gray">BS4 (Components/Button Group): Button Groups (Toolbars)</s></li>
							<li><s class="text-gray">BS4 (Components/Button Group): Button Groups (Nested Dropdown)</s></li>
							<li><s class="text-gray">BS4 (Components/Button Group): Button Groups (Vertical)</s></li>
							<li><s class="text-gray">BS4 (Components/Card): Cards</s></li>
							<li><s class="text-gray">BS4 (Components/Carousel): Carousels</s></li>
							<li><s class="text-gray">BS4 (Components/Collapse): Collapse</s></li>
							<li><s class="text-gray">BS4 (Components/Dropdowns): Dropdowns</s></li>
							<li><s class="text-gray">BS4 (Components/Forms): Forms</s></li>

							<li><s class="text-gray">BS4 (Components/Buttons): Buttons (Toggles)</s></li>
							<li><s class="text-gray">BS4 (Components/Buttons): Buttons (Checkboxes/Radios)</s></li>
							<li><s class="text-gray">BS4 (Components/Input Group): Input Groups</s></li>
							<li><s class="text-gray">BS4 (Components/Jumbotron): Jumbotrons</s></li>
							<li><s class="text-gray">BS4 (Components/List Group): List Groups</s></li>
							<li><s class="text-gray">BS4 (Components/Modal): Modals</s></li>
							<li><s class="text-gray">BS4 (Components/Navs): Navs</s></li>
							<li><s class="text-gray">BS4 (Components/Navbar): Navbars</s></li>
							<li><s class="text-gray">BS4 (Components/Pagination): Pagination</s></li>
							<li><s class="text-gray">BS4 (Components/Popovers): Popovers</s></li>
							<li><s class="text-gray">BS4 (Components/Progress): Progress Bars</s></li>
							<li><s class="text-gray">BS4 (Components/Scrollspy): Scrollspy</s></li>
							<li><s class="text-gray">BS4 (Components/Tooltips): Tooltips</s></li>

							<li><s class="text-gray">BS4 (Utilities/Borders): Border Utilities</s></li>
							<li><s class="text-gray">BS4 (Utilities/Clearfix): Clearfix Utilities</s></li>
							<li><s class="text-gray">BS4 (Utilities/Close Icon): Close Icon Utilities</s></li>
							<li><s class="text-gray">BS4 (Utilities/Colors): Color Utilities</s></li>
							<li><s class="text-gray">BS4 (Utilities/Display): Display Utilities</s></li>
							<li><s class="text-gray">BS4 (Utilities/Embed): Embed Utilities</s></li>
							<li><s class="text-gray">BS4 (Utilities/Flex): Flex Utilities</s></li>
							<li><s class="text-gray">BS4 (Utilities/Float): Float Utilities</s></li>
							<li><s class="text-gray">BS4 (Utilities/Image Replacement): Image Replacement Utilities (Depreciated)</s></li>
							<li><s class="text-gray">BS4 (Utilities/Position): Position Utilities</s></li>
							<li><s class="text-gray">BS4 (Utilities/Screenreaders): Screenreaders Utilities</s></li>

							<li><s class="text-gray">BS4 (Utilities/Sizing): Sizing Utilities</s></li>
							<li><s class="text-gray">BS4 (Utilities/Spacing): Spacing Utilities</s></li>
							<li><s class="text-gray">BS4 (Utilities/Text): Text Utilities</s></li>
							<li><s class="text-gray">BS4 (Utilities/Vertical Align): Vertical Align Utilities</s></li>
							<li><s class="text-gray">BS4 (Utilities/Visibility): Visibility Utilities</s></li>

							<li><s class="text-gray">OBE:B4 Colors (Progress Bars)</s></li>
							<li><s class="text-gray">OBE:B4 Colors (Buttons Active/Disabled)</s></li>
							<li><s class="text-gray">OBE:B4 Colors (Card Colors w/ Headings)</s></li>
							<li><s class="text-gray">OBE:B4 Colors (Card Borders)</s></li>

							<li><s class="text-gray">Layouts (Card Groups)</s></li>
							<li><s class="text-gray">Layouts (Card Decks)</s></li>
							<li><s class="text-gray">Layouts (Card Columns)</s></li>
							
							<li><s class="text-gray">OBE:B4 Responsive Headline Utilities</s></li>
							<li><s class="text-gray">OBE:B4 Modals &amp; Modal Utilities</s></li>
							<li><s class="text-gray">OBE:B4 Material Design Form Elements Utilities</s></li>
							<li><s class="text-gray">OBE:B4 Element Opacity Utilities</s></li>
							<li><s class="text-gray">BS4: Include <samp>.position-static</samp> class?</s></li>
							<li><s class="text-gray">OBE:B4 Colored Modals</s></li>
							<li><s class="text-gray">OBE:B4 Custom Dropdown Selects</s></li>
							<li><s class="text-gray">OBE:B4 Off-Canvas Modal Navs</s></li>
							<li><s class="text-gray">OBE:B4 Fab Buttons (Square, Round & Circle)</s></li>
							<li><s class="text-gray">FA5: Animated FontAwesome Checkboxes</s></li>
							<li><s class="text-gray">FA5: Icon-based List Elements w/ Colors</s></li>

							<li><s class="text-gray">BS4: Include Display Print Utilities?</s></li>
							<li><s class="text-gray">OBE:B4 Add Harder Edged Text Shadows?</s></li>
							<li><s class="text-gray">BS4: Expand Upon flex shrink/grow examples?</s></li-->

							<li>BS4 (Utilities/Shadows): Shadows Utilities</li>
							<li>BS4 (Components/Forms): Form Validation!</li>
							<li>BS4: Include Disabled Form Elements Per Element?</li>
							<li>BS4: Include Disabled Tooltips &amp; Popovers?</li>

							<li><s class="text-gray">OBE:B4 Add Contrasting Link Color Lines + Variations</s></li>
							<li><s class="text-gray">Add data-toggle-displayed-text Micro Script (settings.njk)</s></li>
							<li><s class="text-gray">OBE:B4 Responsive Datepicker Plugin</s></li>
							<li>OBE:B4 Custom Dropdown Select Colors</li>

							<li>Plugins: Charts.js Library Integration</li>
							<li>Plugins: Ripple.js Plugin Integration</li>

						</ul>

						<button type="button" class="btn btn-block btn-outline-light" data-dismiss="modal">Close</button> 

					</div>
					
				</div>
			</div>
		</div>






		<!-- Fullscreen Modal -->
		<div id="search-modal" class="modal fade modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="search-modal-input-label" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content bg-dark-gray-600 text-white">
					<div class="modal-body">
						<div class="row justify-content-center">
							<div class="col-11 col-sm-8 col-md-6 col-lg-5 col-xl-4 py-5">
								<div class="material-float-input-group material-group-light">
									<input type="text" id="search-modal-input" name="search-modal-input" class="material-input rounded-0 border-bottom text-light" aria-describedby="search-modal-input-label" required="" autocomplete="off">
									<span class="material-bar"></span>
									<label id="search-modal-input-label" class="material-label"><i class="fas fa-search mr-2"></i>Site Search</label>
								</div>
								<div id="search-modal-results" class="pt-4"></div>
							</div>
						</div>
					</div>
					<div class="modal-footer justify-content-center border-dark-gray-700">
						<button type="button" class="btn btn-sm btn-outline-light my-1" data-dismiss="modal">CLOSE</button>
					</div>
				</div>
			</div>
		</div>