<!-- _hero.njk -->
		<article class="container-fluid pt-5 px-0 {{ heroBgClass }} text-center text-white">
			
			<div class="container">
			
				<div class="row justify-content-center">
					
					<div class="col pt-4">
					
						<div class="py-5 mb-5">
						
							<h1>{{ heroTitle }}</h1>
							<hr class="{{ heroBorderClass }}" />
							<div class="lead">{{ heroDescrip }}</div>
							
						</div>
						
					</div>
					
				</div>

			</div>

        </article>