<!-- navigation.njk -->
        <!--nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark box-shadow-sm"-->
        <nav class="navbar fixed-top navbar-dark bg-dark box-shadow-sm justify-content-between">
            
            <a class="navbar-brand" href="index.html">OBE:BS4</a>

            <div class="text-right text-white">
                <!--a href="#" class="text-light" data-toggle="modal" data-target="#search-modal"><i class="fas fa-search"></i></a>
                <a href="#" class="text-light pl-2" data-toggle="modal" data-target="#off-canvas-nav-right-modal">MENU</a-->
                <button type="button" class="btn btn-link p-1 mr-2" data-toggle="modal" data-target="#search-modal"><i class="fas fa-search text-white"></i></button>
                <button type="button" class="btn btn-link p-0" data-toggle="modal" data-target="#off-canvas-nav-right-modal"><span class="text-white">MENU</span></button>
            </div>
            
            <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button-->
            
            <!--div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link{% if fileName == 'colors.html' %} active{% endif %}" href="{{ global_strings['colors']['slug'] }}.html">{{ global_strings['colors']['nav'] }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if fileName == 'extensions.html' %} active{% endif %}" href="{{ global_strings['extensions']['slug'] }}.html">{{ global_strings['extensions']['nav'] }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if fileName == 'defaults.html' %} active{% endif %}" href="{{ global_strings['defaults']['slug'] }}.html">{{ global_strings['defaults']['nav'] }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if fileName == 'layouts.html' %} active{% endif %}" href="{{ global_strings['layouts']['slug'] }}.html">{{ global_strings['layouts']['nav'] }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if fileName == 'icons.html' %} active{% endif %}" href="{{ global_strings['icons']['slug'] }}.html">{{ global_strings['icons']['nav'] }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if fileName == 'reference.html' %} active{% endif %}" href="{{ global_strings['reference']['slug'] }}.html">{{ global_strings['reference']['nav'] }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if fileName == 'boilerplates.html' %} active{% endif %}" href="{{ global_strings['boilerplates']['slug'] }}.html">{{ global_strings['boilerplates']['nav'] }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if fileName == 'settings.html' %} active{% endif %}" href="{{ global_strings['settings']['slug'] }}.html">{{ global_strings['settings']['nav'] }}</a>
                    </li>
                </ul>
            </div-->

        </nav>