<!-- navigation.njk -->
        <nav class="navbar fixed-top navbar-dark bg-dark box-shadow-sm justify-content-between">
            
            <a class="navbar-brand" href="index.html">OBE:BS4</a>

            <div class="text-right text-white">
                <button type="button" class="btn btn-link p-1 mr-2" data-toggle="modal" data-target="#search-modal"><i class="fas fa-search text-white"></i></button>
                <a class="btn btn-link p-1 mr-2" href="https://github.com/oberocks/obebs4" role="button" target="_blank" rel="noopener noreferrer"><i class="fab fa-github text-white"></i></a>
                <button type="button" class="btn btn-link p-0" data-toggle="modal" data-target="#off-canvas-nav-right-modal"><span class="text-white">MENU</span></button>
            </div>

        </nav>