<!-- _color_codes_table.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">

            <div class="container">

                <div class="row justify-content-center pt-5">

                    <div id="{{ global_strings['reference']['sections'][0]['id'] }}" class="js-dataTables-workspace col-12 pb-5">

                        {{ macros.page_section_heading(global_strings['reference']['sections'][0]['head'], global_strings['reference']['sections'][0]['subhead'], global_strings['reference']['sections'][0]['descrip']) }}

                        <div class="row justify-content-center">
                            <div class="js-dataTables-search-block col-sm-10 col-md-6 col-lg-4 text-center pb-2"></div>
                        </div>
                        
                        <div class="table-responsive">
                            <table class="js-dataTables-init table table-striped table-bordered table-hover text-left text-nowrap">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">JS Key/Prop</th>
                                        <th scope="col">Hex</th>
                                        <th scope="col">RGB</th>
                                        <th scope="col">RGBa</th>
                                        <th scope="col">HSL</th>
                                        <th scope="col">HSV</th>
                                    </tr>
                                </thead>
                                <tbody id="js-table-target"></tbody>
                            </table>
                        </div>

                        <div class="row pt-2">
                            <div class="js-dataTables-length-block col-md-6 pb-2"></div>
                            <div class="js-dataTables-paginate-block col-md-6 pb-2"></div>
                        </div>

                        <div class="row">
                            <div class="js-dataTables-info-block col-12"></div>
                        </div>

                    </div>

                </div>

            </div>

            {{ macros.hidden_color_elements('white') }}
            {{ macros.hidden_color_elements('light-gray') }}
            {{ macros.hidden_color_elements('gray') }}
            {{ macros.hidden_color_elements('dark-gray') }}
            {{ macros.hidden_color_elements('black') }}
            {{ macros.hidden_color_elements('red') }}
            {{ macros.hidden_color_elements('rose') }}
            {{ macros.hidden_color_elements('magenta') }}
            {{ macros.hidden_color_elements('violet') }}
            {{ macros.hidden_color_elements('blue') }}
            {{ macros.hidden_color_elements('azure') }}
            {{ macros.hidden_color_elements('cyan') }}
            {{ macros.hidden_color_elements('spring-green') }}
            {{ macros.hidden_color_elements('green') }}
            {{ macros.hidden_color_elements('chartreuse') }}
            {{ macros.hidden_color_elements('yellow') }}
            {{ macros.hidden_color_elements('orange') }}
            {{ macros.hidden_color_elements('orange-gray') }}
            {{ macros.hidden_color_elements('dark-gray-orange') }}
            {{ macros.hidden_color_elements('blue-gray') }}
            {{ macros.hidden_color_elements('light-gray-azure') }}
            
            

        </div>