<!-- _table_margin_and_padding.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">

            <div class="container">

                <div class="row justify-content-center pt-5">

                    <div id="{{ global_strings['reference']['sections'][18]['id'] }}" class="js-dataTables-workspace col-12 pb-5">

                        {{ macros.page_section_heading(global_strings['reference']['sections'][18]['head'], global_strings['reference']['sections'][18]['subhead'], global_strings['reference']['sections'][18]['descrip']) }}

                        <div class="row justify-content-center">
                            <div class="js-dataTables-search-block col-sm-10 col-md-6 col-lg-4 text-center pb-2"></div>
                        </div>

                        <div class="table-responsive text-left">
                            
                            <table class="js-dataTables-init js-data-tables-element table table-striped table-hover table-bordered table-sm text-nowrap">
                                
                                {{ macros.responsive_classes_thead('thead-dark') }}
                                
                                <tbody>
                                    
                                    {{ macros.margin_padding_classes('m', 'n1') }}
                                    {{ macros.margin_padding_classes('mx', 'n1') }}
                                    {{ macros.margin_padding_classes('my', 'n1') }}
                                    {{ macros.margin_padding_classes('mt', 'n1') }}
                                    {{ macros.margin_padding_classes('mr', 'n1') }}
                                    {{ macros.margin_padding_classes('mb', 'n1') }}
                                    {{ macros.margin_padding_classes('ml', 'n1') }}

                                    {{ macros.margin_padding_classes('m', 'n2') }}
                                    {{ macros.margin_padding_classes('mx', 'n2') }}
                                    {{ macros.margin_padding_classes('my', 'n2') }}
                                    {{ macros.margin_padding_classes('mt', 'n2') }}
                                    {{ macros.margin_padding_classes('mr', 'n2') }}
                                    {{ macros.margin_padding_classes('mb', 'n2') }}
                                    {{ macros.margin_padding_classes('ml', 'n2') }}

                                    {{ macros.margin_padding_classes('m', 'n3') }}
                                    {{ macros.margin_padding_classes('mx', 'n3') }}
                                    {{ macros.margin_padding_classes('my', 'n3') }}
                                    {{ macros.margin_padding_classes('mt', 'n3') }}
                                    {{ macros.margin_padding_classes('mr', 'n3') }}
                                    {{ macros.margin_padding_classes('mb', 'n3') }}
                                    {{ macros.margin_padding_classes('ml', 'n3') }}

                                    {{ macros.margin_padding_classes('m', 'n4') }}
                                    {{ macros.margin_padding_classes('mx', 'n4') }}
                                    {{ macros.margin_padding_classes('my', 'n4') }}
                                    {{ macros.margin_padding_classes('mt', 'n4') }}
                                    {{ macros.margin_padding_classes('mr', 'n4') }}
                                    {{ macros.margin_padding_classes('mb', 'n4') }}
                                    {{ macros.margin_padding_classes('ml', 'n4') }}

                                    {{ macros.margin_padding_classes('m', 'n5') }}
                                    {{ macros.margin_padding_classes('mx', 'n5') }}
                                    {{ macros.margin_padding_classes('my', 'n5') }}
                                    {{ macros.margin_padding_classes('mt', 'n5') }}
                                    {{ macros.margin_padding_classes('mr', 'n5') }}
                                    {{ macros.margin_padding_classes('mb', 'n5') }}
                                    {{ macros.margin_padding_classes('ml', 'n5') }}
                                    
                                    {{ macros.margin_padding_classes('m', '0') }}
                                    {{ macros.margin_padding_classes('mx', '0') }}
                                    {{ macros.margin_padding_classes('my', '0') }}
                                    {{ macros.margin_padding_classes('mt', '0') }}
                                    {{ macros.margin_padding_classes('mr', '0') }}
                                    {{ macros.margin_padding_classes('mb', '0') }}
                                    {{ macros.margin_padding_classes('ml', '0') }}

                                    {{ macros.margin_padding_classes('m', '1') }}
                                    {{ macros.margin_padding_classes('mx', '1') }}
                                    {{ macros.margin_padding_classes('my', '1') }}
                                    {{ macros.margin_padding_classes('mt', '1') }}
                                    {{ macros.margin_padding_classes('mr', '1') }}
                                    {{ macros.margin_padding_classes('mb', '1') }}
                                    {{ macros.margin_padding_classes('ml', '1') }}

                                    {{ macros.margin_padding_classes('m', '2') }}
                                    {{ macros.margin_padding_classes('mx', '2') }}
                                    {{ macros.margin_padding_classes('my', '2') }}
                                    {{ macros.margin_padding_classes('mt', '2') }}
                                    {{ macros.margin_padding_classes('mr', '2') }}
                                    {{ macros.margin_padding_classes('mb', '2') }}
                                    {{ macros.margin_padding_classes('ml', '2') }}

                                    {{ macros.margin_padding_classes('m', '3') }}
                                    {{ macros.margin_padding_classes('mx', '3') }}
                                    {{ macros.margin_padding_classes('my', '3') }}
                                    {{ macros.margin_padding_classes('mt', '3') }}
                                    {{ macros.margin_padding_classes('mr', '3') }}
                                    {{ macros.margin_padding_classes('mb', '3') }}
                                    {{ macros.margin_padding_classes('ml', '3') }}

                                    {{ macros.margin_padding_classes('m', '4') }}
                                    {{ macros.margin_padding_classes('mx', '4') }}
                                    {{ macros.margin_padding_classes('my', '4') }}
                                    {{ macros.margin_padding_classes('mt', '4') }}
                                    {{ macros.margin_padding_classes('mr', '4') }}
                                    {{ macros.margin_padding_classes('mb', '4') }}
                                    {{ macros.margin_padding_classes('ml', '4') }}

                                    {{ macros.margin_padding_classes('m', '5') }}
                                    {{ macros.margin_padding_classes('mx', '5') }}
                                    {{ macros.margin_padding_classes('my', '5') }}
                                    {{ macros.margin_padding_classes('mt', '5') }}
                                    {{ macros.margin_padding_classes('mr', '5') }}
                                    {{ macros.margin_padding_classes('mb', '5') }}
                                    {{ macros.margin_padding_classes('ml', '5') }}

                                    {{ macros.margin_padding_classes('m', 'auto') }}
                                    {{ macros.margin_padding_classes('mx', 'auto') }}
                                    {{ macros.margin_padding_classes('my', 'auto') }}
                                    {{ macros.margin_padding_classes('mt', 'auto') }}
                                    {{ macros.margin_padding_classes('mr', 'auto') }}
                                    {{ macros.margin_padding_classes('mb', 'auto') }}
                                    {{ macros.margin_padding_classes('ml', 'auto') }}

                                    {{ macros.margin_padding_classes('p', '0') }}
                                    {{ macros.margin_padding_classes('px', '0') }}
                                    {{ macros.margin_padding_classes('py', '0') }}
                                    {{ macros.margin_padding_classes('pt', '0') }}
                                    {{ macros.margin_padding_classes('pr', '0') }}
                                    {{ macros.margin_padding_classes('pb', '0') }}
                                    {{ macros.margin_padding_classes('pl', '0') }}

                                    {{ macros.margin_padding_classes('p', '1') }}
                                    {{ macros.margin_padding_classes('px', '1') }}
                                    {{ macros.margin_padding_classes('py', '1') }}
                                    {{ macros.margin_padding_classes('pt', '1') }}
                                    {{ macros.margin_padding_classes('pr', '1') }}
                                    {{ macros.margin_padding_classes('pb', '1') }}
                                    {{ macros.margin_padding_classes('pl', '1') }}

                                    {{ macros.margin_padding_classes('p', '2') }}
                                    {{ macros.margin_padding_classes('px', '2') }}
                                    {{ macros.margin_padding_classes('py', '2') }}
                                    {{ macros.margin_padding_classes('pt', '2') }}
                                    {{ macros.margin_padding_classes('pr', '2') }}
                                    {{ macros.margin_padding_classes('pb', '2') }}
                                    {{ macros.margin_padding_classes('pl', '2') }}

                                    {{ macros.margin_padding_classes('p', '3') }}
                                    {{ macros.margin_padding_classes('px', '3') }}
                                    {{ macros.margin_padding_classes('py', '3') }}
                                    {{ macros.margin_padding_classes('pt', '3') }}
                                    {{ macros.margin_padding_classes('pr', '3') }}
                                    {{ macros.margin_padding_classes('pb', '3') }}
                                    {{ macros.margin_padding_classes('pl', '3') }}

                                    {{ macros.margin_padding_classes('p', '4') }}
                                    {{ macros.margin_padding_classes('px', '4') }}
                                    {{ macros.margin_padding_classes('py', '4') }}
                                    {{ macros.margin_padding_classes('pt', '4') }}
                                    {{ macros.margin_padding_classes('pr', '4') }}
                                    {{ macros.margin_padding_classes('pb', '4') }}
                                    {{ macros.margin_padding_classes('pl', '4') }}

                                    {{ macros.margin_padding_classes('p', '5') }}
                                    {{ macros.margin_padding_classes('px', '5') }}
                                    {{ macros.margin_padding_classes('py', '5') }}
                                    {{ macros.margin_padding_classes('pt', '5') }}
                                    {{ macros.margin_padding_classes('pr', '5') }}
                                    {{ macros.margin_padding_classes('pb', '5') }}
                                    {{ macros.margin_padding_classes('pl', '5') }}

                                    {{ macros.margin_padding_classes('p', 'auto') }}
                                    {{ macros.margin_padding_classes('px', 'auto') }}
                                    {{ macros.margin_padding_classes('py', 'auto') }}
                                    {{ macros.margin_padding_classes('pt', 'auto') }}
                                    {{ macros.margin_padding_classes('pr', 'auto') }}
                                    {{ macros.margin_padding_classes('pb', 'auto') }}
                                    {{ macros.margin_padding_classes('pl', 'auto') }}

                                </tbody>

                            </table>
                            
                        </div>

                        <div class="row pt-2">
                            <div class="js-dataTables-length-block col-md-6 pb-2"></div>
                            <div class="js-dataTables-paginate-block col-md-6 pb-2"></div>
                        </div>

                        <div class="row">
                            <div class="js-dataTables-info-block col-12"></div>
                        </div>

                    </div>

                </div>

            </div>

        </div>