<!-- _table_display_print.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container modal-workspace">

                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['reference']['sections']['1']['id'] }}" class="col-12">
                        
                        {% set headingHeadline = global_strings['reference']['sections']['1']['head'] %}
						{% set headingSubline = global_strings['reference']['sections']['1']['subhead'] %}
						{% set headingDescrip = global_strings['reference']['sections']['1']['descrip'] %}
                        {% include "partials/_columnHeading.njk" %}

                    </div>

                </div>

                <div class="row justify-content-center">

                    <div class="col pb-5">
                        
                        <div class="table-responsive text-left">
                            <table class="js-data-tables-element table table-striped table-hover table-bordered table-sm text-nowrap">
                                
                                {{ macros.responsive_classes_thead('thead-dark') }}
                                
                                <tbody>
                                    
                                    {{ macros.display_print_classes('none') }}
                                    {{ macros.display_print_classes('inline') }}
                                    {{ macros.display_print_classes('inline-block') }}
                                    {{ macros.display_print_classes('block') }}
                                    {{ macros.display_print_classes('table') }}
                                    {{ macros.display_print_classes('table-cell') }}
                                    {{ macros.display_print_classes('table-row') }}
                                    {{ macros.display_print_classes('flex') }}
                                    {{ macros.display_print_classes('inline-flex') }}

                                </tbody>
                            </table>
                            
                        </div>

                    </div>

                </div>

            </div>

        </div>