<!-- _table_flex_self_alignment.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container modal-workspace">

                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['reference']['sections'][7]['id'] }}" class="col-12">
                        
                        {{ macros.page_section_heading(global_strings['reference']['sections'][7]['head'], global_strings['reference']['sections'][7]['subhead'], global_strings['reference']['sections'][7]['descrip']) }}

                    </div>

                </div>

                <div class="row justify-content-center">

                    <div class="col pb-5">
                        
                        <div class="table-responsive text-left">
                            <table class="js-data-tables-element table table-striped table-hover table-bordered table-sm text-nowrap">
                                
                                {{ macros.responsive_classes_thead('thead-dark') }}
                                
                                <tbody>
                                    
                                    {{ macros.align_self_classes('start') }}
                                    {{ macros.align_self_classes('end') }}
                                    {{ macros.align_self_classes('center') }}
                                    {{ macros.align_self_classes('baseline') }}
                                    {{ macros.align_self_classes('stretch') }}

                                </tbody>
                            </table>
                            
                        </div>

                    </div>

                </div>

            </div>

        </div>