<!-- _alert_colors.njk -->
		{% if obe_settings['enable-obebs4-alert-wheel-colors'] === 'true' or obe_settings['enable-obebs4-alert-variations'] === 'true' %}
		<div class="container-fluid pt-5 text-center bg-white text-dark">
		
			<div class="container">
				
				<div class="row justify-content-center">
					
					{% if obe_settings['enable-obebs4-alert-wheel-colors'] === 'true' %}
					<div id="{{ global_strings['colors']['sections'][11]['id'] }}" class="col-md-6 pb-5">
					
						{{ macros.page_section_heading(global_strings['colors']['sections'][11]['head'], global_strings['colors']['sections'][11]['subhead'], global_strings['colors']['sections'][11]['descrip']) }}
						
						{{ macros.alert_colors('primary', 'Primary') }}
						{{ macros.alert_colors('secondary', 'Secondary') }}
						{{ macros.alert_colors('success', 'Success') }}
						{{ macros.alert_colors('danger', 'Danger') }}
						{{ macros.alert_colors('warning', 'Warning') }}
						{{ macros.alert_colors('info', 'Info') }}
						{{ macros.alert_colors('light', 'Light') }}
						{{ macros.alert_colors('dark', 'Dark') }}

						{{ macros.alert_colors('white', 'White') }}
						{{ macros.alert_colors('light-gray', 'Light Gray') }}
						{{ macros.alert_colors('gray', 'Gray') }}
						{{ macros.alert_colors('dark-gray', 'Dark Gray') }}
						{{ macros.alert_colors('black', 'Black') }}

						{{ macros.alert_colors('red', 'Red') }}
						{{ macros.alert_colors('rose', 'Rose') }}
						{{ macros.alert_colors('magenta', 'Magenta') }}
						{{ macros.alert_colors('violet', 'Violet') }}
						{{ macros.alert_colors('blue', 'Blue') }}
						{{ macros.alert_colors('azure', 'Azure') }}
						{{ macros.alert_colors('cyan', 'Cyan') }}
						{{ macros.alert_colors('spring-green', 'Spring Green') }}
						{{ macros.alert_colors('green', 'Green') }}
						{{ macros.alert_colors('chartreuse', 'Chartreuse') }}
						{{ macros.alert_colors('yellow', 'Yellow') }}
						{{ macros.alert_colors('orange', 'Orange') }}

						{{ macros.alert_colors('orange-gray', 'Orange Gray') }}
						{{ macros.alert_colors('dark-gray-orange', 'Dark Gray Orange') }}
						{{ macros.alert_colors('blue-gray', 'Blue Gray') }}
						{{ macros.alert_colors('light-gray-azure', 'Light Gray Azure') }}
						
					</div>
					{% endif %}
					
					{% if obe_settings['enable-obebs4-alert-variations'] === 'true' %}
					<div id="{{ global_strings['colors']['sections'][12]['id'] }}" class="col-md-6 pb-5">
					
						{{ macros.page_section_heading(global_strings['colors']['sections'][12]['head'], global_strings['colors']['sections'][12]['subhead'], global_strings['colors']['sections'][12]['descrip']) }}
						
						{{ macros.alert_colors_inv('primary', 'Primary') }}
						{{ macros.alert_colors_inv('secondary', 'Secondary') }}
						{{ macros.alert_colors_inv('success', 'Success') }}
						{{ macros.alert_colors_inv('danger', 'Danger') }}
						{{ macros.alert_colors_inv('warning', 'Warning') }}
						{{ macros.alert_colors_inv('info', 'Info') }}
						{{ macros.alert_colors_inv('light', 'Light') }}
						{{ macros.alert_colors_inv('dark', 'Dark') }}

						{{ macros.alert_colors_inv('white', 'White') }}
						{{ macros.alert_colors_inv('light-gray', 'Light Gray') }}
						{{ macros.alert_colors_inv('gray', 'Gray') }}
						{{ macros.alert_colors_inv('dark-gray', 'Dark Gray') }}
						{{ macros.alert_colors_inv('black', 'Black') }}

						{{ macros.alert_colors_inv('red', 'Red') }}
						{{ macros.alert_colors_inv('rose', 'Rose') }}
						{{ macros.alert_colors_inv('magenta', 'Magenta') }}
						{{ macros.alert_colors_inv('violet', 'Violet') }}
						{{ macros.alert_colors_inv('blue', 'Blue') }}
						{{ macros.alert_colors_inv('azure', 'Azure') }}
						{{ macros.alert_colors_inv('cyan', 'Cyan') }}
						{{ macros.alert_colors_inv('spring-green', 'Spring Green') }}
						{{ macros.alert_colors_inv('green', 'Green') }}
						{{ macros.alert_colors_inv('chartreuse', 'Chartreuse') }}
						{{ macros.alert_colors_inv('yellow', 'Yellow') }}
						{{ macros.alert_colors_inv('orange', 'Orange') }}

						{{ macros.alert_colors_inv('orange-gray', 'Orange Gray') }}
						{{ macros.alert_colors_inv('dark-gray-orange', 'Dark Gray Orange') }}
						{{ macros.alert_colors_inv('blue-gray', 'Blue Gray') }}
						{{ macros.alert_colors_inv('light-gray-azure', 'Light Gray Azure') }}
						
					</div>
					{% endif %}
					
				</div>

			</div>

		</div>
		{% endif %}