<!-- _bg_gradients_7.njk -->
		{% if obe_settings['enable-obebs4-3-color-gradients'] === 'true' %}
        <div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container">
                
                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['colors']['sections'][31]['id'] }}" class="col-md-6 pb-5">
                    
                        {{ macros.page_section_heading(global_strings['colors']['sections'][31]['head'], global_strings['colors']['sections'][31]['subhead'], global_strings['colors']['sections'][31]['descrip']) }}
                        
                        {{ macros.bg_3col_grad('red-magenta', 'Red/Magenta') }}
                        {{ macros.bg_3col_grad('rose-violet', 'Rose/Violet') }}
                        {{ macros.bg_3col_grad('magenta-blue', 'Magenta/Blue') }}
                        {{ macros.bg_3col_grad('violet-azure', 'Violet/Azure') }}
                        {{ macros.bg_3col_grad('blue-cyan', 'Blue/Cyan') }}
                        {{ macros.bg_3col_grad('azure-spring-green', 'Azure/Spring Green') }}
                        {{ macros.bg_3col_grad('cyan-green', 'Cyan/Green') }}
                        {{ macros.bg_3col_grad('spring-green-chartreuse', 'Spring Green/Chartreuse') }}
                        {{ macros.bg_3col_grad('green-yellow', 'Green/Yellow') }}
                        {{ macros.bg_3col_grad('chartreuse-orange', 'Chartreuse/Orange') }}
                        {{ macros.bg_3col_grad('yellow-red', 'Yellow/Red') }}
                        {{ macros.bg_3col_grad('orange-rose', 'Orange/Rose') }}
                        {{ macros.bg_3col_grad('white-gray', 'White/Gray') }}
                        {{ macros.bg_3col_grad('light-gray-dark-gray', 'Light Gray/Dark Gray') }}
                        {{ macros.bg_3col_grad('gray-black', 'Gray/Black') }}


                        {{ macros.bg_3col_grad('magenta-red', 'Magenta/Red') }}
                        {{ macros.bg_3col_grad('violet-rose', 'Violet-Rose') }}
                        {{ macros.bg_3col_grad('blue-magenta', 'Blue/Magenta') }}
                        {{ macros.bg_3col_grad('azure-violet', 'Azure/Violet') }}
                        {{ macros.bg_3col_grad('cyan-blue', 'Cyan/Blue') }}
                        {{ macros.bg_3col_grad('spring-green-azure', 'Spring Green/Azure') }}
                        {{ macros.bg_3col_grad('green-cyan', 'Green/Cyan') }}
                        {{ macros.bg_3col_grad('chartreuse-spring-green', 'Chartreuse/Spring Green') }}
                        {{ macros.bg_3col_grad('green-yellow', 'Green/Yellow') }}
                        {{ macros.bg_3col_grad('orange-chartreuse', 'Orange/Chartreuse') }}
                        {{ macros.bg_3col_grad('red-yellow', 'Red/Yellow') }}
                        {{ macros.bg_3col_grad('rose-orange', 'Rose/Orange') }}
                        {{ macros.bg_3col_grad('white-gray', 'White/Gray') }}
                        {{ macros.bg_3col_grad('dark-gray-light-gray', 'Dark Gray/Light Gray') }}
                        {{ macros.bg_3col_grad('black-gray', 'Black/Gray') }}
                        
                    </div>
                    
                    <div id="{{ global_strings['colors']['sections'][32]['id'] }}" class="col-md-6 pb-5">
                    
                        {{ macros.page_section_heading(global_strings['colors']['sections'][32]['head'], global_strings['colors']['sections'][32]['subhead'], global_strings['colors']['sections'][32]['descrip']) }}
                        
                        {{ macros.bg_3col_grad_horiz('red-magenta', 'Red/Magenta') }}
                        {{ macros.bg_3col_grad_horiz('rose-violet', 'Rose/Violet') }}
                        {{ macros.bg_3col_grad_horiz('magenta-blue', 'Magenta/Blue') }}
                        {{ macros.bg_3col_grad_horiz('violet-azure', 'Violet/Azure') }}
                        {{ macros.bg_3col_grad_horiz('blue-cyan', 'Blue/Cyan') }}
                        {{ macros.bg_3col_grad_horiz('azure-spring-green', 'Azure/Spring Green') }}
                        {{ macros.bg_3col_grad_horiz('cyan-green', 'Cyan/Green') }}
                        {{ macros.bg_3col_grad_horiz('spring-green-chartreuse', 'Spring Green/Chartreuse') }}
                        {{ macros.bg_3col_grad_horiz('green-yellow', 'Green/Yellow') }}
                        {{ macros.bg_3col_grad_horiz('chartreuse-orange', 'Chartreuse/Orange') }}
                        {{ macros.bg_3col_grad_horiz('yellow-red', 'Yellow/Red') }}
                        {{ macros.bg_3col_grad_horiz('orange-rose', 'Orange/Rose') }}
                        {{ macros.bg_3col_grad_horiz('white-gray', 'White/Gray') }}
                        {{ macros.bg_3col_grad_horiz('light-gray-dark-gray', 'Light Gray/Dark Gray') }}
                        {{ macros.bg_3col_grad_horiz('gray-black', 'Gray/Black') }}


                        {{ macros.bg_3col_grad_horiz('magenta-red', 'Magenta/Red') }}
                        {{ macros.bg_3col_grad_horiz('violet-rose', 'Violet-Rose') }}
                        {{ macros.bg_3col_grad_horiz('blue-magenta', 'Blue/Magenta') }}
                        {{ macros.bg_3col_grad_horiz('azure-violet', 'Azure/Violet') }}
                        {{ macros.bg_3col_grad_horiz('cyan-blue', 'Cyan/Blue') }}
                        {{ macros.bg_3col_grad_horiz('spring-green-azure', 'Spring Green/Azure') }}
                        {{ macros.bg_3col_grad_horiz('green-cyan', 'Green/Cyan') }}
                        {{ macros.bg_3col_grad_horiz('chartreuse-spring-green', 'Chartreuse/Spring Green') }}
                        {{ macros.bg_3col_grad_horiz('green-yellow', 'Green/Yellow') }}
                        {{ macros.bg_3col_grad_horiz('orange-chartreuse', 'Orange/Chartreuse') }}
                        {{ macros.bg_3col_grad_horiz('red-yellow', 'Red/Yellow') }}
                        {{ macros.bg_3col_grad_horiz('rose-orange', 'Rose/Orange') }}
                        {{ macros.bg_3col_grad_horiz('white-gray', 'White/Gray') }}
                        {{ macros.bg_3col_grad_horiz('dark-gray-light-gray', 'Dark Gray/Light Gray') }}
                        {{ macros.bg_3col_grad_horiz('black-gray', 'Black/Gray') }}
                        
                    </div>
                    
                </div>

            </div>

        </div>
        {% endif %}