<!-- _bg_gradients_5.njk -->
		{% if obe_settings['enable-obebs4-2-color-gradients'] === 'true' %}
        <div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container">
                
                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['colors']['sections'][27]['id'] }}" class="col-md-6 pb-5">
                    
                        {{ macros.page_section_heading(global_strings['colors']['sections'][27]['head'], global_strings['colors']['sections'][27]['subhead'], global_strings['colors']['sections'][27]['descrip']) }}
                        
                        {{ macros.bg_2col_grad_diag_up('red-rose', 'Red/Rose') }}
                        {{ macros.bg_2col_grad_diag_up('rose-magenta', 'Rose/Magenta') }}
                        {{ macros.bg_2col_grad_diag_up('magenta-violet', 'Magenta/Violet') }}
                        {{ macros.bg_2col_grad_diag_up('violet-blue', 'Violet/Blue') }}
                        {{ macros.bg_2col_grad_diag_up('blue-azure', 'Blue/Azure') }}
                        {{ macros.bg_2col_grad_diag_up('azure-cyan', 'Azure/Cyan') }}
                        {{ macros.bg_2col_grad_diag_up('cyan-spring-green', 'Cyan/Spring Green') }}
                        {{ macros.bg_2col_grad_diag_up('spring-green-green', 'Spring Green/Green') }}
                        {{ macros.bg_2col_grad_diag_up('green-chartreuse', 'Green/Chartreuse') }}
                        {{ macros.bg_2col_grad_diag_up('chartreuse-yellow', 'Chartreuse/Yellow') }}
                        {{ macros.bg_2col_grad_diag_up('yellow-orange', 'Yellow/Orange') }}
                        {{ macros.bg_2col_grad_diag_up('orange-red', 'Orange/Red') }}
                        {{ macros.bg_2col_grad_diag_up('orange-gray-dark-gray-orange', 'Orange Gray/Dark Gray Orange') }}
                        {{ macros.bg_2col_grad_diag_up('light-gray-azure-blue-gray', 'Light Gray Azure/Blue Gray') }}
                        {{ macros.bg_2col_grad_diag_up('white-light-gray', 'White/Light Gray') }}
                        {{ macros.bg_2col_grad_diag_up('light-gray-gray', 'Light Gray/Gray') }}
                        {{ macros.bg_2col_grad_diag_up('gray-dark-gray', 'Gray/Dark Gray') }}
                        {{ macros.bg_2col_grad_diag_up('dark-gray-black', 'Dark Gray/Black') }}


                        {{ macros.bg_2col_grad_diag_up('rose-red', 'Rose/Red') }}
                        {{ macros.bg_2col_grad_diag_up('magenta-rose', 'Magenta/Rose') }}
                        {{ macros.bg_2col_grad_diag_up('violet-magenta', 'Violet/Magenta') }}
                        {{ macros.bg_2col_grad_diag_up('blue-violet', 'Blue/Violet') }}
                        {{ macros.bg_2col_grad_diag_up('azure-blue', 'Azure/Blue') }}
                        {{ macros.bg_2col_grad_diag_up('cyan-azure', 'Cyan/Azure') }}
                        {{ macros.bg_2col_grad_diag_up('spring-green-cyan', 'Spring Green/Cyan') }}
                        {{ macros.bg_2col_grad_diag_up('green-spring-green', 'Green/Spring Green') }}
                        {{ macros.bg_2col_grad_diag_up('chartreuse-green', 'Chartreuse/Green') }}
                        {{ macros.bg_2col_grad_diag_up('yellow-chartreuse', 'Yellow/Chartreuse') }}
                        {{ macros.bg_2col_grad_diag_up('orange-yellow', 'Orange/Yellow') }}
                        {{ macros.bg_2col_grad_diag_up('red-orange', 'Red/Orange') }}
                        {{ macros.bg_2col_grad_diag_up('dark-gray-orange-orange-gray', 'Dark Gray Orange/Orange Gray') }}
                        {{ macros.bg_2col_grad_diag_up('blue-gray-light-gray-azure', 'Blue Gray/Light Gray Azure') }}
                        {{ macros.bg_2col_grad_diag_up('light-gray-white', 'Light Gray/White') }}
                        {{ macros.bg_2col_grad_diag_up('gray-light-gray', 'Gray/Light Gray') }}
                        {{ macros.bg_2col_grad_diag_up('dark-gray-gray', 'Dark Gray/Gray') }}
                        {{ macros.bg_2col_grad_diag_up('black-dark-gray', 'Black/Dark Gray') }}
                        
                    </div>
                    
                    <div id="{{ global_strings['colors']['sections'][28]['id'] }}" class="col-md-6 pb-5">
                    
                        {{ macros.page_section_heading(global_strings['colors']['sections'][28]['head'], global_strings['colors']['sections'][28]['subhead'], global_strings['colors']['sections'][28]['descrip']) }}
                        
                        {{ macros.bg_2col_grad_diag_down('red-rose', 'Red/Rose') }}
                        {{ macros.bg_2col_grad_diag_down('rose-magenta', 'Rose/Magenta') }}
                        {{ macros.bg_2col_grad_diag_down('magenta-violet', 'Magenta/Violet') }}
                        {{ macros.bg_2col_grad_diag_down('violet-blue', 'Violet/Blue') }}
                        {{ macros.bg_2col_grad_diag_down('blue-azure', 'Blue/Azure') }}
                        {{ macros.bg_2col_grad_diag_down('azure-cyan', 'Azure/Cyan') }}
                        {{ macros.bg_2col_grad_diag_down('cyan-spring-green', 'Cyan/Spring Green') }}
                        {{ macros.bg_2col_grad_diag_down('spring-green-green', 'Spring Green/Green') }}
                        {{ macros.bg_2col_grad_diag_down('green-chartreuse', 'Green/Chartreuse') }}
                        {{ macros.bg_2col_grad_diag_down('chartreuse-yellow', 'Chartreuse/Yellow') }}
                        {{ macros.bg_2col_grad_diag_down('yellow-orange', 'Yellow/Orange') }}
                        {{ macros.bg_2col_grad_diag_down('orange-red', 'Orange/Red') }}
                        {{ macros.bg_2col_grad_diag_down('orange-gray-dark-gray-orange', 'Orange Gray/Dark Gray Orange') }}
                        {{ macros.bg_2col_grad_diag_down('light-gray-azure-blue-gray', 'Light Gray Azure/Blue Gray') }}
                        {{ macros.bg_2col_grad_diag_down('white-light-gray', 'White/Light Gray') }}
                        {{ macros.bg_2col_grad_diag_down('light-gray-gray', 'Light Gray/Gray') }}
                        {{ macros.bg_2col_grad_diag_down('gray-dark-gray', 'Gray/Dark Gray') }}
                        {{ macros.bg_2col_grad_diag_down('dark-gray-black', 'Dark Gray/Black') }}


                        {{ macros.bg_2col_grad_diag_down('rose-red', 'Rose/Red') }}
                        {{ macros.bg_2col_grad_diag_down('magenta-rose', 'Magenta/Rose') }}
                        {{ macros.bg_2col_grad_diag_down('violet-magenta', 'Violet/Magenta') }}
                        {{ macros.bg_2col_grad_diag_down('blue-violet', 'Blue/Violet') }}
                        {{ macros.bg_2col_grad_diag_down('azure-blue', 'Azure/Blue') }}
                        {{ macros.bg_2col_grad_diag_down('cyan-azure', 'Cyan/Azure') }}
                        {{ macros.bg_2col_grad_diag_down('spring-green-cyan', 'Spring Green/Cyan') }}
                        {{ macros.bg_2col_grad_diag_down('green-spring-green', 'Green/Spring Green') }}
                        {{ macros.bg_2col_grad_diag_down('chartreuse-green', 'Chartreuse/Green') }}
                        {{ macros.bg_2col_grad_diag_down('yellow-chartreuse', 'Yellow/Chartreuse') }}
                        {{ macros.bg_2col_grad_diag_down('orange-yellow', 'Orange/Yellow') }}
                        {{ macros.bg_2col_grad_diag_down('red-orange', 'Red/Orange') }}
                        {{ macros.bg_2col_grad_diag_down('dark-gray-orange-orange-gray', 'Dark Gray Orange/Orange Gray') }}
                        {{ macros.bg_2col_grad_diag_down('blue-gray-light-gray-azure', 'Blue Gray/Light Gray Azure') }}
                        {{ macros.bg_2col_grad_diag_down('light-gray-white', 'Light Gray/White') }}
                        {{ macros.bg_2col_grad_diag_down('gray-light-gray', 'Gray/Light Gray') }}
                        {{ macros.bg_2col_grad_diag_down('dark-gray-gray', 'Dark Gray/Gray') }}
                        {{ macros.bg_2col_grad_diag_down('black-dark-gray', 'Black/Dark Gray') }}
                        
                    </div>
                
                </div>

            </div>

        </div>
        {% endif %}