<!-- _backgrounds_basic.njk -->
		{% if obe_settings['enable-obebs4-background-wheel-colors'] === 'true' %}
        <div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container">

                <div class="row justify-content-center">
                
                    <div id="{{ global_strings['colors']['sections'][2]['id'] }}" class="col-12 pb-5">
                    
                        {{ macros.page_section_heading(global_strings['colors']['sections'][2]['head'], global_strings['colors']['sections'][2]['subhead'], global_strings['colors']['sections'][2]['descrip']) }}
                        
                        {{ macros.bg_element('primary', 'Primary', 'text-white') }}
                        {{ macros.bg_element('secondary', 'Secondary', 'text-white') }}
                        {{ macros.bg_element('success', 'Success', 'text-white') }}
                        {{ macros.bg_element('danger', 'Danger', 'text-white') }}
                        {{ macros.bg_element('warning', 'Warning', 'text-white') }}
                        {{ macros.bg_element('info', 'Info', 'text-white') }}
                        {{ macros.bg_element('light', 'Light', 'text-black') }}
                        {{ macros.bg_element('dark', 'Dark', 'text-white') }}
                        
                        {{ macros.bg_element('white', 'White', 'text-black') }}
                        {{ macros.bg_element('light-gray', 'Light Gray', 'text-white') }}
                        {{ macros.bg_element('gray', 'Gray', 'text-white') }}
                        {{ macros.bg_element('dark-gray', 'Dark Gray', 'text-white') }}
                        {{ macros.bg_element('black', 'Black', 'text-white') }}

                        {{ macros.bg_element('red', 'Red', 'text-white') }}
                        {{ macros.bg_element('rose', 'Rose', 'text-white') }}
                        {{ macros.bg_element('magenta', 'Magenta', 'text-white') }}
                        {{ macros.bg_element('violet', 'Violet', 'text-white') }}
                        {{ macros.bg_element('blue', 'Blue', 'text-white') }}
                        {{ macros.bg_element('azure', 'Azure', 'text-white') }}
                        {{ macros.bg_element('cyan', 'Cyan', 'text-white') }}
                        {{ macros.bg_element('spring-green', 'Spring Green', 'text-white') }}
                        {{ macros.bg_element('green', 'Green', 'text-white') }}
                        {{ macros.bg_element('chartreuse', 'Chartreuse', 'text-black') }}
                        {{ macros.bg_element('yellow', 'Yellow', 'text-black') }}
                        {{ macros.bg_element('orange', 'Orange', 'text-white') }}

                        {{ macros.bg_element('orange-gray', 'Orange Gray', 'text-white') }}
                        {{ macros.bg_element('dark-gray-orange', 'Dark Gray Orange', 'text-white') }}
                        {{ macros.bg_element('blue-gray', 'Blue Gray', 'text-white') }}
                        {{ macros.bg_element('light-gray-azure', 'Light Gray Azure', 'text-white') }}
                    
                    </div>
                    
                </div>

            </div>

        </div>
        {% endif %}