<!-- _bg_gradients_1.njk -->
		{% if obe_settings['enable-obebs4-1-color-gradients'] === 'true' %}
		<div class="container-fluid pt-5 text-center bg-white text-dark">
		
			<div class="container">

				<div class="row justify-content-center">
				
					<div id="{{ global_strings['colors']['sections'][6]['id'] }}" class="col-md-6 pb-5">
					
						{{ macros.page_section_heading(global_strings['colors']['sections'][6]['head'], global_strings['colors']['sections'][6]['subhead'], global_strings['colors']['sections'][6]['descrip']) }}
						
						{{ macros.bg_gradient('primary', 'Primary') }}
						{{ macros.bg_gradient('secondary', 'Secondary') }}
						{{ macros.bg_gradient('success', 'Success') }}
						{{ macros.bg_gradient('danger', 'Danger') }}
						{{ macros.bg_gradient('warning', 'Warning') }}
						{{ macros.bg_gradient('info', 'Info') }}
						{{ macros.bg_gradient('light', 'Light') }}
						{{ macros.bg_gradient('dark', 'Dark') }}

						{{ macros.bg_gradient('white', 'White') }}
						{{ macros.bg_gradient('light-gray', 'Light Gray') }}
						{{ macros.bg_gradient('gray', 'Gray') }}
						{{ macros.bg_gradient('dark-gray', 'Dark Gray') }}
						{{ macros.bg_gradient('black', 'Black') }}

						{{ macros.bg_gradient('red', 'Red') }}
						{{ macros.bg_gradient('rose', 'Rose') }}
						{{ macros.bg_gradient('magenta', 'Magenta') }}
						{{ macros.bg_gradient('violet', 'Violet') }}
						{{ macros.bg_gradient('blue', 'Blue') }}
						{{ macros.bg_gradient('azure', 'Azure') }}
						{{ macros.bg_gradient('cyan', 'Cyan') }}
						{{ macros.bg_gradient('spring-green', 'Spring Green') }}
						{{ macros.bg_gradient('green', 'Green') }}
						{{ macros.bg_gradient('chartreuse', 'Chartreuse') }}
						{{ macros.bg_gradient('yellow', 'Yellow') }}
						{{ macros.bg_gradient('orange', 'Orange') }}

						{{ macros.bg_gradient('orange-gray', 'Orange Gray') }}
						{{ macros.bg_gradient('dark-gray-orange', 'Dark Gray Orange') }}
						{{ macros.bg_gradient('blue-gray', 'Blue Gray') }}
						{{ macros.bg_gradient('light-gray-azure', 'Light Gray Azure') }}



						{{ macros.bg_gradient_rev('primary', 'Primary') }}
						{{ macros.bg_gradient_rev('secondary', 'Secondary') }}
						{{ macros.bg_gradient_rev('success', 'Success') }}
						{{ macros.bg_gradient_rev('danger', 'Danger') }}
						{{ macros.bg_gradient_rev('warning', 'Warning') }}
						{{ macros.bg_gradient_rev('info', 'Info') }}
						{{ macros.bg_gradient_rev('light', 'Light') }}
						{{ macros.bg_gradient_rev('dark', 'Dark') }}

						{{ macros.bg_gradient_rev('white', 'White') }}
						{{ macros.bg_gradient_rev('light-gray', 'Light Gray') }}
						{{ macros.bg_gradient_rev('gray', 'Gray') }}
						{{ macros.bg_gradient_rev('dark-gray', 'Dark Gray') }}
						{{ macros.bg_gradient_rev('black', 'Black') }}

						{{ macros.bg_gradient_rev('red', 'Red') }}
						{{ macros.bg_gradient_rev('rose', 'Rose') }}
						{{ macros.bg_gradient_rev('magenta', 'Magenta') }}
						{{ macros.bg_gradient_rev('violet', 'Violet') }}
						{{ macros.bg_gradient_rev('blue', 'Blue') }}
						{{ macros.bg_gradient_rev('azure', 'Azure') }}
						{{ macros.bg_gradient_rev('cyan', 'Cyan') }}
						{{ macros.bg_gradient_rev('spring-green', 'Spring Green') }}
						{{ macros.bg_gradient_rev('green', 'Green') }}
						{{ macros.bg_gradient_rev('chartreuse', 'Chartreuse') }}
						{{ macros.bg_gradient_rev('yellow', 'Yellow') }}
						{{ macros.bg_gradient_rev('orange', 'Orange') }}

						{{ macros.bg_gradient_rev('orange-gray', 'Orange Gray') }}
						{{ macros.bg_gradient_rev('dark-gray-orange', 'Dark Gray Orange') }}
						{{ macros.bg_gradient_rev('blue-gray', 'Blue Gray') }}
						{{ macros.bg_gradient_rev('light-gray-azure', 'Light Gray Azure') }}
					
					</div>
					
					<div id="{{ global_strings['colors']['sections'][7]['id'] }}" class="col-md-6 pb-5">
					
						{{ macros.page_section_heading(global_strings['colors']['sections'][7]['head'], global_strings['colors']['sections'][7]['subhead'], global_strings['colors']['sections'][7]['descrip']) }}

						{{ macros.bg_gradient_horiz('primary', 'Primary') }}
						{{ macros.bg_gradient_horiz('secondary', 'Secondary') }}
						{{ macros.bg_gradient_horiz('success', 'Success') }}
						{{ macros.bg_gradient_horiz('danger', 'Danger') }}
						{{ macros.bg_gradient_horiz('warning', 'Warning') }}
						{{ macros.bg_gradient_horiz('info', 'Info') }}
						{{ macros.bg_gradient_horiz('light', 'Light') }}
						{{ macros.bg_gradient_horiz('dark', 'Dark') }}

						{{ macros.bg_gradient_horiz('white', 'White') }}
						{{ macros.bg_gradient_horiz('light-gray', 'Light Gray') }}
						{{ macros.bg_gradient_horiz('gray', 'Gray') }}
						{{ macros.bg_gradient_horiz('dark-gray', 'Dark Gray') }}
						{{ macros.bg_gradient_horiz('black', 'Black') }}

						{{ macros.bg_gradient_horiz('red', 'Red') }}
						{{ macros.bg_gradient_horiz('rose', 'Rose') }}
						{{ macros.bg_gradient_horiz('magenta', 'Magenta') }}
						{{ macros.bg_gradient_horiz('violet', 'Violet') }}
						{{ macros.bg_gradient_horiz('blue', 'Blue') }}
						{{ macros.bg_gradient_horiz('azure', 'Azure') }}
						{{ macros.bg_gradient_horiz('cyan', 'Cyan') }}
						{{ macros.bg_gradient_horiz('spring-green', 'Spring Green') }}
						{{ macros.bg_gradient_horiz('green', 'Green') }}
						{{ macros.bg_gradient_horiz('chartreuse', 'Chartreuse') }}
						{{ macros.bg_gradient_horiz('yellow', 'Yellow') }}
						{{ macros.bg_gradient_horiz('orange', 'Orange') }}

						{{ macros.bg_gradient_horiz('orange-gray', 'Orange Gray') }}
						{{ macros.bg_gradient_horiz('dark-gray-orange', 'Dark Gray Orange') }}
						{{ macros.bg_gradient_horiz('blue-gray', 'Blue Gray') }}
						{{ macros.bg_gradient_horiz('light-gray-azure', 'Light Gray Azure') }}



						{{ macros.bg_gradient_horiz_rev('primary', 'Primary') }}
						{{ macros.bg_gradient_horiz_rev('secondary', 'Secondary') }}
						{{ macros.bg_gradient_horiz_rev('success', 'Success') }}
						{{ macros.bg_gradient_horiz_rev('danger', 'Danger') }}
						{{ macros.bg_gradient_horiz_rev('warning', 'Warning') }}
						{{ macros.bg_gradient_horiz_rev('info', 'Info') }}
						{{ macros.bg_gradient_horiz_rev('light', 'Light') }}
						{{ macros.bg_gradient_horiz_rev('dark', 'Dark') }}

						{{ macros.bg_gradient_horiz_rev('white', 'White') }}
						{{ macros.bg_gradient_horiz_rev('light-gray', 'Light Gray') }}
						{{ macros.bg_gradient_horiz_rev('gray', 'Gray') }}
						{{ macros.bg_gradient_horiz_rev('dark-gray', 'Dark Gray') }}
						{{ macros.bg_gradient_horiz_rev('black', 'Black') }}

						{{ macros.bg_gradient_horiz_rev('red', 'Red') }}
						{{ macros.bg_gradient_horiz_rev('rose', 'Rose') }}
						{{ macros.bg_gradient_horiz_rev('magenta', 'Magenta') }}
						{{ macros.bg_gradient_horiz_rev('violet', 'Violet') }}
						{{ macros.bg_gradient_horiz_rev('blue', 'Blue') }}
						{{ macros.bg_gradient_horiz_rev('azure', 'Azure') }}
						{{ macros.bg_gradient_horiz_rev('cyan', 'Cyan') }}
						{{ macros.bg_gradient_horiz_rev('spring-green', 'Spring Green') }}
						{{ macros.bg_gradient_horiz_rev('green', 'Green') }}
						{{ macros.bg_gradient_horiz_rev('chartreuse', 'Chartreuse') }}
						{{ macros.bg_gradient_horiz_rev('yellow', 'Yellow') }}
						{{ macros.bg_gradient_horiz_rev('orange', 'Orange') }}

						{{ macros.bg_gradient_horiz_rev('orange-gray', 'Orange Gray') }}
						{{ macros.bg_gradient_horiz_rev('dark-gray-orange', 'Dark Gray Orange') }}
						{{ macros.bg_gradient_horiz_rev('blue-gray', 'Blue Gray') }}
						{{ macros.bg_gradient_horiz_rev('light-gray-azure', 'Light Gray Azure') }}
						
					</div>
					
				</div>

			</div>

		</div>
		{% endif %}