<!-- _bg_gradients_8.njk -->
		{% if obe_settings['enable-obebs4-3-color-gradients'] === 'true' %}
		<div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container">
                
                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['colors']['sections'][33]['id'] }}" class="col-md-6 pb-5">
                    
                       {{ macros.page_section_heading(global_strings['colors']['sections'][33]['head'], global_strings['colors']['sections'][33]['subhead'], global_strings['colors']['sections'][33]['descrip']) }}

                        {% macro bg_3col_grad_diag_up(classPartial, namePartial) %}
                        <div class="js-prism mb-2">
                            <div class="bg-gradient-{{ classPartial }}-diagonal-up">{{ namePartial }} Diagonal Up</div>
                        </div>
                        {% endmacro %}
                        
                        {{ bg_3col_grad_diag_up('red-magenta', 'Red/Magenta') }}
                        {{ bg_3col_grad_diag_up('rose-violet', 'Rose/Violet') }}
                        {{ bg_3col_grad_diag_up('magenta-blue', 'Magenta/Blue') }}
                        {{ bg_3col_grad_diag_up('violet-azure', 'Violet/Azure') }}
                        {{ bg_3col_grad_diag_up('blue-cyan', 'Blue/Cyan') }}
                        {{ bg_3col_grad_diag_up('azure-spring-green', 'Azure/Spring Green') }}
                        {{ bg_3col_grad_diag_up('cyan-green', 'Cyan/Green') }}
                        {{ bg_3col_grad_diag_up('spring-green-chartreuse', 'Spring Green/Chartreuse') }}
                        {{ bg_3col_grad_diag_up('green-yellow', 'Green/Yellow') }}
                        {{ bg_3col_grad_diag_up('chartreuse-orange', 'Chartreuse/Orange') }}
                        {{ bg_3col_grad_diag_up('yellow-red', 'Yellow/Red') }}
                        {{ bg_3col_grad_diag_up('orange-rose', 'Orange/Rose') }}
                        {{ bg_3col_grad_diag_up('white-gray', 'White/Gray') }}
                        {{ bg_3col_grad_diag_up('light-gray-dark-gray', 'Light Gray/Dark Gray') }}
                        {{ bg_3col_grad_diag_up('gray-black', 'Gray/Black') }}


                        {{ bg_3col_grad_diag_up('magenta-red', 'Magenta/Red') }}
                        {{ bg_3col_grad_diag_up('violet-rose', 'Violet-Rose') }}
                        {{ bg_3col_grad_diag_up('blue-magenta', 'Blue/Magenta') }}
                        {{ bg_3col_grad_diag_up('azure-violet', 'Azure/Violet') }}
                        {{ bg_3col_grad_diag_up('cyan-blue', 'Cyan/Blue') }}
                        {{ bg_3col_grad_diag_up('spring-green-azure', 'Spring Green/Azure') }}
                        {{ bg_3col_grad_diag_up('green-cyan', 'Green/Cyan') }}
                        {{ bg_3col_grad_diag_up('chartreuse-spring-green', 'Chartreuse/Spring Green') }}
                        {{ bg_3col_grad_diag_up('green-yellow', 'Green/Yellow') }}
                        {{ bg_3col_grad_diag_up('orange-chartreuse', 'Orange/Chartreuse') }}
                        {{ bg_3col_grad_diag_up('red-yellow', 'Red/Yellow') }}
                        {{ bg_3col_grad_diag_up('rose-orange', 'Rose/Orange') }}
                        {{ bg_3col_grad_diag_up('white-gray', 'White/Gray') }}
                        {{ bg_3col_grad_diag_up('dark-gray-light-gray', 'Dark Gray/Light Gray') }}
                        {{ bg_3col_grad_diag_up('black-gray', 'Black/Gray') }}
                        
                    </div>
                    
                    <div id="{{ global_strings['colors']['sections'][34]['id'] }}" class="col-md-6 pb-5">
                    
                        {{ macros.page_section_heading(global_strings['colors']['sections'][34]['head'], global_strings['colors']['sections'][34]['subhead'], global_strings['colors']['sections'][34]['descrip']) }}

                        {% macro bg_3col_grad_diag_down(classPartial, namePartial) %}
                        <div class="js-prism mb-2">
                            <div class="bg-gradient-{{ classPartial }}-diagonal-down">{{ namePartial }} Diagonal Down</div>
                        </div>
                        {% endmacro %}
                        
                        {{ bg_3col_grad_diag_down('red-magenta', 'Red/Magenta') }}
                        {{ bg_3col_grad_diag_down('rose-violet', 'Rose/Violet') }}
                        {{ bg_3col_grad_diag_down('magenta-blue', 'Magenta/Blue') }}
                        {{ bg_3col_grad_diag_down('violet-azure', 'Violet/Azure') }}
                        {{ bg_3col_grad_diag_down('blue-cyan', 'Blue/Cyan') }}
                        {{ bg_3col_grad_diag_down('azure-spring-green', 'Azure/Spring Green') }}
                        {{ bg_3col_grad_diag_down('cyan-green', 'Cyan/Green') }}
                        {{ bg_3col_grad_diag_down('spring-green-chartreuse', 'Spring Green/Chartreuse') }}
                        {{ bg_3col_grad_diag_down('green-yellow', 'Green/Yellow') }}
                        {{ bg_3col_grad_diag_down('chartreuse-orange', 'Chartreuse/Orange') }}
                        {{ bg_3col_grad_diag_down('yellow-red', 'Yellow/Red') }}
                        {{ bg_3col_grad_diag_down('orange-rose', 'Orange/Rose') }}
                        {{ bg_3col_grad_diag_down('white-gray', 'White/Gray') }}
                        {{ bg_3col_grad_diag_down('light-gray-dark-gray', 'Light Gray/Dark Gray') }}
                        {{ bg_3col_grad_diag_down('gray-black', 'Gray/Black') }}


                        {{ bg_3col_grad_diag_down('magenta-red', 'Magenta/Red') }}
                        {{ bg_3col_grad_diag_down('violet-rose', 'Violet-Rose') }}
                        {{ bg_3col_grad_diag_down('blue-magenta', 'Blue/Magenta') }}
                        {{ bg_3col_grad_diag_down('azure-violet', 'Azure/Violet') }}
                        {{ bg_3col_grad_diag_down('cyan-blue', 'Cyan/Blue') }}
                        {{ bg_3col_grad_diag_down('spring-green-azure', 'Spring Green/Azure') }}
                        {{ bg_3col_grad_diag_down('green-cyan', 'Green/Cyan') }}
                        {{ bg_3col_grad_diag_down('chartreuse-spring-green', 'Chartreuse/Spring Green') }}
                        {{ bg_3col_grad_diag_down('green-yellow', 'Green/Yellow') }}
                        {{ bg_3col_grad_diag_down('orange-chartreuse', 'Orange/Chartreuse') }}
                        {{ bg_3col_grad_diag_down('red-yellow', 'Red/Yellow') }}
                        {{ bg_3col_grad_diag_down('rose-orange', 'Rose/Orange') }}
                        {{ bg_3col_grad_diag_down('white-gray', 'White/Gray') }}
                        {{ bg_3col_grad_diag_down('dark-gray-light-gray', 'Dark Gray/Light Gray') }}
                        {{ bg_3col_grad_diag_down('black-gray', 'Black/Gray') }}
                        
                    </div>
                    
                </div>

            </div>

        </div>
		{% endif %}