<!-- _bg_gradients_3.njk -->
		{% if obe_settings['enable-obeb4-1-color-gradients'] === 'true' %}
		<div class="container-fluid pt-5 text-center bg-white text-dark">
		
			<div class="container">
			
				<div class="row justify-content-center">
					
					<div id="{{ global_strings['colors']['sections']['9']['id'] }}" class="col-md-6 pb-5">
					
						{% set headingHeadline = global_strings['colors']['sections']['9']['head'] %}
						{% set headingSubline = global_strings['colors']['sections']['9']['subhead'] %}
						{% set headingDescrip = global_strings['colors']['sections']['9']['descrip'] %}
						{% include "partials/_columnHeading.njk" %}

						{% macro bg_gradient_tl(classPartial, namePartial) %}
						<div class="js-prism mb-2">
							<div class="bg-gradient-{{ classPartial }}-top-left">{{ namePartial }} Top Left Gradient</div>
						</div>
						{% endmacro %}

						{{ bg_gradient_tl('primary', 'Primary') }}
						{{ bg_gradient_tl('secondary', 'Secondary') }}
						{{ bg_gradient_tl('success', 'Success') }}
						{{ bg_gradient_tl('danger', 'Danger') }}
						{{ bg_gradient_tl('warning', 'Warning') }}
						{{ bg_gradient_tl('info', 'Info') }}
						{{ bg_gradient_tl('light', 'Light') }}
						{{ bg_gradient_tl('dark', 'Dark') }}

						{{ bg_gradient_tl('white', 'White') }}
						{{ bg_gradient_tl('light-gray', 'Light Gray') }}
						{{ bg_gradient_tl('gray', 'Gray') }}
						{{ bg_gradient_tl('dark-gray', 'Dark Gray') }}
						{{ bg_gradient_tl('black', 'Black') }}

						{{ bg_gradient_tl('red', 'Red') }}
						{{ bg_gradient_tl('rose', 'Rose') }}
						{{ bg_gradient_tl('magenta', 'Magenta') }}
						{{ bg_gradient_tl('violet', 'Violet') }}
						{{ bg_gradient_tl('blue', 'Blue') }}
						{{ bg_gradient_tl('azure', 'Azure') }}
						{{ bg_gradient_tl('cyan', 'Cyan') }}
						{{ bg_gradient_tl('spring-green', 'Spring Green') }}
						{{ bg_gradient_tl('green', 'Green') }}
						{{ bg_gradient_tl('chartreuse', 'Chartreuse') }}
						{{ bg_gradient_tl('yellow', 'Yellow') }}
						{{ bg_gradient_tl('orange', 'Orange') }}

						{{ bg_gradient_tl('orange-gray', 'Orange Gray') }}
						{{ bg_gradient_tl('dark-gray-orange', 'Dark Gray Orange') }}
						{{ bg_gradient_tl('blue-gray', 'Blue Gray') }}
						{{ bg_gradient_tl('light-gray-azure', 'Light Gray Azure') }}


						
						{% macro bg_gradient_tr(classPartial, namePartial) %}
						<div class="js-prism mb-2">
							<div class="bg-gradient-{{ classPartial }}-top-right">{{ namePartial }} Top Right Gradient</div>
						</div>
						{% endmacro %}
						


						{{ bg_gradient_tr('primary', 'Primary') }}
						{{ bg_gradient_tr('secondary', 'Secondary') }}
						{{ bg_gradient_tr('success', 'Success') }}
						{{ bg_gradient_tr('danger', 'Danger') }}
						{{ bg_gradient_tr('warning', 'Warning') }}
						{{ bg_gradient_tr('info', 'Info') }}
						{{ bg_gradient_tr('light', 'Light') }}
						{{ bg_gradient_tr('dark', 'Dark') }}

						{{ bg_gradient_tr('white', 'White') }}
						{{ bg_gradient_tr('light-gray', 'Light Gray') }}
						{{ bg_gradient_tr('gray', 'Gray') }}
						{{ bg_gradient_tr('dark-gray', 'Dark Gray') }}
						{{ bg_gradient_tr('black', 'Black') }}

						{{ bg_gradient_tr('red', 'Red') }}
						{{ bg_gradient_tr('rose', 'Rose') }}
						{{ bg_gradient_tr('magenta', 'Magenta') }}
						{{ bg_gradient_tr('violet', 'Violet') }}
						{{ bg_gradient_tr('blue', 'Blue') }}
						{{ bg_gradient_tr('azure', 'Azure') }}
						{{ bg_gradient_tr('cyan', 'Cyan') }}
						{{ bg_gradient_tr('spring-green', 'Spring Green') }}
						{{ bg_gradient_tr('green', 'Green') }}
						{{ bg_gradient_tr('chartreuse', 'Chartreuse') }}
						{{ bg_gradient_tr('yellow', 'Yellow') }}
						{{ bg_gradient_tr('orange', 'Orange') }}

						{{ bg_gradient_tr('orange-gray', 'Orange Gray') }}
						{{ bg_gradient_tr('dark-gray-orange', 'Dark Gray Orange') }}
						{{ bg_gradient_tr('blue-gray', 'Blue Gray') }}
						{{ bg_gradient_tr('light-gray-azure', 'Light Gray Azure') }}
						
					</div>
					
					<div id="{{ global_strings['colors']['sections']['10']['id'] }}" class="col-md-6 pb-5">
					
						{% set headingHeadline = global_strings['colors']['sections']['10']['head'] %}
						{% set headingSubline = global_strings['colors']['sections']['10']['subhead'] %}
						{% set headingDescrip = global_strings['colors']['sections']['10']['descrip'] %}
						{% include "partials/_columnHeading.njk" %}

						{% macro bg_gradient_bl(classPartial, namePartial) %}
						<div class="js-prism mb-2">
							<div class="bg-gradient-{{ classPartial }}-bottom-left">{{ namePartial }} Bottom Left Gradient</div>
						</div>
						{% endmacro %}

						{{ bg_gradient_bl('primary', 'Primary') }}
						{{ bg_gradient_bl('secondary', 'Secondary') }}
						{{ bg_gradient_bl('success', 'Success') }}
						{{ bg_gradient_bl('danger', 'Danger') }}
						{{ bg_gradient_bl('warning', 'Warning') }}
						{{ bg_gradient_bl('info', 'Info') }}
						{{ bg_gradient_bl('light', 'Light') }}
						{{ bg_gradient_bl('dark', 'Dark') }}

						{{ bg_gradient_bl('white', 'White') }}
						{{ bg_gradient_bl('light-gray', 'Light Gray') }}
						{{ bg_gradient_bl('gray', 'Gray') }}
						{{ bg_gradient_bl('dark-gray', 'Dark Gray') }}
						{{ bg_gradient_bl('black', 'Black') }}

						{{ bg_gradient_bl('red', 'Red') }}
						{{ bg_gradient_bl('rose', 'Rose') }}
						{{ bg_gradient_bl('magenta', 'Magenta') }}
						{{ bg_gradient_bl('violet', 'Violet') }}
						{{ bg_gradient_bl('blue', 'Blue') }}
						{{ bg_gradient_bl('azure', 'Azure') }}
						{{ bg_gradient_bl('cyan', 'Cyan') }}
						{{ bg_gradient_bl('spring-green', 'Spring Green') }}
						{{ bg_gradient_bl('green', 'Green') }}
						{{ bg_gradient_bl('chartreuse', 'Chartreuse') }}
						{{ bg_gradient_bl('yellow', 'Yellow') }}
						{{ bg_gradient_bl('orange', 'Orange') }}

						{{ bg_gradient_bl('orange-gray', 'Orange Gray') }}
						{{ bg_gradient_bl('dark-gray-orange', 'Dark Gray Orange') }}
						{{ bg_gradient_bl('blue-gray', 'Blue Gray') }}
						{{ bg_gradient_bl('light-gray-azure', 'Light Gray Azure') }}



						{% macro bg_gradient_br(classPartial, namePartial) %}
						<div class="js-prism mb-2">
							<div class="bg-gradient-{{ classPartial }}-bottom-right">{{ namePartial }} Bottom Right Gradient</div>
						</div>
						{% endmacro %}



						{{ bg_gradient_br('primary', 'Primary') }}
						{{ bg_gradient_br('secondary', 'Secondary') }}
						{{ bg_gradient_br('success', 'Success') }}
						{{ bg_gradient_br('danger', 'Danger') }}
						{{ bg_gradient_br('warning', 'Warning') }}
						{{ bg_gradient_br('info', 'Info') }}
						{{ bg_gradient_br('light', 'Light') }}
						{{ bg_gradient_br('dark', 'Dark') }}

						{{ bg_gradient_br('white', 'White') }}
						{{ bg_gradient_br('light-gray', 'Light Gray') }}
						{{ bg_gradient_br('gray', 'Gray') }}
						{{ bg_gradient_br('dark-gray', 'Dark Gray') }}
						{{ bg_gradient_br('black', 'Black') }}

						{{ bg_gradient_br('red', 'Red') }}
						{{ bg_gradient_br('rose', 'Rose') }}
						{{ bg_gradient_br('magenta', 'Magenta') }}
						{{ bg_gradient_br('violet', 'Violet') }}
						{{ bg_gradient_br('blue', 'Blue') }}
						{{ bg_gradient_br('azure', 'Azure') }}
						{{ bg_gradient_br('cyan', 'Cyan') }}
						{{ bg_gradient_br('spring-green', 'Spring Green') }}
						{{ bg_gradient_br('green', 'Green') }}
						{{ bg_gradient_br('chartreuse', 'Chartreuse') }}
						{{ bg_gradient_br('yellow', 'Yellow') }}
						{{ bg_gradient_br('orange', 'Orange') }}

						{{ bg_gradient_br('orange-gray', 'Orange Gray') }}
						{{ bg_gradient_br('dark-gray-orange', 'Dark Gray Orange') }}
						{{ bg_gradient_br('blue-gray', 'Blue Gray') }}
						{{ bg_gradient_br('light-gray-azure', 'Light Gray Azure') }}
						
					</div>
					
				</div>

			</div>

		</div>
		{% endif %}