<!-- _border_colors.njk -->
		{% if obe_settings['enable-obebs4-border-wheel-colors'] === 'true' %}
		<div class="container-fluid pt-5 text-center bg-white text-dark">
		
			<div class="container">
			
				<div class="row justify-content-center">
				
					<div id="{{ global_strings['colors']['sections'][4]['id'] }}" class="col-12 pb-5">
						
						{{ macros.page_section_heading(global_strings['colors']['sections'][4]['head'], global_strings['colors']['sections'][4]['subhead'], global_strings['colors']['sections'][4]['descrip']) }}
						
						{{ macros.border_colors('primary', 'Primary') }}
						{{ macros.border_colors('secondary', 'Secondary') }}
						{{ macros.border_colors('success', 'Success') }}
						{{ macros.border_colors('danger', 'Danger') }}
						{{ macros.border_colors('warning', 'Warning') }}
						{{ macros.border_colors('info', 'Info') }}
						{{ macros.border_colors('light', 'Light') }}
						{{ macros.border_colors('dark', 'Dark') }}

						{{ macros.border_colors('white', 'White') }}
						{{ macros.border_colors('light-gray', 'Light Gray') }}
						{{ macros.border_colors('gray', 'Gray') }}
						{{ macros.border_colors('dark-gray', 'Dark Gray') }}
						{{ macros.border_colors('black', 'Black') }}

						{{ macros.border_colors('red', 'Red') }}
						{{ macros.border_colors('rose', 'Rose') }}
						{{ macros.border_colors('magenta', 'Magenta') }}
						{{ macros.border_colors('violet', 'Violet') }}
						{{ macros.border_colors('blue', 'Blue') }}
						{{ macros.border_colors('azure', 'Azure') }}
						{{ macros.border_colors('cyan', 'Cyan') }}
						{{ macros.border_colors('spring-green', 'Spring Green') }}
						{{ macros.border_colors('green', 'Green') }}
						{{ macros.border_colors('chartreuse', 'Chartreuse') }}
						{{ macros.border_colors('yellow', 'Yellow') }}
						{{ macros.border_colors('orange', 'Orange') }}

						{{ macros.border_colors('orange-gray', 'Orange Gray') }}
						{{ macros.border_colors('dark-gray-orange', 'Dark Gray Orange') }}
						{{ macros.border_colors('blue-gray', 'Blue Gray') }}
						{{ macros.border_colors('light-gray-azure', 'Light Gray Azure') }}
						
					</div>
				
				</div>

			</div>

		</div>
		{% endif %}