<!-- _border_variants.njk -->
		{% if obe_settings['enable-obebs4-border-tints-shades'] === 'true' %}
		<div class="container-fluid pt-5 text-center bg-white text-dark">
		
			<div class="container">
				
				<div class="row justify-content-center">
				
					<div id="{{ global_strings['colors']['sections'][5]['id'] }}" class="col-12">
					
						{{ macros.page_section_heading(global_strings['colors']['sections'][5]['head'], global_strings['colors']['sections'][5]['subhead'], global_strings['colors']['sections'][5]['descrip']) }}
						
					</div>

				</div>

				<div class="row justify-content-center pb-5">

					{{ macros.border_variants('white', 'White') }}
					{{ macros.border_variants('light-gray', 'Light Gray') }}
					{{ macros.border_variants('gray', 'Gray') }}
					{{ macros.border_variants('dark-gray', 'Dark Gray') }}
					{{ macros.border_variants('black', 'Black') }}

					{{ macros.border_variants('red', 'Red') }}
					{{ macros.border_variants('rose', 'Rose') }}
					{{ macros.border_variants('magenta', 'Magenta') }}
					{{ macros.border_variants('violet', 'Violet') }}
					{{ macros.border_variants('blue', 'Blue') }}
					{{ macros.border_variants('azure', 'Azure') }}
					{{ macros.border_variants('cyan', 'Cyan') }}
					{{ macros.border_variants('spring-green', 'Spring Green') }}
					{{ macros.border_variants('green', 'Green') }}
					{{ macros.border_variants('chartreuse', 'Chartreuse') }}
					{{ macros.border_variants('yellow', 'Yellow') }}
					{{ macros.border_variants('orange', 'Orange') }}

					{{ macros.border_variants('orange-gray', 'Orange Gray') }}
					{{ macros.border_variants('dark-gray-orange', 'Dark Gray Orange') }}
					{{ macros.border_variants('blue-gray', 'Blue Gray') }}
					{{ macros.border_variants('light-gray-azure', 'Light Gray Azure') }}
					
				</div>

			</div>

		</div>
		{% endif %}