<!-- _button_disabled_colors.njk -->
		{% if obe_settings['enable-obebs4-button-wheel-colors'] === 'true' %}
		<div class="container-fluid pt-5 text-center bg-white text-dark">
		
			<div class="container">
				
				<div class="row justify-content-center">
					
					<div id="{{ global_strings['colors']['sections'][17]['id'] }}" class="col-md-6 pb-5">
					
						{{ macros.page_section_heading(global_strings['colors']['sections'][17]['head'], global_strings['colors']['sections'][17]['subhead'], global_strings['colors']['sections'][17]['descrip']) }}
						
						{{ macros.button_disabled_colors('primary', 'Primary') }}
						{{ macros.button_disabled_colors('secondary', 'Secondary') }}
						{{ macros.button_disabled_colors('success', 'Success') }}
						{{ macros.button_disabled_colors('danger', 'Danger') }}
						{{ macros.button_disabled_colors('warning', 'Warning') }}
						{{ macros.button_disabled_colors('info', 'Info') }}
						{{ macros.button_disabled_colors('light', 'Light') }}
						{{ macros.button_disabled_colors('dark', 'Dark') }}

						{{ macros.button_disabled_colors('white', 'White') }}
						{{ macros.button_disabled_colors('light-gray', 'Light Gray') }}
						{{ macros.button_disabled_colors('gray', 'Gray') }}
						{{ macros.button_disabled_colors('dark-gray', 'Dark Gray') }}
						{{ macros.button_disabled_colors('black', 'Black') }}

						{{ macros.button_disabled_colors('red', 'Red') }}
						{{ macros.button_disabled_colors('rose', 'Rose') }}
						{{ macros.button_disabled_colors('magenta', 'Magenta') }}
						{{ macros.button_disabled_colors('violet', 'Violet') }}
						{{ macros.button_disabled_colors('blue', 'Blue') }}
						{{ macros.button_disabled_colors('azure', 'Azure') }}
						{{ macros.button_disabled_colors('cyan', 'Cyan') }}
						{{ macros.button_disabled_colors('spring-green', 'Spring Green') }}
						{{ macros.button_disabled_colors('green', 'Green') }}
						{{ macros.button_disabled_colors('chartreuse', 'Chartreuse') }}
						{{ macros.button_disabled_colors('yellow', 'Yellow') }}
						{{ macros.button_disabled_colors('orange', 'Orange') }}

						{{ macros.button_disabled_colors('orange-gray', 'Orange Gray') }}
						{{ macros.button_disabled_colors('dark-gray-orange', 'Dark Gray Orange') }}
						{{ macros.button_disabled_colors('blue-gray', 'Blue Gray') }}
						{{ macros.button_disabled_colors('light-gray-azure', 'Light Gray Azure') }}
						
					</div>
					
					<div id="{{ global_strings['colors']['sections'][18]['id'] }}" class="col-md-6 pb-5">
					
						{{ macros.page_section_heading(global_strings['colors']['sections'][18]['head'], global_strings['colors']['sections'][18]['subhead'], global_strings['colors']['sections'][18]['descrip']) }}
						
						{{ macros.button_disabled_outline_colors('primary', 'Primary') }}
						{{ macros.button_disabled_outline_colors('secondary', 'Secondary') }}
						{{ macros.button_disabled_outline_colors('success', 'Success') }}
						{{ macros.button_disabled_outline_colors('danger', 'Danger') }}
						{{ macros.button_disabled_outline_colors('warning', 'Warning') }}
						{{ macros.button_disabled_outline_colors('info', 'Info') }}
						{{ macros.button_disabled_outline_colors('light', 'Light') }}
						{{ macros.button_disabled_outline_colors('dark', 'Dark') }}

						{{ macros.button_disabled_outline_colors('white', 'White') }}
						{{ macros.button_disabled_outline_colors('light-gray', 'Light Gray') }}
						{{ macros.button_disabled_outline_colors('gray', 'Gray') }}
						{{ macros.button_disabled_outline_colors('dark-gray', 'Dark Gray') }}
						{{ macros.button_disabled_outline_colors('black', 'Black') }}

						{{ macros.button_disabled_outline_colors('red', 'Red') }}
						{{ macros.button_disabled_outline_colors('rose', 'Rose') }}
						{{ macros.button_disabled_outline_colors('magenta', 'Magenta') }}
						{{ macros.button_disabled_outline_colors('violet', 'Violet') }}
						{{ macros.button_disabled_outline_colors('blue', 'Blue') }}
						{{ macros.button_disabled_outline_colors('azure', 'Azure') }}
						{{ macros.button_disabled_outline_colors('cyan', 'Cyan') }}
						{{ macros.button_disabled_outline_colors('spring-green', 'Spring Green') }}
						{{ macros.button_disabled_outline_colors('green', 'Green') }}
						{{ macros.button_disabled_outline_colors('chartreuse', 'Chartreuse') }}
						{{ macros.button_disabled_outline_colors('yellow', 'Yellow') }}
						{{ macros.button_disabled_outline_colors('orange', 'Orange') }}

						{{ macros.button_disabled_outline_colors('orange-gray', 'Orange Gray') }}
						{{ macros.button_disabled_outline_colors('dark-gray-orange', 'Dark Gray Orange') }}
						{{ macros.button_disabled_outline_colors('blue-gray', 'Blue Gray') }}
						{{ macros.button_disabled_outline_colors('light-gray-azure', 'Light Gray Azure') }}
						
					</div>
					
				</div>

			</div>

		</div>
		{% endif %}