<!-- _card_colors.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container modal-workspace">

                <div id="{{ global_strings['colors']['sections'][19]['id'] }}" class="row justify-content-center pt-5">
                    
                    <div class="col-12">
                        
                        {{ macros.page_section_heading(global_strings['colors']['sections'][19]['head'], global_strings['colors']['sections'][19]['subhead'], global_strings['colors']['sections'][19]['descrip']) }}

                    </div>

                </div>
                
                <div class="row justify-content-center text-left">

                    {{ macros.card_colors('Primary', 'primary', 'white') }}
                    {{ macros.card_colors('Secondary', 'secondary', 'white') }}
                    {{ macros.card_colors('Success', 'success', 'white') }}
                    {{ macros.card_colors('Danger', 'danger', 'white') }}
                    {{ macros.card_colors('Warning', 'warning', 'white') }}
                    {{ macros.card_colors('Info', 'info', 'white') }}
                    {{ macros.card_colors('Light', 'light', 'dark') }}
                    {{ macros.card_colors('Dark', 'dark', 'white') }}

                    {{ macros.card_colors('White', 'white', 'dark') }}
                    {{ macros.card_colors('Light Gray', 'light-gray', 'dark') }}
                    {{ macros.card_colors('Gray', 'gray', 'white') }}
                    {{ macros.card_colors('Dark Gray', 'dark-gray', 'white') }}
                    {{ macros.card_colors('Black', 'black', 'white') }}
                    
                    {{ macros.card_colors('Red', 'red', 'white') }}
                    {{ macros.card_colors('Rose', 'rose', 'white') }}
                    {{ macros.card_colors('Magenta', 'magenta', 'white') }}
                    {{ macros.card_colors('Violet', 'violet', 'white') }}
                    {{ macros.card_colors('Blue', 'blue', 'white') }}
                    {{ macros.card_colors('Azure', 'azure', 'white') }}
                    {{ macros.card_colors('Cyan', 'cyan', 'white') }}
                    {{ macros.card_colors('Spring Green', 'spring-green', 'white') }}
                    {{ macros.card_colors('Green', 'green', 'white') }}
                    {{ macros.card_colors('Chartreuse', 'chartreuse', 'dark') }}
                    {{ macros.card_colors('Yellow', 'yellow', 'dark') }}
                    {{ macros.card_colors('Orange', 'orange', 'white') }}
                    {{ macros.card_colors('Orange Gray', 'orange-gray', 'white') }}
                    {{ macros.card_colors('Dark Gray Orange', 'dark-gray-orange', 'white') }}
                    {{ macros.card_colors('Blue Gray', 'blue-gray', 'white') }}
                    {{ macros.card_colors('Light Gray Azure', 'light-gray-azure', 'white') }}

                </div>

            </div>

        </div>