<!-- _modal_colors.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container modal-workspace">

                <div class="row justify-content-center pt-5">
                    
                    <div id="{{ global_strings['colors']['sections'][43]['id'] }}" class="col-12">
                        
                        {{ macros.page_section_heading(global_strings['colors']['sections'][43]['head'], global_strings['colors']['sections'][43]['subhead'], global_strings['colors']['sections'][43]['descrip']) }}

                    </div>

                </div>

                <div class="row justify-content-center">

                    <div class="col-md-6 pb-5">

                        {{ macros.modal_colors('Primary', 'primary', ' text-white', ' text-light', ' border-dark') }}
                        {{ macros.modal_colors('Secondary', 'secondary', ' text-white', ' text-light', ' border-dark') }}
                        {{ macros.modal_colors('Success', 'success', '', '', '') }}
                        {{ macros.modal_colors('Danger', 'danger', ' text-white', ' text-light', ' border-dark') }}
                        {{ macros.modal_colors('Warning', 'warning', '', '', '') }}
                        {{ macros.modal_colors('Info', 'info', '', '', '') }}
                        {{ macros.modal_colors('Light', 'light', '', '', '') }}
                        {{ macros.modal_colors('Dark', 'dark', ' text-white', ' text-light', ' border-black') }}

                        {% if obe_settings['enable-obebs4-text-wheel-colors'] === 'true' %}
                        
                            {{ macros.modal_colors('White', 'white', '', '', '') }}
                            {{ macros.modal_colors('Light Gray', 'light-gray', '', '', '') }}
                            {{ macros.modal_colors('Gray', 'gray', ' text-white', ' text-light', ' border-dark') }}
                            {{ macros.modal_colors('Dark Gray', 'dark-gray', ' text-white', ' text-light', ' border-dark') }}
                            {{ macros.modal_colors('Black', 'black', ' text-white', ' text-light', ' border-gray') }}

                            {{ macros.modal_colors('Red', 'red', ' text-white', ' text-light', ' border-dark') }}
                            {{ macros.modal_colors('Rose', 'rose', ' text-white', ' text-light', ' border-dark') }}
                            {{ macros.modal_colors('Magenta', 'magenta', ' text-white', ' text-light', ' border-dark') }}
                            {{ macros.modal_colors('Violet', 'violet', ' text-white', ' text-light', ' border-dark') }}
                            {{ macros.modal_colors('Blue', 'blue', ' text-white', ' text-light', ' border-dark') }}
                            {{ macros.modal_colors('Azure', 'azure', ' text-white', ' text-light', ' border-dark') }}
                            {{ macros.modal_colors('Cyan', 'cyan', '', '', '') }}
                            {{ macros.modal_colors('Spring Green', 'spring-green', '', '', '') }}
                            {{ macros.modal_colors('Green', 'green', '', '', '') }}
                            {{ macros.modal_colors('Chartreuse', 'chartreuse', '', '', '') }}
                            {{ macros.modal_colors('Yellow', 'yellow', '', '', '') }}
                            {{ macros.modal_colors('Orange', 'orange', '', '', '') }}
                            {{ macros.modal_colors('Orange Gray', 'orange-gray', ' text-white', ' text-light', ' border-dark') }}
                            {{ macros.modal_colors('Dark Gray Orange', 'dark-gray-orange', ' text-white', ' text-light', ' border-dark') }}
                            {{ macros.modal_colors('Blue Gray', 'blue-gray', ' text-white', ' text-light', ' border-dark') }}
                            {{ macros.modal_colors('Light Gray Azure', 'light-gray-azure', '', '', '') }}

                        {% endif %}

                    </div>

                </div>

            </div>

        </div>