<!-- _navbar_colors.njk -->
<!-- NOTE: OBE:B4 navbar colors options depend on OBE:B4 color wheel dropdowns to be included in your library -->
		{% if obe_settings['enable-obebs4-dropdowns'] === 'true' %}
		<div class="container-fluid pt-5 text-center bg-white text-dark">
		
			<div class="container">
				
				<div class="row justify-content-center">
					
					<div id="{{ global_strings['colors']['sections'][39]['id'] }}" class="col-12 pb-5">
					
						{{ macros.page_section_heading(global_strings['colors']['sections'][39]['head'], global_strings['colors']['sections'][39]['subhead'], global_strings['colors']['sections'][39]['descrip']) }}

						{{ macros.navbar_colors('primary', 'Primary', 'dark', 'primary', 'white') }}
						{{ macros.navbar_colors('secondary', 'Secondary', 'dark', 'secondary', 'white') }}
						{{ macros.navbar_colors('success', 'Success', 'dark', 'success', 'white') }}
						{{ macros.navbar_colors('danger', 'Danger', 'dark', 'danger', 'white') }}
						{{ macros.navbar_colors('warning', 'Warning', 'dark', 'warning', 'white') }}
						{{ macros.navbar_colors('info', 'Info', 'dark', 'info', 'white') }}
						{{ macros.navbar_colors('light', 'Light', 'light', 'dark', 'dark') }}
						{{ macros.navbar_colors('dark', 'Dark', 'dark', 'dark', 'white') }}

						{{ macros.navbar_colors('white', 'White', 'light', 'dark', 'dark') }}
						{{ macros.navbar_colors('light-gray', 'Light Gray', 'dark', 'light-gray', 'white') }}
						{{ macros.navbar_colors('gray', 'Gray', 'dark', 'gray', 'white') }}
						{{ macros.navbar_colors('dark-gray', 'Dark Gray', 'dark', 'dark-gray', 'white') }}
						{{ macros.navbar_colors('black', 'Black', 'dark', 'black', 'white') }}

						{{ macros.navbar_colors('red', 'Red', 'dark', 'red', 'white') }}
						{{ macros.navbar_colors('rose', 'Rose', 'dark', 'rose', 'white') }}
						{{ macros.navbar_colors('magenta', 'Magenta', 'dark', 'magenta', 'white') }}
						{{ macros.navbar_colors('violet', 'Violet', 'dark', 'violet', 'white') }}
						{{ macros.navbar_colors('blue', 'Blue', 'dark', 'blue', 'white') }}
						{{ macros.navbar_colors('azure', 'Azure', 'dark', 'azure', 'white') }}
						{{ macros.navbar_colors('cyan', 'Cyan', 'dark', 'cyan', 'white') }}
						{{ macros.navbar_colors('spring-green', 'Spring Green', 'dark', 'spring-green', 'white') }}
						{{ macros.navbar_colors('green', 'Green', 'dark', 'green', 'white') }}
						{{ macros.navbar_colors('chartreuse', 'Chartreuse', 'dark', 'chartreuse', 'white') }}
						{{ macros.navbar_colors('yellow', 'Yellow', 'light', 'dark', 'dark') }}
						{{ macros.navbar_colors('orange', 'Orange', 'dark', 'orange', 'white') }}

						{{ macros.navbar_colors('orange-gray', 'Orange Gray', 'dark', 'orange-gray', 'white') }}
						{{ macros.navbar_colors('dark-gray-orange', 'Dark Gray Orange', 'dark', 'dark-gray-orange', 'white') }}
						{{ macros.navbar_colors('blue-gray', 'Blue Gray', 'dark', 'blue-gray', 'white') }}
						{{ macros.navbar_colors('light-gray-azure', 'Light Gray Azure', 'dark', 'light-gray-azure', 'white') }}
						
					</div>
					
				</div>

			</div>

		</div>
		{% endif %}