<!-- _stroke_variants.njk -->
		{% if obe_settings['enable-obewds-stroke-tints-shades'] === 'true' %}
		<div class="container-fluid pt-5 text-center bg-white text-dark">
		
			<div class="container">

				<div class="row justify-content-center">
					
					<div id="{{ global_strings['colors']['sections'][48]['id'] }}" class="col-12">
					
						{{ macros.page_section_heading(global_strings['colors']['sections'][48]['head'], global_strings['colors']['sections'][48]['subhead'], global_strings['colors']['sections'][48]['descrip']) }}

					</div>

				</div>

				<div class="row justify-content-center">

					{{ macros.svg_stroke_variants('white', 'White') }}
					{{ macros.svg_stroke_variants('light-gray', 'Light Gray') }}
					{{ macros.svg_stroke_variants('gray', 'Gray') }}
					{{ macros.svg_stroke_variants('dark-gray', 'Dark Gray') }}
					{{ macros.svg_stroke_variants('black', 'Black') }}

					{{ macros.svg_stroke_variants('red', 'Red') }}
					{{ macros.svg_stroke_variants('rose', 'Rose') }}
					{{ macros.svg_stroke_variants('magenta', 'Magenta') }}
					{{ macros.svg_stroke_variants('violet', 'Violet') }}
					{{ macros.svg_stroke_variants('blue', 'Blue') }}
					{{ macros.svg_stroke_variants('azure', 'Azure') }}
					{{ macros.svg_stroke_variants('cyan', 'Cyan') }}
					{{ macros.svg_stroke_variants('spring-green', 'Spring Green') }}
					{{ macros.svg_stroke_variants('green', 'Green') }}
					{{ macros.svg_stroke_variants('chartreuse', 'Chartreuse') }}
					{{ macros.svg_stroke_variants('yellow', 'Yellow') }}
					{{ macros.svg_stroke_variants('orange', 'Orange') }}

					{{ macros.svg_stroke_variants('orange-gray', 'Orange Gray') }}
					{{ macros.svg_stroke_variants('dark-gray-orange', 'Dark Gray Orange') }}
					{{ macros.svg_stroke_variants('blue-gray', 'Blue Gray') }}
					{{ macros.svg_stroke_variants('light-gray-azure', 'Light Gray Azure') }}

				</div>

			</div>

		</div>
		{% endif %}