<!-- _text_tint_shade_colors.njk -->
		{% if obe_settings['enable-obebs4-text-tints-shades'] === 'true' %}
		<div class="container-fluid pt-5 text-center bg-white text-dark">
		
			<div class="container">

				<div class="row justify-content-center">
					
					<div id="{{ global_strings['colors']['sections'][35]['id'] }}" class="col-md-6 pb-5">
						
						{{ macros.page_section_heading(global_strings['colors']['sections'][35]['head'], global_strings['colors']['sections'][35]['subhead'], global_strings['colors']['sections'][35]['descrip']) }}
						
						{{ macros.text_variants('white', 'White') }}
						{{ macros.text_variants('light-gray', 'Light Gray') }}
						{{ macros.text_variants('gray', 'Gray') }}
						{{ macros.text_variants('dark-gray', 'Dark Gray') }}
						{{ macros.text_variants('black', 'Black') }}

						{{ macros.text_variants('red', 'Red') }}
						{{ macros.text_variants('rose', 'Rose') }}
						{{ macros.text_variants('magenta', 'Magenta') }}
						{{ macros.text_variants('violet', 'Violet') }}
						{{ macros.text_variants('blue', 'Blue') }}
						{{ macros.text_variants('azure', 'Azure') }}
						{{ macros.text_variants('cyan', 'Cyan') }}
						{{ macros.text_variants('spring-green', 'Spring Green') }}
						{{ macros.text_variants('green', 'Green') }}
						{{ macros.text_variants('chartreuse', 'Chartreuse') }}
						{{ macros.text_variants('yellow', 'Yellow') }}
						{{ macros.text_variants('orange', 'Orange') }}

						{{ macros.text_variants('orange-gray', 'Orange Gray') }}
						{{ macros.text_variants('dark-gray-orange', 'Dark Gray Orange') }}
						{{ macros.text_variants('blue-gray', 'Blue Gray') }}
						{{ macros.text_variants('light-gray-azure', 'Light Gray Azure') }}
						
					</div>
					
					<div id="{{ global_strings['colors']['sections'][36]['id'] }}" class="col-md-6 pb-5">
						
						{{ macros.page_section_heading(global_strings['colors']['sections'][36]['head'], global_strings['colors']['sections'][36]['subhead'], global_strings['colors']['sections'][36]['descrip']) }}
						
						{{ macros.link_variants('white', 'White') }}
						{{ macros.link_variants('light-gray', 'Light Gray') }}
						{{ macros.link_variants('gray', 'Gray') }}
						{{ macros.link_variants('dark-gray', 'Dark Gray') }}
						{{ macros.link_variants('black', 'Black') }}

						{{ macros.link_variants('red', 'Red') }}
						{{ macros.link_variants('rose', 'Rose') }}
						{{ macros.link_variants('magenta', 'Magenta') }}
						{{ macros.link_variants('violet', 'Violet') }}
						{{ macros.link_variants('blue', 'Blue') }}
						{{ macros.link_variants('azure', 'Azure') }}
						{{ macros.link_variants('cyan', 'Cyan') }}
						{{ macros.link_variants('spring-green', 'Spring Green') }}
						{{ macros.link_variants('green', 'Green') }}
						{{ macros.link_variants('chartreuse', 'Chartreuse') }}
						{{ macros.link_variants('yellow', 'Yellow') }}
						{{ macros.link_variants('orange', 'Orange') }}

						{{ macros.link_variants('orange-gray', 'Orange Gray') }}
						{{ macros.link_variants('dark-gray-orange', 'Dark Gray Orange') }}
						{{ macros.link_variants('blue-gray', 'Blue Gray') }}
						{{ macros.link_variants('light-gray-azure', 'Light Gray Azure') }}
						
					</div>
					
				</div>

			</div>

		</div>
		{% endif %}