<!-- _text_link_colors.njk -->
		{% if obe_settings['enable-obebs4-text-wheel-colors'] === 'true' %}
		<div class="container-fluid pt-5 text-center bg-white text-dark">
		
			<div class="container">
				
				<div class="row justify-content-center pt-5">
					
					<div id="{{ global_strings['colors']['sections'][0]['id'] }}" class="col-md-6 pb-5">
						
						{{ macros.page_section_heading(global_strings['colors']['sections'][0]['head'], global_strings['colors']['sections'][0]['subhead'], global_strings['colors']['sections'][0]['descrip']) }}

						{{ macros.text_element('primary', 'Primary') }}
						{{ macros.text_element('secondary', 'Secondary') }}
						{{ macros.text_element('success', 'Success') }}
						{{ macros.text_element('danger', 'Danger') }}
						{{ macros.text_element('warning', 'Warning') }}
						{{ macros.text_element('info', 'Info') }}
						{{ macros.text_element('light', 'Light') }}
						{{ macros.text_element('dark', 'Dark') }}

						{{ macros.text_element('white', 'White') }}
						{{ macros.text_element('light-gray', 'Light Gray') }}
						{{ macros.text_element('gray', 'Gray') }}
						{{ macros.text_element('dark-gray', 'Dark Gray') }}
						{{ macros.text_element('black', 'Black') }}

						{{ macros.text_element('red', 'Red') }}
						{{ macros.text_element('rose', 'Rose') }}
						{{ macros.text_element('magenta', 'Magenta') }}
						{{ macros.text_element('violet', 'Violet') }}
						{{ macros.text_element('blue', 'Blue') }}
						{{ macros.text_element('azure', 'Azure') }}
						{{ macros.text_element('cyan', 'Cyan') }}
						{{ macros.text_element('spring-green', 'Spring Green') }}
						{{ macros.text_element('green', 'Green') }}
						{{ macros.text_element('chartreuse', 'Chartreuse') }}
						{{ macros.text_element('yellow', 'Yellow') }}
						{{ macros.text_element('orange', 'Orange') }}

						{{ macros.text_element('orange-gray', 'Orange Gray') }}
						{{ macros.text_element('dark-gray-orange', 'Dark Gray Orange') }}
						{{ macros.text_element('blue-gray', 'Blue Gray') }}
						{{ macros.text_element('light-gray-azure', 'Light Gray Azure') }}
						
					</div>
					
					<div id="{{ global_strings['colors']['sections'][1]['id'] }}" class="col-md-6 pb-5">
						
						{{ macros.page_section_heading(global_strings['colors']['sections'][1]['head'], global_strings['colors']['sections'][1]['subhead'], global_strings['colors']['sections'][1]['descrip']) }}

						{{ macros.link_element('primary', 'Primary') }}
						{{ macros.link_element('secondary', 'Secondary') }}
						{{ macros.link_element('success', 'Success') }}
						{{ macros.link_element('danger', 'Danger') }}
						{{ macros.link_element('warning', 'Warning') }}
						{{ macros.link_element('info', 'Info') }}
						{{ macros.link_element('light', 'Light') }}
						{{ macros.link_element('dark', 'Dark') }}

						{{ macros.link_element('white', 'White') }}
						{{ macros.link_element('light-gray', 'Light Gray') }}
						{{ macros.link_element('gray', 'Gray') }}
						{{ macros.link_element('dark-gray', 'Dark Gray') }}
						{{ macros.link_element('black', 'Black') }}

						{{ macros.link_element('red', 'Red') }}
						{{ macros.link_element('rose', 'Rose') }}
						{{ macros.link_element('magenta', 'Magenta') }}
						{{ macros.link_element('violet', 'Violet') }}
						{{ macros.link_element('blue', 'Blue') }}
						{{ macros.link_element('azure', 'Azure') }}
						{{ macros.link_element('cyan', 'Cyan') }}
						{{ macros.link_element('spring-green', 'Spring Green') }}
						{{ macros.link_element('green', 'Green') }}
						{{ macros.link_element('chartreuse', 'Chartreuse') }}
						{{ macros.link_element('yellow', 'Yellow') }}
						{{ macros.link_element('orange', 'Orange') }}

						{{ macros.link_element('orange-gray', 'Orange Gray') }}
						{{ macros.link_element('dark-gray-orange', 'Dark Gray Orange') }}
						{{ macros.link_element('blue-gray', 'Blue Gray') }}
						{{ macros.link_element('light-gray-azure', 'Light Gray Azure') }}

					</div>
					
				</div>

			</div>

		</div>
		{% endif %}