<!-- _tooltip_dropdown_popover_colors.njk -->
		{% if obe_settings['enable-obebs4-tooltips'] === 'true' or obe_settings['enable-obebs4-dropdowns'] === 'true' or obe_settings['enable-obebs4-popovers'] === 'true' %}
		<div class="container-fluid pt-5 text-center bg-white text-dark">
		
			<div class="container">
				
				<div class="row justify-content-center">
					
					{% if obe_settings['enable-obebs4-tooltips'] === 'true' %}
					<div id="{{ global_strings['colors']['sections'][21]['id'] }}" class="col-md-4 pb-5">
					
						{{ macros.page_section_heading(global_strings['colors']['sections'][21]['head'], global_strings['colors']['sections'][21]['subhead'], global_strings['colors']['sections'][21]['descrip']) }}
						
						{{ macros.tooltip_colors('primary', 'Primary') }}
						{{ macros.tooltip_colors('secondary', 'Secondary') }}
						{{ macros.tooltip_colors('success', 'Success') }}
						{{ macros.tooltip_colors('danger', 'Danger') }}
						{{ macros.tooltip_colors('warning', 'Warning') }}
						{{ macros.tooltip_colors('info', 'Info') }}
						{{ macros.tooltip_colors('light', 'Light') }}
						{{ macros.tooltip_colors('dark', 'Dark') }}

						{{ macros.tooltip_colors('white', 'White') }}
						{{ macros.tooltip_colors('light-gray', 'Light Gray') }}
						{{ macros.tooltip_colors('gray', 'Gray') }}
						{{ macros.tooltip_colors('dark-gray', 'Dark Gray') }}
						{{ macros.tooltip_colors('black', 'Black') }}

						{{ macros.tooltip_colors('red', 'Red') }}
						{{ macros.tooltip_colors('rose', 'Rose') }}
						{{ macros.tooltip_colors('magenta', 'Magenta') }}
						{{ macros.tooltip_colors('violet', 'Violet') }}
						{{ macros.tooltip_colors('blue', 'Blue') }}
						{{ macros.tooltip_colors('azure', 'Azure') }}
						{{ macros.tooltip_colors('cyan', 'Cyan') }}
						{{ macros.tooltip_colors('spring-green', 'Spring Green') }}
						{{ macros.tooltip_colors('green', 'Green') }}
						{{ macros.tooltip_colors('chartreuse', 'Chartreuse') }}
						{{ macros.tooltip_colors('yellow', 'Yellow') }}
						{{ macros.tooltip_colors('orange', 'Orange') }}

						{{ macros.tooltip_colors('orange-gray', 'Orange Gray') }}
						{{ macros.tooltip_colors('dark-gray-orange', 'Dark Gray Orange') }}
						{{ macros.tooltip_colors('blue-gray', 'Blue Gray') }}
						{{ macros.tooltip_colors('light-gray-azure', 'Light Gray Azure') }}
						
					</div>
					{% endif %}
					
					{% if obe_settings['enable-obebs4-dropdowns'] === 'true' %}
					<div id="{{ global_strings['colors']['sections'][22]['id'] }}" class="col-md-4 pb-5">
					
						{{ macros.page_section_heading(global_strings['colors']['sections'][22]['head'], global_strings['colors']['sections'][22]['subhead'], global_strings['colors']['sections'][22]['descrip']) }}
						
						{{ macros.dropdown_colors('primary', 'Primary') }}
						{{ macros.dropdown_colors('secondary', 'Secondary') }}
						{{ macros.dropdown_colors('success', 'Success') }}
						{{ macros.dropdown_colors('danger', 'Danger') }}
						{{ macros.dropdown_colors('warning', 'Warning') }}
						{{ macros.dropdown_colors('info', 'Info') }}
						{{ macros.dropdown_colors('light', 'Light') }}
						{{ macros.dropdown_colors('dark', 'Dark') }}

						{{ macros.dropdown_colors('white', 'White') }}
						{{ macros.dropdown_colors('light-gray', 'Light Gray') }}
						{{ macros.dropdown_colors('gray', 'Gray') }}
						{{ macros.dropdown_colors('dark-gray', 'Dark Gray') }}
						{{ macros.dropdown_colors('black', 'Black') }}

						{{ macros.dropdown_colors('red', 'Red') }}
						{{ macros.dropdown_colors('rose', 'Rose') }}
						{{ macros.dropdown_colors('magenta', 'Magenta') }}
						{{ macros.dropdown_colors('violet', 'Violet') }}
						{{ macros.dropdown_colors('blue', 'Blue') }}
						{{ macros.dropdown_colors('azure', 'Azure') }}
						{{ macros.dropdown_colors('cyan', 'Cyan') }}
						{{ macros.dropdown_colors('spring-green', 'Spring Green') }}
						{{ macros.dropdown_colors('green', 'Green') }}
						{{ macros.dropdown_colors('chartreuse', 'Chartreuse') }}
						{{ macros.dropdown_colors('yellow', 'Yellow') }}
						{{ macros.dropdown_colors('orange', 'Orange') }}

						{{ macros.dropdown_colors('orange-gray', 'Orange Gray') }}
						{{ macros.dropdown_colors('dark-gray-orange', 'Dark Gray Orange') }}
						{{ macros.dropdown_colors('blue-gray', 'Blue Gray') }}
						{{ macros.dropdown_colors('light-gray-azure', 'Light Gray Azure') }}
						
					</div>
					{% endif %}
					
					{% if obe_settings['enable-obebs4-popovers'] === 'true' %}
					<div id="{{ global_strings['colors']['sections'][23]['id'] }}" class="col-md-4 pb-5">
					
						{{ macros.page_section_heading(global_strings['colors']['sections'][23]['head'], global_strings['colors']['sections'][23]['subhead'], global_strings['colors']['sections'][23]['descrip']) }}
						
						{{ macros.popover_colors('primary', 'Primary', 'white', 'gray') }}
						{{ macros.popover_colors('secondary', 'Secondary', 'white', 'gray') }}
						{{ macros.popover_colors('success', 'Success', 'white', 'gray') }}
						{{ macros.popover_colors('danger', 'Danger', 'white', 'gray') }}
						{{ macros.popover_colors('warning', 'Warning', 'white', 'gray') }}
						{{ macros.popover_colors('info', 'Info', 'white', 'gray') }}
						{{ macros.popover_colors('light', 'Light', 'dark', 'gray') }}
						{{ macros.popover_colors('dark', 'Dark', 'white', 'gray') }}

						{{ macros.popover_colors('white', 'White', 'dark', 'gray') }}
						{{ macros.popover_colors('light-gray', 'Light Gray', 'white', 'gray') }}
						{{ macros.popover_colors('gray', 'Gray', 'white', 'gray') }}
						{{ macros.popover_colors('dark-gray', 'Dark Gray', 'white', 'gray') }}
						{{ macros.popover_colors('black', 'Black', 'white', 'gray') }}

						{{ macros.popover_colors('red', 'Red', 'white', 'gray') }}
						{{ macros.popover_colors('rose', 'Rose', 'white', 'gray') }}
						{{ macros.popover_colors('magenta', 'Magenta', 'white', 'gray') }}
						{{ macros.popover_colors('violet', 'Violet', 'white', 'gray') }}
						{{ macros.popover_colors('blue', 'Blue', 'white', 'gray') }}
						{{ macros.popover_colors('azure', 'Azure', 'white', 'gray') }}
						{{ macros.popover_colors('cyan', 'Cyan', 'white', 'gray') }}
						{{ macros.popover_colors('spring-green', 'Spring Green', 'white', 'gray') }}
						{{ macros.popover_colors('green', 'Green', 'white', 'gray') }}
						{{ macros.popover_colors('chartreuse', 'Chartreuse', 'white', 'gray') }}
						{{ macros.popover_colors('yellow', 'Yellow', 'white', 'gray') }}
						{{ macros.popover_colors('orange', 'Orange', 'white', 'gray') }}

						{{ macros.popover_colors('orange-gray', 'Orange Gray', 'white', 'gray') }}
						{{ macros.popover_colors('dark-gray-orange', 'Dark Gray Orange', 'white', 'gray') }}
						{{ macros.popover_colors('blue-gray', 'Blue Gray', 'white', 'gray') }}
						{{ macros.popover_colors('light-gray-azure', 'Light Gray Azure', 'white', 'gray') }}
						
					</div>
					{% endif %}
					
				</div>

			</div>

		</div>
		{% endif %}