// Form control focus state
//
// Generate a customized focus state and for any input with the specified color,
// which defaults to the `$input-focus-border-color` variable.
//
// We highly encourage you to not customize the default value, but instead use
// this to tweak colors on an as-needed basis. This aesthetic change is based on
// WebKit's default styles, but applicable to a wider range of browsers. Its
// usability and accessibility should be taken into account with any change.
//
// Example usage: change the default blue border and shadow to white for better
// contrast against a dark gray background.
@mixin obeb4-form-control-focus($textColor, $bgColor, $borderColor) {
	&:focus {
		color: $textColor;
		background-color: $bgColor;
		border-color: $borderColor;
		// Avoid using mixin so we can pass custom focus shadow properly
		@if $enable-shadows {
			box-shadow: inset 0 1px 1px rgba($black, .075), 0 0 0 0.2rem rgba($borderColor, .25);
		} @else {
			box-shadow: 0 0 0 0.2rem rgba($borderColor, .25);
		}
	}
}