// stylelint-disable declaration-no-important

// mixin for vertical 2 color gradients
@mixin obe-vert-2color-gradient($className, $color1, $color2) {
	
	#{$className} {
		
		background: $color1;
		//background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
		//background: -webkit-linear-gradient(top, $color1 0%,$color2 100%);
		background: linear-gradient(to bottom, $color1 0%,$color2 100%);
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color1}', endColorstr='#{$color2}',GradientType=0 );
		
	}
	
}

// mixin for horizontal 2 color gradients
@mixin obe-horiz-2color-gradient($className, $color1, $color2) {
	
	#{$className} {
		
		background: $color1;
		//background: -moz-linear-gradient(left, $color1 0%, $color2 100%);
		//background: -webkit-linear-gradient(left, $color1 0%,$color2 100%);
		background: linear-gradient(to right, $color1 0%,$color2 100%);
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color1}', endColorstr='#{$color2}',GradientType=1 );
		
	}
	
}

// mixin for radial 2 color gradients
@mixin obe-radial-2color-gradient($className, $color1, $color2) {
	
	#{$className} {
		
		background: $color2;
		//background: -moz-radial-gradient(center, ellipse cover, $color2 0%, $color1 100%);
		//background: -webkit-radial-gradient(center, ellipse cover, $color2 0%,$color1 100%);
		background: radial-gradient(ellipse at center, $color2 0%,$color1 100%);
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color2}', endColorstr='#{$color1}',GradientType=1 );
		
	}
	
}

// mixin for diagonal up 2 color gradients
@mixin obe-diag-up-2color-gradient($className, $color1, $color2) {
	
	#{$className} {
	
		background: $color1;
		//background: -moz-linear-gradient(45deg, $color1 0%, $color2 100%);
		//background: -webkit-linear-gradient(45deg, $color1 0%,$color2 100%);
		background: linear-gradient(45deg, $color1 0%,$color2 100%);
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color1}', endColorstr='#{$color2}',GradientType=1 );
		
	}
	
}

// mixin for diagonal down 2 color gradients
@mixin obe-diag-down-2color-gradient($className, $color1, $color2) {
	
	#{$className} {
		
		background: $color1;
		//background: -moz-linear-gradient(-45deg, $color1 0%, $color2 100%);
		//background: -webkit-linear-gradient(-45deg, $color1 0%,$color2 100%);
		background: linear-gradient(135deg, $color1 0%,$color2 100%);
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color1}', endColorstr='#{$color2}',GradientType=1 );
		
	}
	
}












// mixin for standard 2 color gradients
//@mixin obe-2color-bgg-variant($className, $color1, $color2) {
//	#{$className} {
//		background: $color1;
//		background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
//		background: -webkit-linear-gradient(top, $color1 0%,$color2 100%);
//		background: linear-gradient(to bottom, $color1 0%,$color2 100%);
//		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color1}', endColorstr='#{$color2}',GradientType=0 );
//	}
//}

// mixin for inverted 2 color gradients
//@mixin obe-inv-2color-bgg-variant($className, $color1, $color2) {
//	#{$className} {
//		background: $color2;
//		background: -moz-linear-gradient(top, $color2 0%, $color1 100%);
//		background: -webkit-linear-gradient(top, $color2 0%,$color1 100%);
//		background: linear-gradient(to bottom, $color2 0%,$color1 100%);
//		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color2}', endColorstr='#{$color1}',GradientType=0 );
//	}
//}

// mixin for right 2 color gradients
//@mixin obe-right-2color-bgg-variant($className, $color1, $color2) {
//  #{$className} {
//    background: $color1;
//	background: -moz-linear-gradient(left, $color1 0%, $color2 100%);
//	background: -webkit-linear-gradient(left, $color1 0%,$color2 100%);
//	background: linear-gradient(to right, $color1 0%,$color2 100%);
//	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color1}', endColorstr='#{$color2}',GradientType=1 );
//  }
//}

// mixin for left 1 color gradients
//@mixin obe-left-2color-bgg-variant($className, $color1, $color2) {
//  #{$className} {
//    background: $color2;
//	background: -moz-linear-gradient(left, $color2 0%, $color1 100%);
//	background: -webkit-linear-gradient(left, $color2 0%,$color1 100%);
//	background: linear-gradient(to right, $color2 0%,$color1 100%);
//	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color2}', endColorstr='#{$color1}',GradientType=1 );
//  }
//}


