// stylelint-disable declaration-no-important

// mixin for standard 1 color gradients
@mixin obebs4-bg-gradient-variant($className, $baseColor) {
	$tintColor: lighten($baseColor, $obebs4-1-color-tint-value);
	$shadeColor: darken($baseColor, $obebs4-1-color-shade-value);
	#{$className} {
		background: $baseColor;
		//background: -moz-linear-gradient(top, $tintColor 0%, $shadeColor 100%);
		//background: -webkit-linear-gradient(top, $tintColor 0%,$shadeColor 100%);
		background: linear-gradient(to bottom, $tintColor 0%,$shadeColor 100%);
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$tintColor}', endColorstr='#{$shadeColor}',GradientType=0 );
	}
}

// mixin for inverted 1 color gradients
@mixin obebs4-inv-bg-gradient-variant($className, $baseColor) {
	$tintColor: lighten($baseColor, $obebs4-1-color-tint-value);
	$shadeColor: darken($baseColor, $obebs4-1-color-shade-value);
	#{$className} {
		background: $baseColor;
		//background: -moz-linear-gradient(top, $shadeColor 0%, $tintColor 100%);
		//background: -webkit-linear-gradient(top, $shadeColor 0%,$tintColor 100%);
		background: linear-gradient(to bottom, $shadeColor 0%,$tintColor 100%);
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$shadeColor}', endColorstr='#{$tintColor}',GradientType=0 );
	}
}

// mixin for right 1 color gradients
@mixin obebs4-right-bg-gradient-variant($className, $baseColor) {
  $tintColor: lighten($baseColor, $obebs4-1-color-tint-value);
  $shadeColor: darken($baseColor, $obebs4-1-color-shade-value);
  #{$className} {
    background: $baseColor;
	//background: -moz-linear-gradient(left, $tintColor 0%, $shadeColor 100%);
	//background: -webkit-linear-gradient(left, $tintColor 0%,$shadeColor 100%);
	background: linear-gradient(to right, $tintColor 0%,$shadeColor 100%);
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$tintColor}', endColorstr='#{$shadeColor}',GradientType=1 );
  }
}

// mixin for left 1 color gradients
@mixin obebs4-left-bg-gradient-variant($className, $baseColor) {
  $tintColor: lighten($baseColor, $obebs4-1-color-tint-value);
  $shadeColor: darken($baseColor, $obebs4-1-color-shade-value);
  #{$className} {
    background: $baseColor;
	//background: -moz-linear-gradient(left, $shadeColor 0%, $tintColor 100%);
	//background: -webkit-linear-gradient(left, $shadeColor 0%,$tintColor 100%);
	background: linear-gradient(to right, $shadeColor 0%,$tintColor 100%);
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$shadeColor}', endColorstr='#{$tintColor}',GradientType=1 );
  }
}

// mixin for radial 1 color gradients
@mixin obebs4-radial-bg-gradient-variant($className, $baseColor) {
	$tintColor: lighten($baseColor, $obebs4-1-color-tint-value);
	$shadeColor: darken($baseColor, $obebs4-1-color-shade-value);
	#{$className} {
		background: $baseColor;
		//background: -moz-radial-gradient(center, ellipse cover, $tintColor 0%, $shadeColor 100%);
		//background: -webkit-radial-gradient(center, ellipse cover, $tintColor 0%,$shadeColor 100%);
		background: radial-gradient(ellipse at center, $tintColor 0%,$shadeColor 100%);
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$tintColor}', endColorstr='#{$shadeColor}',GradientType=1 );
	}
}

// mixin for inversed radial 1 color gradients
@mixin obebs4-radial-inv-bg-gradient-variant($className, $baseColor) {
	$tintColor: lighten($baseColor, $obebs4-1-color-tint-value);
	$shadeColor: darken($baseColor, $obebs4-1-color-shade-value);
	#{$className} {
		background: $baseColor;
		//background: -moz-radial-gradient(center, ellipse cover, $shadeColor 0%, $tintColor 100%);
		//background: -webkit-radial-gradient(center, ellipse cover, $shadeColor 0%,$tintColor 100%);
		background: radial-gradient(ellipse at center, $shadeColor 0%,$tintColor 100%);
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$shadeColor}', endColorstr='#{$tintColor}',GradientType=1 );
	}
}

// mixin for diagonal top right 1 color gradients
@mixin obebs4-diag-top-right-bg-gradient-variant($className, $baseColor) {
	$tintColor: lighten($baseColor, $obebs4-1-color-tint-value);
	$shadeColor: darken($baseColor, $obebs4-1-color-shade-value);
	#{$className} {
		background: $baseColor;
		//background: -moz-linear-gradient(45deg, $shadeColor 0%, $tintColor 100%);
		//background: -webkit-linear-gradient(45deg, $shadeColor 0%,$tintColor 100%);
		background: linear-gradient(45deg, $shadeColor 0%,$tintColor 100%);
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$shadeColor}', endColorstr='#{$tintColor}',GradientType=1 );
	}
}

// mixin for diagonal bottom left 1 color gradients
@mixin obebs4-diag-bottom-left-bg-gradient-variant($className, $baseColor) {
	$tintColor: lighten($baseColor, $obebs4-1-color-tint-value);
	$shadeColor: darken($baseColor, $obebs4-1-color-shade-value);
	#{$className} {
		background: $baseColor;
		//background: -moz-linear-gradient(45deg, $tintColor 0%, $shadeColor 100%);
		//background: -webkit-linear-gradient(45deg, $tintColor 0%,$shadeColor 100%);
		background: linear-gradient(45deg, $tintColor 0%,$shadeColor 100%);
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$tintColor}', endColorstr='#{$shadeColor}',GradientType=1 );
	}
}

// mixin for diagonal top left 1 color gradients
@mixin obebs4-diag-top-left-bg-gradient-variant($className, $baseColor) {
	$tintColor: lighten($baseColor, $obebs4-1-color-tint-value);
	$shadeColor: darken($baseColor, $obebs4-1-color-shade-value);
	#{$className} {
		background: $baseColor;
		//background: -moz-linear-gradient(-45deg, $tintColor 0%, $shadeColor 100%);
		//background: -webkit-linear-gradient(-45deg, $tintColor 0%,$shadeColor 100%);
		background: linear-gradient(135deg, $tintColor 0%,$shadeColor 100%);
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$tintColor}', endColorstr='#{$shadeColor}',GradientType=1 );
	}
}

// mixin for diagonal top left 1 color gradients
@mixin obebs4-diag-bottom-right-bg-gradient-variant($className, $baseColor) {
	$tintColor: lighten($baseColor, $obebs4-1-color-tint-value);
	$shadeColor: darken($baseColor, $obebs4-1-color-shade-value);
	#{$className} {
		background: $baseColor;
		//background: -moz-linear-gradient(-45deg, $shadeColor 0%, $tintColor 100%);
		//background: -webkit-linear-gradient(-45deg, $shadeColor 0%,$tintColor 100%);
		background: linear-gradient(135deg, $shadeColor 0%,$tintColor 100%);
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$shadeColor}', endColorstr='#{$tintColor}',GradientType=1 );
	}
}