<!-- {{ global_strings['colors']['slug'] }}.njk -->

{% set fileName = global_strings['colors']['slug'] + '.html' %}
{% set pageTitle = global_strings['colors']['title'] %}
{% set pageDescrip = global_strings['colors']['description'] %}

{% extends "boilerplate.njk" %}

{% block content %}
        
        {% include "partials/_navigation.njk" %}
        
        {% set heroTitle = pageTitle %}
        {% set heroDescrip = pageDescrip %}
        {% set heroBgClass = global_strings['colors']['background'] %}
        {% set heroBorderClass = global_strings['colors']['border'] %}
        {% include "partials/_hero.njk" %}

        {% include "partials/colors/_text_link_colors.njk" %}
        {% include "partials/colors/_text_tint_shade_colors.njk" %}
        {% include "partials/colors/_bg_basic.njk" %}
        {% include "partials/colors/_bg_variants.njk" %}
        {% include "partials/colors/_bg_gradients_1.njk" %}
        {% include "partials/colors/_bg_gradients_2.njk" %}
        {% include "partials/colors/_bg_gradients_3.njk" %}
        {% include "partials/colors/_bg_gradients_4.njk" %}
        {% include "partials/colors/_bg_gradients_5.njk" %}
        {% include "partials/colors/_bg_gradients_6.njk" %}
        {% include "partials/colors/_bg_gradients_7.njk" %}
        {% include "partials/colors/_bg_gradients_8.njk" %}
        {% include "partials/colors/_fill_colors.njk" %}
        {% include "partials/colors/_fill_variants.njk" %}
        {% include "partials/colors/_border_colors.njk" %}
        {% include "partials/colors/_border_variants.njk" %}
        {% include "partials/colors/_button_colors.njk" %}
        {% include "partials/colors/_button_disabled_colors.njk" %}
        {% include "partials/colors/_badge_colors.njk" %}
        {% include "partials/colors/_alert_colors.njk" %}
        {% include "partials/colors/_toast_colors.njk" %}
        {% include "partials/colors/_modal_colors.njk" %}
        {% include "partials/colors/_tooltip_dropdown_popover_colors.njk" %}
        {% include "partials/colors/_table_colors.njk" %}
        {% include "partials/colors/_list_group_colors.njk" %}
        {% include "partials/colors/_form_colors.njk" %}
        {% include "partials/colors/_navbar_colors.njk" %}
        {% include "partials/colors/_progress_bars_colors.njk" %}
        {% include "partials/colors/_card_colors.njk" %}
        {% include "partials/colors/_card_outline_colors.njk" %}

        {% include "partials/_footer.njk" %}

{% endblock %}

{% block javascript %}
        
        <script>
            
            $(function() {
                
                $('.modal-workspace .code-toolbar').addClass('collapse');

            });
            
        </script>

{% endblock %}