<!-- {{ global_strings['layouts']['slug'] }}.njk -->

{% set fileName = global_strings['layouts']['slug'] + '.html' %}
{% set pageTitle = global_strings['layouts']['title'] %}
{% set pageDescrip = global_strings['layouts']['description'] %}

{% extends "boilerplate.njk" %}

{% block css %}
        <style>
            pre[class*="language-"] { margin: 0; }
        </style>
{% endblock %}

{% block content %}
        
        {% include "partials/_navigation.njk" %}
        
        {% set heroTitle = pageTitle %}
        {% set heroDescrip = pageDescrip %}
        {% set heroBgClass = global_strings['layouts']['background'] %}
        {% set heroBorderClass = global_strings['layouts']['border'] %}
        {% include "partials/_hero.njk" %}

        {% include "partials/layouts/_bs_container_layouts.njk" %}
        {% include "partials/layouts/_bs_container_fluid_layouts.njk" %}
        {% include "partials/layouts/_bs_heroes.njk" %}
        {% include "partials/layouts/_bs_card_groups.njk" %}

        <div class="bg-white pt-5"> </div>

        {% include "partials/_footer.njk" %}

{% endblock %}