<!-- _bs_responsive_container_layouts.njk -->
		<div id="{{ global_strings['layouts']['sections'][2]['id'] }}" class="container-fluid pt-5 text-center bg-white text-dark">
            
            {{ macros.page_section_heading(global_strings['layouts']['sections'][2]['head'], global_strings['layouts']['sections'][2]['subhead'], global_strings['layouts']['sections'][2]['descrip']) }}
           
            <h3 class="mb-1">Responsive Small Container</h3>
            <small class="d-block text-muted mb-2">100% Wide to Small Breakpoint</small>
            <div class="js-prism pb-2">
            
                <div class="container-fluid text-center py-5 bg-light">
                
                    <div class="container-sm py-5 bg-white">
                        
                        <h2>100% : "sm" Breakpoint</h2>
                        
                    </div>

                </div>

            </div>

            <h3 class="pt-3 mb-1">Responsive Medium Container</h3>
            <small class="d-block text-muted mb-2">100% Wide to Medium Breakpoint</small>
            <div class="js-prism pb-2">
            
                <div class="container-fluid text-center py-5 bg-light">
                
                    <div class="container-md py-5 bg-white">
                        
                        <h2>100% : "md" Breakpoint</h2>

                    </div>

                </div>

            </div>

            <h3 class="pt-3 mb-1">Responsive Large Container</h3>
            <small class="d-block text-muted mb-2">100% Wide to Large Breakpoint</small>
            <div class="js-prism pb-2">
            
                <div class="container-fluid text-center py-5 bg-light">
                
                    <div class="container-lg py-5 bg-white">
                        
                        <h2>100% : "lg" Breakpoint</h2>
                        
                    </div>

                </div>

            </div>

            <h3 class="pt-3 mb-1">Responsive XL Container</h3>
            <small class="d-block text-muted mb-2">100% Wide to XL Breakpoint</small>
            <div class="js-prism pb-2">
            
                <div class="container-fluid text-center py-5 bg-light">
                
                    <div class="container-xl py-5 bg-white">
                        
                        <h2>100% : "xl" Breakpoint</h2>
                        
                    </div>

                </div>

            </div>

        </div>