<!-- _bs_row_column_layouts.njk -->
		<div id="{{ global_strings['layouts']['sections'][5]['id'] }}" class="container-fluid pt-5 text-center bg-white text-dark">
            
            {{ macros.page_section_heading(global_strings['layouts']['sections'][5]['head'], global_strings['layouts']['sections'][5]['subhead'], global_strings['layouts']['sections'][5]['descrip']) }}
           
            <h3 class="mb-1">1x4 2x2 4x1</h3>
            <small class="d-block text-muted mb-2">xs sm/md lg/xl</small>
            <div class="js-prism pb-2">
            
                <div class="container-fluid text-center py-5 bg-light">
                
                    <div class="container">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
                            <div class="col bg-white">One</div>
                            <div class="col bg-white">Two</div>
                            <div class="col bg-white">Three</div>
                            <div class="col bg-white">Four</div>
                        </div>
                    </div>

                </div>

            </div>

            <h3 class="pt-3 mb-1">1x5 5x1</h3>
            <small class="d-block text-muted mb-2">xs/sm/md lg/xl</small>
            <div class="js-prism pb-2">
            
                <div class="container-fluid text-center py-5 bg-light">
                
                    <div class="container">
                        <div class="row row-cols-1 row-cols-lg-5">
                            <div class="col bg-white">One</div>
                            <div class="col bg-white">Two</div>
                            <div class="col bg-white">Three</div>
                            <div class="col bg-white">Four</div>
                            <div class="col bg-white">Five</div>
                        </div>
                    </div>

                </div>

            </div>

            <h3 class="pt-3 mb-1">1x6 2x3 3x2 6x1</h3>
            <small class="d-block text-muted mb-2">xs sm md/lg xl</small>
            <div class="js-prism pb-2">
            
                <div class="container-fluid text-center py-5 bg-light">
                
                    <div class="container">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-6">
                            <div class="col bg-white">One</div>
                            <div class="col bg-white">Two</div>
                            <div class="col bg-white">Three</div>
                            <div class="col bg-white">Four</div>
                            <div class="col bg-white">Five</div>
                            <div class="col bg-white">Six</div>
                        </div>
                    </div>

                </div>

            </div>

        </div>