<!-- _bs_heroes.njk -->
		<div id="{{ global_strings['layouts']['sections'][2]['id'] }}" class="container-fluid pt-5 text-center bg-white text-dark">
            
            {{ macros.page_section_heading(global_strings['layouts']['sections'][2]['head'], global_strings['layouts']['sections'][2]['subhead'], global_strings['layouts']['sections'][2]['descrip']) }}
           
            <h3 class="mb-2">Basic Hero</h3>
            <div class="js-prism pb-2">
            
                <div class="container-fluid bg-primary text-white text-center">
                
                    <div class="row justify-content-center align-items-center py-2">
                        
                        <div class="col-md-6 my-2">
                            <div class="py-5">
                                <h1 class="display-4">A Big Headline</h1>
                                <hr />
                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In odio sapien, scelerisque et leo non, ornare vehicula enim. Duis ac luctus dolor. Etiam a mollis erat, vitae varius erat.</p>
                                <hr />
                                <button type="button" class="btn btn-white btn-lg mt-3">CTA BUTTON</button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
           
            <h3 class="mb-2">Left Image Hero</h3>
            <div class="js-prism pb-2">
            
                <div class="container-fluid bg-info text-white">
                
                    <div class="container">
                    
                        <div class="row justify-content-center align-items-center py-5">

                            <div class="col-lg-5 my-2 text-center">
                                <img class="img-fluid mb-3 mb-lg-0" src="images/obe-devices.png" alt="OBE iPhone"/>
                            </div>

                            <div class="col-lg-5 my-2 text-center text-lg-left">
                                <div class="p-0 p-lg-5">
                                    <h1 class="display-4">A Big Headline</h1>
                                    <hr />
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In odio sapien, scelerisque et leo non, ornare vehicula enim. Duis ac luctus dolor. Etiam a mollis erat, vitae varius erat.</p>
                                    <hr />
                                    <button type="button" class="btn btn-white btn-lg mt-3">CTA BUTTON</button>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
           
            <h3 class="mb-2">Right Image Hero</h3>
            <div class="js-prism pb-2">
            
                <div class="container-fluid bg-danger text-white">
                
                    <div class="container">
                    
                        <div class="row justify-content-center align-items-center py-5">
                            
                            <div class="col-lg-5 my-2 text-center text-lg-left">
                                <div class="p-0 p-lg-5">
                                    <h1 class="display-4">A Big Headline</h1>
                                    <hr />
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In odio sapien, scelerisque et leo non, ornare vehicula enim. Duis ac luctus dolor. Etiam a mollis erat, vitae varius erat.</p>
                                    <hr />
                                    <button type="button" class="btn btn-white btn-lg mt-3 mb-3 mb-lg-0">CTA BUTTON</button>
                                </div>
                            </div>

                            <div class="col-lg-5 my-2 text-center">
                                <img class="img-fluid" src="images/obe-devices.png" alt="OBE iPhone"/>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>