<!-- _button_text_sizes.njk -->
		{% if obe_settings['enable-obebs4-button-sizes'] === 'true' or obe_settings['enable-obebs4-text-sizes'] === 'true' %}
		<div class="container-fluid pt-5 text-center bg-white text-dark">
		
			<div class="container">
				
				<div class="row justify-content-center">
					
					{% if obe_settings['enable-obebs4-button-sizes'] === 'true' %}
					<div id="{{ global_strings['extensions']['sections'][6]['id'] }}" class="col-md-6 pb-5">
					
						{{ macros.page_section_heading(global_strings['extensions']['sections'][6]['head'], global_strings['extensions']['sections'][6]['subhead'], global_strings['extensions']['sections'][6]['descrip']) }}
						
						{{ macros.button_sizes('xxs', 'XXS') }}
						{{ macros.button_sizes('xs', 'XS') }}
						{{ macros.button_sizes('sm', 'SM') }}
						{{ macros.button_sizes('md', 'MD') }}
						{{ macros.button_sizes('lg', 'LG') }}
						{{ macros.button_sizes('xl', 'XL') }}
						{{ macros.button_sizes('xxl', 'XXL') }}
						
					</div>
					{% endif %}

					{% if obe_settings['enable-obebs4-text-sizes'] === 'true' %}
					<div id="{{ global_strings['extensions']['sections'][7]['id'] }}" class="col-md-6 pb-5">

						{{ macros.page_section_heading(global_strings['extensions']['sections'][7]['head'], global_strings['extensions']['sections'][7]['subhead'], global_strings['extensions']['sections'][7]['descrip']) }}

						{{ macros.text_sizes('xxs', 'XXS') }}
						{{ macros.text_sizes('xs', 'XS') }}
						{{ macros.text_sizes('sm', 'SM') }}
						{{ macros.text_sizes('md', 'MD') }}
						{{ macros.text_sizes('lg', 'LG') }}
						{{ macros.text_sizes('xl', 'XL') }}
						{{ macros.text_sizes('xxl', 'XXL') }}

					</div>
					{% endif %}
					
				</div>

			</div>

		</div>
		{% endif %}