<!-- _element_shadows.njk -->
		{% if obe_settings['enable-obebs4-box-shadows'] === 'true' or obe_settings['enable-obebs4-text-shadows'] === 'true' %}
        <div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container">
                
                {% if obe_settings['enable-obebs4-box-shadows'] === 'true' %}
                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['extensions']['sections'][3]['id'] }}" class="col-md-6 pb-5">
                        
                        {{ macros.page_section_heading(global_strings['extensions']['sections'][3]['head'], global_strings['extensions']['sections'][3]['subhead'], global_strings['extensions']['sections'][3]['descrip']) }}
                        
                        {{ macros.box_shadow('xs', 'XS') }}
                        {{ macros.box_shadow('sm', 'SM') }}
                        {{ macros.box_shadow('md', 'MD') }}
                        {{ macros.box_shadow('lg', 'LG') }}
                        {{ macros.box_shadow('xl', 'XL') }}

                    </div>

                    <div id="{{ global_strings['extensions']['sections'][4]['id'] }}" class="col-md-6 pb-5">
                        
                        {{ macros.page_section_heading(global_strings['extensions']['sections'][4]['head'], global_strings['extensions']['sections'][4]['subhead'], global_strings['extensions']['sections'][4]['descrip']) }}

                        {{ macros.box_shadow_hover('xs', 'XS' )}}
                        {{ macros.box_shadow_hover('sm', 'SM') }}
                        {{ macros.box_shadow_hover('md', 'MD') }}
                        {{ macros.box_shadow_hover('lg', 'LG') }}
                        {{ macros.box_shadow_hover('xl', 'XL') }}

                    </div>

                </div>
                {% endif %}
                    
                {% if obe_settings['enable-obebs4-text-shadows'] === 'true' %}
                <div class="row justify-content-center">

                    <div id="{{ global_strings['extensions']['sections'][5]['id'] }}" class="col-md-6 pb-5">
                        
                        {{ macros.page_section_heading(global_strings['extensions']['sections'][5]['head'], global_strings['extensions']['sections'][5]['subhead'], global_strings['extensions']['sections'][5]['descrip']) }}

                        {{ macros.text_shadows('bg-light', 'text-white', '', 'Text Shadow') }}
                        {{ macros.text_shadows('bg-light', 'text-white', '-lg', 'Large Text Shadow') }}

                        {{ macros.text_shadows('bg-light', 'text-white', '-hard', 'Hard Text Shadow') }}
                        {{ macros.text_shadows('bg-light', 'text-white', '-lg-hard', 'Large Hard Shadow') }}

                        {{ macros.text_shadows('bg-black', 'text-dark-gray', '-white', 'White Text Shadow') }}
                        {{ macros.text_shadows('bg-black', 'text-dark-gray', '-white-lg', 'White Large Text') }}

                        {{ macros.text_shadows('bg-black', 'text-dark-gray', '-white-hard', 'White Hard Shadow') }}
                        {{ macros.text_shadows('bg-black', 'text-dark-gray', '-white-lg-hard', 'White Large Hard Shadow') }}

                    </div>

                </div>
                {% endif %}

            </div>

        </div>
        {% endif %}