<!-- _element_sizes.njk -->
		{% if obe_settings['enable-obebs4-element-sizes'] === 'true' %}
        <div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container">
                
                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['extensions']['sections'][8]['id'] }}" class="col-12 pb-5">
                        
                        {{ macros.page_section_heading(global_strings['extensions']['sections'][8]['head'], global_strings['extensions']['sections'][8]['subhead'], global_strings['extensions']['sections'][8]['descrip']) }}
                        
                        {{ macros.element_widths('0') }}
                        {{ macros.element_widths('5') }}
                        {{ macros.element_widths('10') }}
                        {{ macros.element_widths('15') }}
                        {{ macros.element_widths('20') }}
                        {{ macros.element_widths('25') }}
                        {{ macros.element_widths('30') }}
                        {{ macros.element_widths('33') }}
                        {{ macros.element_widths('35') }}
                        {{ macros.element_widths('40') }}
                        {{ macros.element_widths('45') }}
                        {{ macros.element_widths('50') }}
                        {{ macros.element_widths('55') }}
                        {{ macros.element_widths('60') }}
                        {{ macros.element_widths('65') }}
                        {{ macros.element_widths('66') }}
                        {{ macros.element_widths('70') }}
                        {{ macros.element_widths('75') }}
                        {{ macros.element_widths('80') }}
                        {{ macros.element_widths('85') }}
                        {{ macros.element_widths('90') }}
                        {{ macros.element_widths('95') }}
                        {{ macros.element_widths('99') }}
                        {{ macros.element_widths('100') }}

                    </div>

                </div>

                <div class="row justify-content-center">

                    <div id="{{ global_strings['extensions']['sections'][9]['id'] }}" class="col-12 pb-5">
                        
                        {{ macros.page_section_heading(global_strings['extensions']['sections'][9]['head'], global_strings['extensions']['sections'][9]['subhead'], global_strings['extensions']['sections'][9]['descrip']) }}
                        
                        {{ macros.element_heights('0') }}
                        {{ macros.element_heights('5') }}
                        {{ macros.element_heights('10') }}
                        {{ macros.element_heights('15') }}
                        {{ macros.element_heights('20') }}
                        {{ macros.element_heights('25') }}
                        {{ macros.element_heights('30') }}
                        {{ macros.element_heights('33') }}
                        {{ macros.element_heights('35') }}
                        {{ macros.element_heights('40') }}
                        {{ macros.element_heights('45') }}
                        {{ macros.element_heights('50') }}
                        {{ macros.element_heights('55') }}
                        {{ macros.element_heights('60') }}
                        {{ macros.element_heights('65') }}
                        {{ macros.element_heights('66') }}
                        {{ macros.element_heights('70') }}
                        {{ macros.element_heights('75') }}
                        {{ macros.element_heights('80') }}
                        {{ macros.element_heights('85') }}
                        {{ macros.element_heights('90') }}
                        {{ macros.element_heights('95') }}
                        {{ macros.element_heights('99') }}
                        {{ macros.element_heights('100') }}

                    </div>

                </div>

            </div>

        </div>
        {% endif %}