<!-- _fab_buttons.njk -->
		{% if obe_settings['enable-obebs4-fab-buttons'] === 'true' %}
		<div class="container-fluid pt-5 text-center bg-white text-dark">
		
			<div class="container">
				
				<div class="row justify-content-center">
					
					<div id="{{ global_strings['extensions']['sections'][15]['id'] }}" class="col">
					
						{{ macros.page_section_heading(global_strings['extensions']['sections'][15]['head'], global_strings['extensions']['sections'][15]['subhead'], global_strings['extensions']['sections'][15]['descrip']) }}

                    </div>

                </div>

                <div class="row justify-content-center">

                    <div class="col-md-4 pb-5">

                        {{ macros.fab_buttons('Round Corner Fabs', '') }}
						
					</div>

                    <div class="col-md-4 pb-5">
                    
                        {{ macros.fab_buttons('Square Corner Fabs', ' rounded-0') }}    

                    </div>

                    <div class="col-md-4 pb-5">
                    
                        {{ macros.fab_buttons('Circle Fabs', ' rounded-circle') }}    

                    </div>

                </div>

            </div>

        </div>
		{% endif %}