<!-- _lists.njk -->
		{% if obe_settings['enable-obebs4-lists'] === 'true' %}
        <div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container">
                
                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['extensions']['sections'][10]['id'] }}" class="col-md-6 pb-5">
                    
                        {{ macros.page_section_heading(global_strings['extensions']['sections'][10]['head'], global_strings['extensions']['sections'][10]['subhead'], global_strings['extensions']['sections'][10]['descrip']) }}

                        {{ macros.list_elements('', 'Default') }}
                        {{ macros.list_elements('decimal-list ', 'Decimal') }}
                        {{ macros.list_elements('decimal-leading-zero-list ', 'Leading Zero Decimal') }}
                        {{ macros.list_elements('lower-roman-list ', 'Lowercase Roman') }}
                        {{ macros.list_elements('upper-roman-list ', 'Uppercase Roman') }}
                        {{ macros.list_elements('lower-latin-list ', 'Lowercase Latin') }}
                        {{ macros.list_elements('upper-latin-list ', 'Uppercase Latin') }}
                        {{ macros.list_elements('lower-greek-list ', 'Lowercase Greek') }}

                        {{ macros.list_elements('disc-list ', 'Disc') }}
                        {{ macros.list_elements('cirle-list ', 'Circle') }}
                        {{ macros.list_elements('square-list ', 'Square') }}

                    </div>

                    <div id="{{ global_strings['extensions']['sections'][11]['id'] }}" class="col-md-6 pb-5">
                    
                        {{ macros.page_section_heading(global_strings['extensions']['sections'][11]['head'], global_strings['extensions']['sections'][11]['subhead'], global_strings['extensions']['sections'][11]['descrip']) }}

                        {{ macros.list_unordered_elements('', 'Default') }}
                        {{ macros.list_unordered_elements('decimal-list ', 'Decimal') }}
                        {{ macros.list_unordered_elements('decimal-leading-zero-list ', 'Leading Zero Decimal') }}
                        {{ macros.list_unordered_elements('lower-roman-list ', 'Lowercase Roman') }}
                        {{ macros.list_unordered_elements('upper-roman-list ', 'Uppercase Roman') }}
                        {{ macros.list_unordered_elements('lower-latin-list ', 'Lowercase Latin') }}
                        {{ macros.list_unordered_elements('upper-latin-list ', 'Uppercase Latin') }}
                        {{ macros.list_unordered_elements('lower-greek-list ', 'Lowercase Greek') }}

                        {{ macros.list_unordered_elements('disc-list ', 'Disc') }}
                        {{ macros.list_unordered_elements('cirle-list ', 'Circle') }}
                        {{ macros.list_unordered_elements('square-list ', 'Square') }}

                    </div>

                </div>

            </div>

        </div>
        {% endif %}