<!-- _lists.njk -->
		{% if obe_settings['enable-obeb4-lists'] === 'true' %}
        <div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container">
                
                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['extensions']['sections']['10']['id'] }}" class="col-md-6 pb-5">
                    
                        {% set headingHeadline = global_strings['extensions']['sections']['10']['head'] %}
						{% set headingSubline = global_strings['extensions']['sections']['10']['subhead'] %}
						{% set headingDescrip = global_strings['extensions']['sections']['10']['descrip'] %}
                        {% include "partials/_columnHeading.njk" %}

                        {% macro list_elements(fullClassTrailingSpace, textDescrip) %}
                        <div class="js-prism">
                            <ol class="{{ fullClassTrailingSpace }}text-left text-capitalize text-dark">
                                <li>{{ textDescrip }} ordered list</li>
                                <li class="text-danger"><span class="text-dark">Custom colored item</span></li>
                                <li>
                                    Standard Item
                                    <ol class="{{ fullClassTrailingSpace }}text-capitalize">
                                        <li>Nested {{ textDescrip }} item</li>
                                        <li class="text-danger"><span class="text-dark">Nested colored item</span></li>
                                    </ol>
                                </li>
                            </ol>
                        </div>
                        {% endmacro %}

                        {{ list_elements('', 'Default') }}
                        {{ list_elements('decimal-list ', 'Decimal') }}
                        {{ list_elements('decimal-leading-zero-list ', 'Leading Zero Decimal') }}
                        {{ list_elements('lower-roman-list ', 'Lowercase Roman') }}
                        {{ list_elements('upper-roman-list ', 'Uppercase Roman') }}
                        {{ list_elements('lower-latin-list ', 'Lowercase Latin') }}
                        {{ list_elements('upper-latin-list ', 'Uppercase Latin') }}
                        {{ list_elements('lower-greek-list ', 'Lowercase Greek') }}

                        {{ list_elements('disc-list ', 'Disc') }}
                        {{ list_elements('cirle-list ', 'Circle') }}
                        {{ list_elements('square-list ', 'Square') }}

                    </div>

                    <div id="{{ global_strings['extensions']['sections']['11']['id'] }}" class="col-md-6 pb-5">
                    
                        {% set headingHeadline = global_strings['extensions']['sections']['11']['head'] %}
						{% set headingSubline = global_strings['extensions']['sections']['11']['subhead'] %}
						{% set headingDescrip = global_strings['extensions']['sections']['11']['descrip'] %}
                        {% include "partials/_columnHeading.njk" %}

                        {% macro unordered_list_elements(fullClassTrailingSpace, textDescrip) %}
                        <div class="js-prism">
                            <ul class="{{ fullClassTrailingSpace }}text-left text-capitalize text-dark">
                                <li>{{ textDescrip }} ordered list</li>
                                <li class="text-danger"><span class="text-dark">Custom colored item</span></li>
                                <li>
                                    Standard Item
                                    <ul class="{{ fullClassTrailingSpace }}text-capitalize">
                                        <li>Nested {{ textDescrip }} item</li>
                                        <li class="text-danger"><span class="text-dark">Nested colored item</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        {% endmacro %}

                        {{ unordered_list_elements('', 'Default') }}
                        {{ unordered_list_elements('decimal-list ', 'Decimal') }}
                        {{ unordered_list_elements('decimal-leading-zero-list ', 'Leading Zero Decimal') }}
                        {{ unordered_list_elements('lower-roman-list ', 'Lowercase Roman') }}
                        {{ unordered_list_elements('upper-roman-list ', 'Uppercase Roman') }}
                        {{ unordered_list_elements('lower-latin-list ', 'Lowercase Latin') }}
                        {{ unordered_list_elements('upper-latin-list ', 'Uppercase Latin') }}
                        {{ unordered_list_elements('lower-greek-list ', 'Lowercase Greek') }}

                        {{ unordered_list_elements('disc-list ', 'Disc') }}
                        {{ unordered_list_elements('cirle-list ', 'Circle') }}
                        {{ unordered_list_elements('square-list ', 'Square') }}

                    </div>

                </div>

            </div>

        </div>
        {% endif %}