<!-- _material_design_forms.njk -->
		{% if obe_settings['enable-obebs4-material-design-forms'] === 'true' %}
        <div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container pt-5">
                
                <div id="{{ global_strings['extensions']['sections'][12]['id'] }}" class="row justify-content-center">
                    
                    <div class="col-md-6 pb-5">
                        
                        {{ macros.page_section_heading(global_strings['extensions']['sections'][12]['head'], global_strings['extensions']['sections'][12]['subhead'], global_strings['extensions']['sections'][12]['descrip']) }}

                    </div>

                </div>

                <div class="row justify-content-center">
                    
                    <div class="col-md-6 pb-5">

                        <label class="d-block font-weight-bold">Static Variations</label>
                        
                        <!-- this is NOT working yet, currently have no default option! :( -->
                        <!--div class="js-prism pt-4 mb-2">
                            <div class="material-static-input-group">
                                <input type="text" id="md-static-text" name="md-static-text" class="material-input rounded-0 border-0" aria-describedby="md-static-label" required>
                                <span class="material-bar"></span>
                                <label id="md-static-label" class="material-label">Default Text Input</label>
                            </div>
                        </div-->
                        <!-- this is NOT working yet, currently have no default option! :( -->

                        {{ macros.material_text_inputs('Primary', 'primary') }}
                        {{ macros.material_text_inputs('Secondary', 'secondary') }}
                        {{ macros.material_text_inputs('Success', 'success') }}
                        {{ macros.material_text_inputs('Danger', 'danger') }}
                        {{ macros.material_text_inputs('Warning', 'warning') }}
                        {{ macros.material_text_inputs('Info', 'info') }}
                        {{ macros.material_text_inputs('Light', 'light') }}
                        {{ macros.material_text_inputs('Dark', 'dark') }}

                        {{ macros.material_text_inputs('White', 'white') }}
                        {{ macros.material_text_inputs('Light Gray', 'light-gray') }}
                        {{ macros.material_text_inputs('Gray', 'gray') }}
                        {{ macros.material_text_inputs('Dark Gray', 'dark-gray') }}
                        {{ macros.material_text_inputs('Black', 'black') }}

                        {{ macros.material_text_inputs('Red', 'red') }}
                        {{ macros.material_text_inputs('Rose', 'rose') }}
                        {{ macros.material_text_inputs('Magenta', 'magenta') }}
                        {{ macros.material_text_inputs('Violet', 'violet') }}
                        {{ macros.material_text_inputs('Blue', 'blue') }}
                        {{ macros.material_text_inputs('Azure', 'azure') }}
                        {{ macros.material_text_inputs('Cyan', 'cyan') }}
                        {{ macros.material_text_inputs('Spring Green', 'spring-green') }}
                        {{ macros.material_text_inputs('Green', 'green') }}
                        {{ macros.material_text_inputs('Chartreuse', 'chartreuse') }}
                        {{ macros.material_text_inputs('Yellow', 'yellow') }}
                        {{ macros.material_text_inputs('Orange', 'orange') }}
                        {{ macros.material_text_inputs('Orange Gray', 'orange-gray') }}
                        {{ macros.material_text_inputs('Dark Gray Orange', 'dark-gray-orange') }}
                        {{ macros.material_text_inputs('Blue Gray', 'blue-gray') }}
                        {{ macros.material_text_inputs('Light Gray Azure', 'light-gray-azure') }}

                    </div>

                    <div class="col-md-6 pb-5">

                        <label class="d-block font-weight-bold">Floating Variations</label>

                        {{ macros.material_float_text_inputs('Primary', 'primary') }}
                        {{ macros.material_float_text_inputs('Secondary', 'secondary') }}
                        {{ macros.material_float_text_inputs('Success', 'success') }}
                        {{ macros.material_float_text_inputs('Danger', 'danger') }}
                        {{ macros.material_float_text_inputs('Warning', 'warning') }}
                        {{ macros.material_float_text_inputs('Info', 'info') }}
                        {{ macros.material_float_text_inputs('Light', 'light') }}
                        {{ macros.material_float_text_inputs('Dark', 'dark') }}

                        {{ macros.material_float_text_inputs('White', 'white') }}
                        {{ macros.material_float_text_inputs('Light Gray', 'light-gray') }}
                        {{ macros.material_float_text_inputs('Gray', 'gray') }}
                        {{ macros.material_float_text_inputs('Dark Gray', 'dark-gray') }}
                        {{ macros.material_float_text_inputs('Black', 'black') }}

                        {{ macros.material_float_text_inputs('Red', 'red') }}
                        {{ macros.material_float_text_inputs('Rose', 'rose') }}
                        {{ macros.material_float_text_inputs('Magenta', 'magenta') }}
                        {{ macros.material_float_text_inputs('Violet', 'violet') }}
                        {{ macros.material_float_text_inputs('Blue', 'blue') }}
                        {{ macros.material_float_text_inputs('Azure', 'azure') }}
                        {{ macros.material_float_text_inputs('Cyan', 'cyan') }}
                        {{ macros.material_float_text_inputs('Spring Green', 'spring-green') }}
                        {{ macros.material_float_text_inputs('Green', 'green') }}
                        {{ macros.material_float_text_inputs('Chartreuse', 'chartreuse') }}
                        {{ macros.material_float_text_inputs('Yellow', 'yellow') }}
                        {{ macros.material_float_text_inputs('Orange', 'orange') }}
                        {{ macros.material_float_text_inputs('Orange Gray', 'orange-gray') }}
                        {{ macros.material_float_text_inputs('Dark Gray Orange', 'dark-gray-orange') }}
                        {{ macros.material_float_text_inputs('Blue Gray', 'blue-gray') }}
                        {{ macros.material_float_text_inputs('Light Gray Azure', 'light-gray-azure') }}

                    </div>

                </div>

            </div>

        </div>
        {% endif %}