<!-- _modal_utilities.njk -->
		
        <div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container">
                
                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['extensions']['sections'][13]['id'] }}" class="col-12 pb-5">
                        
                        {{ macros.page_section_heading(global_strings['extensions']['sections'][13]['head'], global_strings['extensions']['sections'][13]['subhead'], global_strings['extensions']['sections'][13]['descrip']) }}
                        
                        {{ macros.modal_utils('Slide From Top', '', 'modal-slide-top') }}
                        {{ macros.modal_utils('Slide From Right', ' slide-from-right', 'modal-slide-right') }}
                        {{ macros.modal_utils('Slide From Left', ' slide-from-left', 'modal-slide-left') }}
                        {{ macros.modal_utils('Slide From Bottom', ' slide-from-bottom', 'modal-slide-bottom') }}
                        {{ macros.modal_utils('Fade and Scale', ' fade-scale', 'modal-fade-scale') }}
                        
                        
                        {{ macros.modal_top_pinned('Top Pinned', ' top-pinned', 'modal-top-pinned') }}


                        {{ macros.modal_bottom_pinned('Bottom Pinned', ' bottom-pinned', 'modal-bottom-pinned') }}


                        {{ macros.modal_left_right_pinned('Left Pinned', ' left-pinned', 'modal-left-pinned') }}
                        {{ macros.modal_left_right_pinned('Right Pinned', ' right-pinned', 'modal-right-pinned') }}


                        {{ macros.modal_fullscreen('Fullscreen', ' modal-fullscreen', 'modal-fullscreen') }}
                        
                    </div>

                </div>

            </div>

        </div>
