<!-- _off_canvas_navigaiton_modals.njk -->
		{% if obe_settings['enable-obebs4-off-canvas-nav-modals'] === 'true' and  obe_settings['enable-obebs4-modal-utilities'] === 'true' %}
        <div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container">
                
                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['extensions']['sections']['16']['id'] }}" class="col-12 pb-5">
                        
                        {% set headingHeadline = global_strings['extensions']['sections']['16']['head'] %}
						{% set headingSubline = global_strings['extensions']['sections']['16']['subhead'] %}
						{% set headingDescrip = global_strings['extensions']['sections']['16']['descrip'] %}
                        {% include "partials/_columnHeading.njk" %}



                        {% macro offcanvas_basic_modal_nav(directionName, pinClass, uniqueIdPart) %}
                        <label class="d-block font-weight-bold pt-4">{{ directionName }} Off-Canvas Nav Modal</label>
                        <div class="js-prism mb-2">
                            <!-- OC Nav {{ directionName }} Modal Trigger -->
                            <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#{{ uniqueIdPart }}-modal">OC Nav {{ directionName }}</button>

                            <!-- OC Nav {{ directionName }} Modal -->
                            <div id="{{ uniqueIdPart }}-modal" class="modal fade{{ pinClass }}" tabindex="-1" role="dialog" aria-labelledby="{{ uniqueIdPart }}-modal" aria-hidden="true">
                                <div class="modal-dialog modal-lg mt-0">
                                    <div class="modal-content d-flex flex-column border-0 rounded-0 text-left">
                                        <div class="modal-header border-light-gray-100">
                                            <h6 class="modal-title">MENU</h6>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body m-3" role="navigation">
                                            <ul class="nav flex-column align-items-start">
                                                <li class="nav-item">
                                                    <a class="nav-link text-dark" href="#">Nav Link 1</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link text-dark" href="#">Nav Link 2</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link text-dark disabled" href="#">Nav Disabled</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link text-dark" href="#">Nav Link 4</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="modal-footer justify-content-center border-light-gray-100">
                                            <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">CLOSE</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endmacro %}

                        {{ offcanvas_basic_modal_nav('Right', ' right-pinned', 'ocnr-right-basic') }}
                        {{ offcanvas_basic_modal_nav('Left', ' left-pinned', 'ocnr-left-basic') }}
                        
                        
                        
                        
                        
                        {% macro offcanvas_accordian_modal_nav(directionName, pinClass, uniqueIdPart) %}
                        <label class="d-block font-weight-bold pt-4">Off-Canvas Accordian Nav {{ directionName }} Modal</label>
                        <div class="js-prism mb-2">
                            <!-- OC Nav {{ directionName }} Modal Trigger -->
                            <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#{{ uniqueIdPart }}-modal">Accordian OC {{ directionName }}</button>

                            <!-- OC Nav {{ directionName }} Modal -->
                            <div id="{{ uniqueIdPart }}-modal" class="modal fade{{ pinClass }}" tabindex="-1" role="dialog" aria-labelledby="{{ uniqueIdPart }}-modal" aria-hidden="true">
                                <div class="modal-dialog modal-lg mt-0">
                                    <div class="modal-content d-flex flex-column border-0 rounded-0 text-left">
                                        <div class="modal-header border-light-gray-100">
                                            <h6 class="modal-title">MENU</h6>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div id="{{ uniqueIdPart }}-accordnav" class="modal-body" role="presentation">
                                            <div id="{{ uniqueIdPart }}-heading-1" class="lead text-dark rounded-0 border-top border-bottom border-light-gray-100 px-3 py-2" data-toggle="collapse" data-target="#{{ uniqueIdPart }}-content-1" aria-expanded="false" aria-controls="{{ uniqueIdPart }}-content-1" role="heading">Group 1</div>
                                            <div id="{{ uniqueIdPart }}-content-1" class="collapse" aria-labelledby="{{ uniqueIdPart }}-heading-1" data-parent="#{{ uniqueIdPart }}-accordnav" role="navigation">
                                                <ul class="nav flex-column bg-transparent text-sm py-2 pl-2">
                                                    <li class="nav-item">
                                                        <a class="nav-link text-dark py-1" href="#">Link One</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link text-dark py-1" href="#">Link Two</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link text-dark py-1" href="#">Link Three</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="{{ uniqueIdPart }}-heading-2" class="lead text-dark rounded-0 border-top border-bottom border-light-gray-100 px-3 py-2" data-toggle="collapse" data-target="#{{ uniqueIdPart }}-content-2" aria-expanded="false" aria-controls="{{ uniqueIdPart }}-content-2" role="heading">Group 2</div>
                                            <div id="{{ uniqueIdPart }}-content-2" class="collapse" aria-labelledby="{{ uniqueIdPart }}-heading-2" data-parent="#{{ uniqueIdPart }}-accordnav" role="navigation">
                                                <ul class="nav flex-column bg-transparent text-sm py-2 pl-2">
                                                    <li class="nav-item">
                                                        <a class="nav-link text-dark py-1" href="#">Link One</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link text-dark py-1" href="#">Link Two</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link text-dark py-1" href="#">Link Three</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="{{ uniqueIdPart }}-heading-3" class="lead text-dark rounded-0 border-top border-bottom border-light-gray-100 px-3 py-2" data-toggle="collapse" data-target="#{{ uniqueIdPart }}-content-3" aria-expanded="false" aria-controls="{{ uniqueIdPart }}-content-3" role="heading">Group 3</div>
                                            <div id="{{ uniqueIdPart }}-content-3" class="collapse" aria-labelledby="{{ uniqueIdPart }}-heading-3" data-parent="#{{ uniqueIdPart }}-accordnav" role="navigation">
                                                <ul class="nav flex-column bg-transparent text-sm py-2 pl-2">
                                                    <li class="nav-item">
                                                        <a class="nav-link text-dark py-1" href="#">Link One</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link text-dark py-1" href="#">Link Two</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link text-dark py-1" href="#">Link Three</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="modal-footer justify-content-center border-light-gray-100">
                                            <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">CLOSE</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endmacro %}

                        {{ offcanvas_accordian_modal_nav('Right', ' right-pinned', 'ocnr-right-accordian') }}
                        {{ offcanvas_accordian_modal_nav('Left', ' left-pinned', 'ocnr-left-accordian') }}





                        {% macro offcanvas_top_inline_modal_nav(directionName, pinClass, uniqueIdPart) %}
                        <label class="d-block font-weight-bold pt-4">Off-Canvas {{ directionName }} Nav Modal</label>
                        <div class="js-prism mb-2">
                            <!-- OC Nav {{ directionName }} Modal Trigger -->
                            <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#{{ uniqueIdPart }}-modal">OC {{ directionName }}</button>

                            <!-- OC Nav {{ directionName }} Modal -->
                            <div id="{{ uniqueIdPart }}-modal" class="modal fade{{ pinClass }}" tabindex="-1" role="dialog" aria-labelledby="{{ uniqueIdPart }}-modal" aria-hidden="true">
                                <div class="modal-dialog modal-lg mt-0">
                                    <div class="modal-content d-flex flex-column border-0 rounded-0 text-left">
                                        <div class="modal-header justify-content-center border-0 pb-0">
                                            <h6 class="modal-title">MENU</h6>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                                <div class="row justify-content-center">
                                                    <div class="col">
                                                        <nav class="nav justify-content-center">
                                                            <a class="nav-item nav-link text-dark" href="#">Nav Link One</a>
                                                            <a class="nav-item nav-link text-dark" href="#">Nav Link Two</a>
                                                            <a class="nav-item nav-link text-dark" href="#">Nav Link Three</a>
                                                            <a class="nav-item nav-link text-dark" href="#">Nav Link Four</a>
                                                            <a class="nav-item nav-link text-dark" href="#">Nav Link Five</a>
                                                            <a class="nav-item nav-link text-dark" href="#">Nav Link Six</a>
                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer justify-content-center border-0">
                                            <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">CLOSE</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endmacro %}

                        {{ offcanvas_top_inline_modal_nav('Top Inline', ' modal-fullscreen', 'top-inline-nav-modal') }}





                    </div>

                </div>

            </div>

        </div>
        {% endif %}