<!-- _off_canvas_navigaiton_modals.njk -->
		{% if obe_settings['enable-obebs4-off-canvas-nav-modals'] === 'true' and  obe_settings['enable-obebs4-modal-utilities'] === 'true' %}
        <div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container">
                
                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['extensions']['sections'][16]['id'] }}" class="col-12 pb-5">
                        
                        {{ macros.page_section_heading(global_strings['extensions']['sections'][16]['head'], global_strings['extensions']['sections'][16]['subhead'], global_strings['extensions']['sections'][16]['descrip']) }}

                        {{ macros.modal_offcanvas_nav_basic('Right', ' right-pinned', 'ocnr-right-basic') }}
                        {{ macros.modal_offcanvas_nav_basic('Left', ' left-pinned', 'ocnr-left-basic') }}


                        {{ macros.modal_offcanvas_nav_accordian('Right', ' right-pinned', 'ocnr-right-accordian') }}
                        {{ macros.modal_offcanvas_nav_accordian('Left', ' left-pinned', 'ocnr-left-accordian') }}


                        {{ macros.modal_offcanvas_top_inline_nav('Top Inline', ' modal-fullscreen', 'top-inline-nav-modal') }}

                    </div>

                </div>

            </div>

        </div>
        {% endif %}