<!-- _opacity_utilities.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container pt-5">
                
                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['extensions']['sections'][14]['id'] }}" class="col-md-6">
                        
                        {{ macros.page_section_heading(global_strings['extensions']['sections'][14]['head'], global_strings['extensions']['sections'][14]['subhead'], global_strings['extensions']['sections'][14]['descrip']) }}

                    </div>

                </div>

                <div class="row justify-content-center">
                    
                    <div class="col-md-6 pb-5">

                        {% macro opacity_util(number) %}
                        <div class="js-prism bg-primary text-white p-2 mb-2">
                            <div class="opacity-{{ number }}">{{ number }}%</div>
                        </div>
                        {% endmacro %}

                        {{ opacity_util('0') }}
                        {{ opacity_util('5') }}
                        {{ opacity_util('10') }}
                        {{ opacity_util('15') }}
                        {{ opacity_util('20') }}
                        {{ opacity_util('25') }}
                        {{ opacity_util('30') }}
                        {{ opacity_util('33') }}
                        {{ opacity_util('35') }}
                        {{ opacity_util('45') }}
                        {{ opacity_util('50') }}
                        {{ opacity_util('55') }}
                        {{ opacity_util('65') }}
                        {{ opacity_util('66') }}
                        {{ opacity_util('70') }}
                        {{ opacity_util('75') }}
                        {{ opacity_util('80') }}
                        {{ opacity_util('80') }}
                        {{ opacity_util('90') }}
                        {{ opacity_util('95') }}
                        {{ opacity_util('99') }}
                        {{ opacity_util('100') }}

                    </div>

                </div>

            </div>

        </div>