<!-- _bs_utilities_float.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container modal-workspace">

                <div class="row justify-content-center pt-5">
                    
                    <div id="{{ global_strings['defaults']['sections']['36']['id'] }}" class="col-12">
                        
                        {% set headingHeadline = global_strings['defaults']['sections']['36']['head'] %}
						{% set headingSubline = global_strings['defaults']['sections']['36']['subhead'] %}
						{% set headingDescrip = global_strings['defaults']['sections']['36']['descrip'] %}
                        {% include "partials/_columnHeading.njk" %}

                    </div>

                </div>

                <div class="row justify-content-center">

                    <div class="col-md-8 pb-5">
                        
                        <h5 class="mt-4">Float Left</h5>
                        <div class="js-prism pb-2">
                            <div class="clearfix text-left">
                                <img class="float-left mr-3 mb-2" src="images/64x64.jpg" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue consequat leo, in pulvinar ex vulputate et. Phasellus sit amet magna justo. Curabitur facilisis lobortis libero. Vivamus fringilla eros id nulla fermentum elementum. Proin vitae massa sed est congue bibendum et ac quam. Vestibulum tempor ut massa ut maximus.</p>
                            </div>
                        </div>

                        <h5 class="mt-4">Float Right</h5>
                        <div class="js-prism pb-2">
                            <div class="clearfix text-left">
                                <img class="float-right ml-3 mb-2" src="images/64x64.jpg" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue consequat leo, in pulvinar ex vulputate et. Phasellus sit amet magna justo. Curabitur facilisis lobortis libero. Vivamus fringilla eros id nulla fermentum elementum. Proin vitae massa sed est congue bibendum et ac quam. Vestibulum tempor ut massa ut maximus.</p>
                            </div>
                        </div>

                        <h5 class="mt-4">Float None</h5>
                        <div class="js-prism pb-2">
                            <div class="clearfix">
                                <img class="float-none mb-2" src="images/64x64.jpg" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue consequat leo, in pulvinar ex vulputate et. Phasellus sit amet magna justo. Curabitur facilisis lobortis libero. Vivamus fringilla eros id nulla fermentum elementum. Proin vitae massa sed est congue bibendum et ac quam. Vestibulum tempor ut massa ut maximus.</p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>