<!-- _bs_jumbotrons.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container">

                <div class="row justify-content-center pt-5">
                    
                    <div id="{{ global_strings['defaults']['sections']['45']['id'] }}" class="col-12">
                        
                        {% set headingHeadline = global_strings['defaults']['sections']['45']['head'] %}
						{% set headingSubline = global_strings['defaults']['sections']['45']['subhead'] %}
						{% set headingDescrip = global_strings['defaults']['sections']['45']['descrip'] %}
                        {% include "partials/_columnHeading.njk" %}

                    </div>

                </div>

                <div class="row justify-content-center">

                    <div class="col-12">
                    
                        <div class="js-prism mb-2">
                            <div class="jumbotron bg-light">
                                <h1 class="display-4">Default Jumbotron</h1>
                                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                                <hr class="my-4">
                                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="js-prism">
            <div class="jumbotron jumbotron-fluid bg-light mb-0">
                
                <div class="container">
                    
                    <div class="row justify-content-center">

                        <div class="col-12">
                            
                            <h1 class="display-4">Full-Width Jumbotron</h1>
                            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                            <hr class="my-4">
                            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

                        </div>

                    </div>

                </div>
                
            </div>
        </div>