<!-- _bs_button_groups_dropdowns.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container">

                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['defaults']['sections'][20]['id'] }}" class="col-md-6 pb-5">
                        
                        {{ macros.page_section_heading(global_strings['defaults']['sections'][20]['head'], global_strings['defaults']['sections'][20]['subhead'], global_strings['defaults']['sections'][20]['descrip']) }}
                        
                        <div class="js-prism mb-2">
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                
                                <button type="button" class="btn btn-primary">1</button>
                                
                                <button type="button" class="btn btn-primary">2</button>

                                <div class="btn-group" role="group">
                                    <button id="button-group-dropdown" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Dropdown</button>
                                    <div class="dropdown-menu" aria-labelledby="button-group-dropdown">
                                        <a class="dropdown-item" href="#">Dropdown link</a>
                                        <a class="dropdown-item" href="#">Dropdown link</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>