<!-- _bs_utilities_sizing.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container modal-workspace">

                <div class="row justify-content-center pt-5">
                    
                    <div id="{{ global_strings['defaults']['sections'][58]['id'] }}" class="col-12">
                        
                        {{ macros.page_section_heading(global_strings['defaults']['sections'][58]['head'], global_strings['defaults']['sections'][58]['subhead'], global_strings['defaults']['sections'][58]['descrip']) }}

                    </div>

                </div>

                <div class="row justify-content-center">

                    <div class="col pb-5">

                        <h5 class="mt-4">Width Utility Classes</h5>
                        
                        {{ macros.element_width_utils('25', '25%') }}
                        {{ macros.element_width_utils('50', '50%') }}
                        {{ macros.element_width_utils('75', '75%') }}
                        {{ macros.element_width_utils('100', '100%') }}

                        <div class="js-prism mb-2">
                            <div class="bg-light text-white w-100">
                                <span class="bg-primary w-auto">Auto</span>
                            </div>
                        </div>

                        <h5 class="mt-4">Height Utility Classes</h5>

                        {{ macros.element_height_utils('25', '25%') }}
                        {{ macros.element_height_utils('50', '50%') }}
                        {{ macros.element_height_utils('75', '75%') }}
                        {{ macros.element_height_utils('100', '100%') }}
                        {{ macros.element_height_utils('auto', 'Auto') }}

                    </div>

                </div>

            </div>

        </div>