<!-- _bs_utilities_flex.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container modal-workspace">

                <div class="row justify-content-center pt-5">
                    
                    <div id="{{ global_strings['defaults']['sections'][34]['id'] }}" class="col-12">
                        
                        {{ macros.page_section_heading(global_strings['defaults']['sections'][34]['head'], global_strings['defaults']['sections'][34]['subhead'], global_strings['defaults']['sections'][34]['descrip']) }}

                    </div>

                </div>

                <div class="row justify-content-center">

                    <div class="col pb-5">

                        {{ macros.flex_direction('Flex Row', 'row') }}
                        {{ macros.flex_direction('Flex Reversed Row', 'row-reverse') }}
                        {{ macros.flex_direction('Flex Column', 'column') }}
                        {{ macros.flex_direction('Flex Reversed Column', 'column-reverse') }}


                        {{ macros.flex_justification('Justify Start', 'start') }}
                        {{ macros.flex_justification('Justify End', 'end') }}
                        {{ macros.flex_justification('Justify Center', 'center') }}
                        {{ macros.flex_justification('Justify Between', 'between') }}
                        {{ macros.flex_justification('Justify Around', 'around') }}


                        {{ macros.flex_alignment('Align Items Start', 'start') }}
                        {{ macros.flex_alignment('Align Items End', 'end') }}
                        {{ macros.flex_alignment('Align Items Center', 'center') }}
                        {{ macros.flex_alignment('Align Items Baseline', 'baseline') }}
                        {{ macros.flex_alignment('Align Items Stretch', 'stretch') }}


                        {{ macros.flex_align_self('Align Self Start', 'start') }}
                        {{ macros.flex_align_self('Align Self End', 'end') }}
                        {{ macros.flex_align_self('Align Self Center', 'center') }}
                        {{ macros.flex_align_self('Align Self Baseline', 'baseline') }}
                        {{ macros.flex_align_self('Align Self Stretch', 'stretch') }}

                        <h5 class="mt-4">Flex Fill</h5>

                        {{ macros.flex_fill(3) }}
                        {{ macros.flex_fill(4) }}
                        {{ macros.flex_fill(5) }}
                        {{ macros.flex_fill(6) }}
                        
                        <h5 class="mt-4">Flex Grow Examples</h5>
                        
                        {{ macros.flex_grow_shrink(' flex-grow-1', '', '') }}
                        {{ macros.flex_grow_shrink('', ' flex-grow-1', '') }}
                        {{ macros.flex_grow_shrink('', '', ' flex-grow-1') }}

                        <h5 class="mt-4">Flex Shrink Examples</h5>
                        
                        {{ macros.flex_grow_shrink(' w-100', ' flex-shrink-1', ' flex-shrink-1') }}
                        {{ macros.flex_grow_shrink(' flex-shrink-1', ' w-100', ' flex-shrink-1') }}
                        {{ macros.flex_grow_shrink(' flex-shrink-1', ' flex-shrink-1', ' w-100') }}
                        
                        <h5 class="mt-4">Horizontal Auto Margins</h5>
                        
                        {{ macros.flex_auto_margins_horiz(' mr-auto', '', '') }}
                        {{ macros.flex_auto_margins_horiz('', ' mr-auto', '') }}
                        {{ macros.flex_auto_margins_horiz('', '', ' mr-auto') }}
                        {{ macros.flex_auto_margins_horiz(' ml-auto', '', '') }}
                        {{ macros.flex_auto_margins_horiz('', ' ml-auto', '') }}
                        {{ macros.flex_auto_margins_horiz('', '', ' ml-auto') }}

                        <h5 class="mt-4">Vertical Auto Margins</h5>
                        
                        {{ macros.flex_auto_margins_fixed_height(' mt-auto', '', '') }}
                        {{ macros.flex_auto_margins_fixed_height('', ' mt-auto', '') }}
                        {{ macros.flex_auto_margins_fixed_height('', '', ' mt-auto') }}
                        {{ macros.flex_auto_margins_fixed_height(' mb-auto', '', '') }}
                        {{ macros.flex_auto_margins_fixed_height('', ' mb-auto', '') }}
                        {{ macros.flex_auto_margins_fixed_height('', '', ' mb-auto') }}
                        
                        <div class="row justify-content-center">
                            
                            <div class="col-sm-6 pt-4">
                                
                                {{ macros.flex_align_content_classes('Start', 'start') }}
                                {{ macros.flex_align_content_classes('End', 'end') }}
                                {{ macros.flex_align_content_classes('Center', 'center') }}
                                {{ macros.flex_align_content_classes('Around', 'around') }}
                                {{ macros.flex_align_content_classes('Stretch', 'stretch') }}

                            </div>

                        </div>




                    </div>

                </div>

            </div>

        </div>