<!-- _bs_breadcrumbs.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container">

                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['defaults']['sections']['15']['id'] }}" class="col-12 pb-5">
                        
                        {% set headingHeadline = global_strings['defaults']['sections']['15']['head'] %}
						{% set headingSubline = global_strings['defaults']['sections']['15']['subhead'] %}
						{% set headingDescrip = global_strings['defaults']['sections']['15']['descrip'] %}
                        {% include "partials/_columnHeading.njk" %}

                        <div class="js-prism mb-2 text-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb bg-light">
                                    <li class="breadcrumb-item active" aria-current="page">Home</li>
                                </ol>
                            </nav>
                        </div>

                        <div class="js-prism mb-2 text-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb bg-light">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>

                        <div class="js-prism mb-2 text-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb bg-light">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">Library</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Data</li>
                                </ol>
                            </nav>
                        </div>

                    </div>

                </div>

            </div>

        </div>