<!-- _bs_dropdowns.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container">

                <div class="row justify-content-center pt-5">
                    
                    <div id="{{ global_strings['defaults']['sections'][32]['id'] }}" class="col-12">
                        
                        {{ macros.page_section_heading(global_strings['defaults']['sections'][32]['head'], global_strings['defaults']['sections'][32]['subhead'], global_strings['defaults']['sections'][32]['descrip']) }}

                    </div>

                </div>

                <div class="row justify-content-center">

                    <div class="col-md-6 pb-5">

                        <div class="js-prism mb-2">
                            <div class="dropdown">
                                
                                <button class="btn btn-primary dropdown-toggle" type="button" id="button-dd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown Button</button>

                                <div class="dropdown-menu" aria-labelledby="button-dd">
                                    {{ macros.dropdown_items() }}
                                </div>

                            </div>
                        </div>

                        <div class="js-prism mb-2">
                            <div class="dropdown">
                                
                                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="link-dd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown Link</a>
                               
                                <div class="dropdown-menu" aria-labelledby="link-dd">
                                    {{ macros.dropdown_items() }}
                                </div>

                            </div>
                        </div>

                        <div class="js-prism mb-2">
                            <div class="btn-group">
                                
                                <button type="button" class="btn btn-primary">Split Button</button>
                                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>

                                <div class="dropdown-menu">
                                    {{ macros.dropdown_items() }}
                                </div>
                                
                            </div>
                        </div>

                        <div class="js-prism mb-2">
                            <div class="btn-group">
                                
                                <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Large Variation</button>
                                
                                <div class="dropdown-menu">
                                    {{ macros.dropdown_items() }}
                                </div>

                            </div>
                        </div>

                        <div class="js-prism mb-2">
                            <div class="btn-group">
                                
                                <button class="btn btn-primary btn-lg" type="button">Large Split</button>
                                
                                <button type="button" class="btn btn-lg btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                
                                <div class="dropdown-menu">
                                    {{ macros.dropdown_items() }}
                                </div>

                            </div>
                        </div>

                        <div class="js-prism mb-2">
                            <div class="btn-group">
                                
                                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Small Variation</button>
                                
                                <div class="dropdown-menu">
                                    {{ macros.dropdown_items() }}
                                </div>

                            </div>
                        </div>

                        <div class="js-prism mb-2">
                            <div class="btn-group">
                                
                                <button class="btn btn-primary btn-sm" type="button">Small Split</button>
                                
                                <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                
                                <div class="dropdown-menu">
                                    {{ macros.dropdown_items() }}
                                </div>

                            </div>
                        </div>

                        <div class="js-prism mb-2">
                            <div class="btn-group dropup">
                                
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Drop Up Menu</button>
                                
                                <div class="dropdown-menu">
                                    {{ macros.dropdown_items() }}
                                </div>

                            </div>
                        </div>

                        <div class="js-prism mb-2">
                            <div class="btn-group dropright">
                                
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Drop Right Menu</button>
                                
                                <div class="dropdown-menu">
                                    {{ macros.dropdown_items() }}
                                </div>

                            </div>
                        </div>

                        <div class="js-prism mb-2">
                            <div class="btn-group dropleft">
                                
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Drop Left Menu</button>
                                
                                <div class="dropdown-menu">
                                    {{ macros.dropdown_items() }}
                                </div>

                            </div>
                        </div>

                        <div class="js-prism mb-2">
                            <div class="dropdown">
                                
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Button Menu Items</button>
                                
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    
                                    <h6 class="dropdown-header">Dropdown header</h6>
                                    <button class="dropdown-item" type="button">Action Button</button>
                                    <button class="dropdown-item active" type="button">Active Button</button>
                                    <div class="dropdown-divider"></div>
                                    <span class="dropdown-item-text text-muted">Non-Interactive</span>
                                    <button class="dropdown-item disabled" type="button">Disabled Item</button>

                                </div>

                            </div>
                        </div>

                        <div class="js-prism mb-2">
                            <div class="btn-group w-100">
                                
                                <button class="btn btn-primary btn-block dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Full Width Variation</button>
                                
                                <div class="dropdown-menu w-100">
                                    {{ macros.dropdown_items() }}
                                </div>

                            </div>
                        </div>

                        <div class="js-prism mb-2">
                            <div class="btn-group">
                                
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Right-Aligned Menu</button>
                                
                                <div class="dropdown-menu dropdown-menu-right text-right">
                                    {{ macros.dropdown_items() }}
                                </div>

                            </div>
                        </div>

                        <div class="js-prism mb-2">
                            <div class="btn-group">
                                
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Text-Only Menu</button>
                                
                                <div class="dropdown-menu p-4 text-muted">
                                    
                                    <p>Some example text that's free-flowing within the dropdown menu.</p>
                                    <p class="mb-0">And this is more example text.</p>

                                </div>

                            </div>
                        </div>

                        <div class="js-prism mb-2">
                            <div class="btn-group">
                                
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Form Dropdown Menu</button>
                                
                                <div class="dropdown-menu">
                                    <form class="px-3 py-2">
                                        <div class="form-group">
                                            <label for="dd-form-email">Email address</label>
                                            <input type="email" class="form-control" id="dd-form-email" name="dd-form-email" placeholder="email@example.com">
                                        </div>
                                        <div class="form-group">
                                            <label for="dd-form-password">Password</label>
                                            <input type="password" class="form-control" id="dd-form-password" name="dd-form-password" placeholder="Password">
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="dd-form-checkbox" name="dd-form-checkbox">
                                            <label class="form-check-label" for="dd-form-checkbox">Remember me</label>
                                        </div>
                                        <button type="submit" class="btn btn-primary mt-3">Sign in</button>
                                    </form>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Sign up!</a>
                                    <a class="dropdown-item" href="#">Forgot password?</a>
                                </div>

                            </div>
                        </div>

                        <div class="js-prism mb-2">
                            <div class="btn-group">
                                
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">Offset Positioning</button>
                                
                                <div class="dropdown-menu">
                                    {{ macros.dropdown_items() }}
                                </div>

                            </div>
                        </div>

                        <div class="js-prism mb-2">
                            <div class="btn-group">
                                
                                <button type="button" class="btn btn-primary">Reference Positioning</button>
                                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>

                                <div class="dropdown-menu">
                                    {{ macros.dropdown_items() }}
                                </div>
                                
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>