<!-- _bs_button_groups_toolbars.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container">

                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['defaults']['sections'][22]['id'] }}" class="col-md-6 pb-5">
                        
                        {{ macros.page_section_heading(global_strings['defaults']['sections'][22]['head'], global_strings['defaults']['sections'][22]['subhead'], global_strings['defaults']['sections'][22]['descrip']) }}

                        {{ macros.button_groups('Left-Aligned Toolbar', ' justify-content-start') }}
                        {{ macros.button_groups('Center-Aligned Toolbar', ' justify-content-center') }}
                        {{ macros.button_groups('Right-Aligned Toolbar', ' justify-content-end') }}
                        {{ macros.button_groups('Justified Toolbar', ' justify-content-between', spacer = false) }}
                        {{ macros.button_groups('Justified Gutter Toolbar', ' justify-content-around', spacer = false) }}

                    </div>

                </div>

                <div class="row justify-content-center pt-5">
                    
                    <div id="{{ global_strings['defaults']['sections'][23]['id'] }}" class="col-md-6 pb-5">
                        
                        {{ macros.page_section_heading(global_strings['defaults']['sections'][23]['head'], global_strings['defaults']['sections'][23]['subhead'], global_strings['defaults']['sections'][23]['descrip']) }}

                        <div class="js-prism mb-2">
                            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group" role="group" aria-label="First group">
                                    <button type="button" class="btn btn-primary">&lsaquo;</button>
                                    <button type="button" class="btn btn-primary">&rsaquo;</button>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search" aria-label="Search Input" aria-describedby="btnGrp-input-label">
                                    <div class="input-group-append">
                                        <div class="input-group-text bg-primary text-light" id="btnGrp-input-label">?</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>