<!-- _bs_badges.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container">

                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['defaults']['sections'][13]['id'] }}" class="col-md-6 pb-5">
                        
                        {{ macros.page_section_heading(global_strings['defaults']['sections'][13]['head'], global_strings['defaults']['sections'][13]['subhead'], global_strings['defaults']['sections'][13]['descrip']) }}
                        
                        {{ macros.text_badge('h1') }}
                        {{ macros.text_badge('h2') }}
                        {{ macros.text_badge('h3') }}
                        {{ macros.text_badge('h4') }}
                        {{ macros.text_badge('h5') }}
                        {{ macros.text_badge('h6') }}
                        {{ macros.text_badge('div') }}

                    </div>
                    
                    <div id="{{ global_strings['defaults']['sections'][11]['id'] }}" class="col-md-6 pb-5">
                        
                        {{ macros.page_section_heading(global_strings['defaults']['sections'][11]['head'], global_strings['defaults']['sections'][11]['subhead'], global_strings['defaults']['sections'][11]['descrip']) }}
                        
                        <label class="d-block font-weight-bold text-center mb-0">Default Badge</label>
                        <div class="js-prism mb-2 text-center">
                            <span class="badge badge-primary">PRIMARY</span>
                        </div>

                        <label class="d-block font-weight-bold text-center mb-0">Pill Badge</label>
                        <div class="js-prism mb-2 text-center">
                            <span class="badge badge-pill badge-primary">PRIMARY</span>
                        </div>

                        <label class="d-block font-weight-bold text-center mb-0">Link Badge</label>
                        <div class="js-prism mb-2 text-center">
                            <a href="#" class="badge badge-primary">Primary</a>
                        </div>

                    </div>

                </div>

                <div class="row justify-content-center pt-5">
                
                    <div id="{{ global_strings['defaults']['sections'][12]['id'] }}" class="col-md-6 pb-5">
                        
                        {{ macros.page_section_heading(global_strings['defaults']['sections'][12]['head'], global_strings['defaults']['sections'][12]['subhead'], global_strings['defaults']['sections'][12]['descrip']) }}
                        
                        <label class="d-block font-weight-bold text-center">Button Element</label>
                        <div class="js-prism mb-2 text-center">
                            <button type="button" class="btn btn-primary">
                                Messages <span class="badge badge-light">9</span>
                                <span class="sr-only">Unread Messages</span>
                            </button>
                        </div>

                        <label class="d-block font-weight-bold text-center">Link Element</label>
                        <div class="js-prism mb-2 text-center">
                            <a href="#" class="btn btn-primary" role="button">
                                Messages <span class="badge badge-light">9</span>
                                <span class="sr-only">Unread Messages</span>
                            </a>
                        </div>

                    </div>

                </div>

            </div>

        </div>