<!-- _bs_headline_defaults.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container pt-5">
                
                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['defaults']['sections'][0]['id'] }}" class="col-md-6 pb-5">
                        
                        {{ macros.page_section_heading(global_strings['defaults']['sections'][0]['head'], global_strings['defaults']['sections'][0]['subhead'], global_strings['defaults']['sections'][0]['descrip']) }}

                        {{ macros.headline('1') }}
                        {{ macros.headline('2') }}
                        {{ macros.headline('3') }}
                        {{ macros.headline('4') }}
                        {{ macros.headline('5') }}
                        {{ macros.headline('6') }}

                    </div>

                    <div id="{{ global_strings['defaults']['sections'][1]['id'] }}" class="col-md-6 pb-5">
                        
                        {{ macros.page_section_heading(global_strings['defaults']['sections'][1]['head'], global_strings['defaults']['sections'][1]['subhead'], global_strings['defaults']['sections'][1]['descrip']) }}

                        {{ macros.headline_class('1') }}
                        {{ macros.headline_class('2') }}
                        {{ macros.headline_class('3') }}
                        {{ macros.headline_class('4') }}
                        {{ macros.headline_class('5') }}
                        {{ macros.headline_class('6') }}

                    </div>

                </div>

            </div>

        </div>