<!-- _bs_lists.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container">
                
                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['defaults']['sections'][45]['id'] }}" class="col-12">
                        
                        {{ macros.page_section_heading(global_strings['defaults']['sections'][45]['head'], global_strings['defaults']['sections'][45]['subhead'], global_strings['defaults']['sections'][45]['descrip']) }}

                    </div>

                </div>

                <div class="row justify-content-center">
                    
                    <div class="col-lg-4 pb-5">
                        
                        <label class="d-block font-weight-bold text-left">Unordered List:</label>
                        <div class="js-prism mb-2 text-left">
                            <ul>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Consectetur adipiscing elit
                                    <ul>
                                        <li>Facilisis in pretium nisl aliquet</li>
                                    </ul>
                                </li>
                                <li>Nulla volutpat aliquam velit</li>
                            </ul>
                        </div>

                    </div>

                    <div class="col-lg-4 pb-5">
                        
                        <label class="d-block font-weight-bold text-left">Ordered List:</label>
                        <div class="js-prism mb-2 text-left">
                            <ol>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Consectetur adipiscing elit
                                    <ol>
                                        <li>Facilisis in pretium nisl aliquet</li>
                                    </ol>
                                </li>
                                <li>Nulla volutpat aliquam velit</li>
                            </ol>
                        </div>

                    </div>
                    
                    <div class="col-lg-4 pb-5">
                        
                        <label class="d-block font-weight-bold text-left">Unstyled List:</label>
                        <div class="js-prism mb-2 text-left">
                            <ul class="list-unstyled">
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Consectetur adipiscing elit
                                    <ul>
                                        <li>Facilisis in pretium nisl aliquet</li>
                                    </ul>
                                </li>
                                <li>Nulla volutpat aliquam velit</li>
                            </ul>
                        </div>

                    </div>

                </div>

                <div class="row justify-content-center pt-5">
                    
                    <div id="{{ global_strings['defaults']['sections'][46]['id'] }}" class="col-12">
                        
                        {{ macros.page_section_heading(global_strings['defaults']['sections'][46]['head'], global_strings['defaults']['sections'][46]['subhead'], global_strings['defaults']['sections'][46]['descrip']) }}

                    </div>

                </div>

                <div class="row justify-content-center">
                    
                    <div class="col-sm-9 pb-5">
                        
                        <div class="js-prism mb-2 text-center">
                            <ul class="list-inline">
                                <li class="list-inline-item">[ ITEM 1 ]</li>
                                <li class="list-inline-item">[ ITEM 2 ]</li>
                                <li class="list-inline-item">[ ITEM 3 ]</li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>

        </div>