<!-- _bs_utilities_clearfix.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container modal-workspace">

                <div class="row justify-content-center pt-5">
                    
                    <div id="{{ global_strings['defaults']['sections'][29]['id'] }}" class="col-12">
                        
                        {{ macros.page_section_heading(global_strings['defaults']['sections'][29]['head'], global_strings['defaults']['sections'][29]['subhead'], global_strings['defaults']['sections'][29]['descrip']) }}

                    </div>

                </div>

                <div class="row justify-content-center">

                    <div class="col-md-6 pb-5">
                        
                        <div class="js-prism mb-2">
                            <div class="bg-light clearfix">
                                <button type="button" class="btn btn-primary float-left">Float Left</button>
                                <button type="button" class="btn btn-primary float-right">Float Right</button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>