<!-- _bs_tables_borderless.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container">

                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['defaults']['sections'][61]['id'] }}" class="col-12">
                        
                        {{ macros.page_section_heading(global_strings['defaults']['sections'][61]['head'], global_strings['defaults']['sections'][61]['subhead'], global_strings['defaults']['sections'][61]['descrip']) }}

                    </div>

                </div>

                <div class="row justify-content-center">
                    
                    <div class="col-md-6 pb-5">

                        {{ macros.bootstrap_table('Standard Table', ' table-borderless') }}

                    </div>

                    <div class="col-md-6 pb-5">
                        
                        {{ macros.bootstrap_table('Dark Table', ' table-dark table-borderless') }}

                    </div>

                </div>

            </div>

        </div>