<!-- _bs_media_objects.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container">
                
                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['defaults']['sections'][48]['id'] }}" class="col-md-6 pb-5">
                        
                        {{ macros.page_section_heading(global_strings['defaults']['sections'][48]['head'], global_strings['defaults']['sections'][48]['subhead'], global_strings['defaults']['sections'][48]['descrip']) }}
                        
                        <div class="js-prism mb-2 text-left">
                            <div class="media">
                                <img class="mr-3" src="images/64x64.jpg" alt="64x64 PX Placeholder Image">
                                <div class="media-body">
                                    <h5 class="mt-0">Default Media Object</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas nulla at mauris malesuada viverra. Aenean consequat ante ipsum, quis imperdiet ipsum fermentum vitae.</p>
                                </div>
                            </div>
                        </div>

                        <div class="js-prism mb-2 text-left">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="mt-0">Re-Ordered Media Object</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas nulla at mauris malesuada viverra. Aenean consequat ante ipsum, quis imperdiet ipsum fermentum vitae.</p>
                                </div>
                                <img class="ml-3" src="images/64x64.jpg" alt="64x64 PX Placeholder Image">
                            </div>
                        </div>

                        <div class="js-prism mb-2 text-left">
                            <div class="media">
                                <img class="align-self-start mr-3" src="images/64x64.jpg" alt="64x64 PX Placeholder Image">
                                <div class="media-body">
                                    <h5 class="mt-0">Top-Aligned</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas nulla at mauris malesuada viverra. Aenean consequat ante ipsum, quis imperdiet ipsum fermentum vitae.</p>
                                </div>
                            </div>
                        </div>

                        <div class="js-prism mb-2 text-left">
                            <div class="media">
                                <img class="align-self-center mr-3" src="images/64x64.jpg" alt="64x64 PX Placeholder Image">
                                <div class="media-body">
                                    <h5 class="mt-0">Middle-Aligned</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas nulla at mauris malesuada viverra. Aenean consequat ante ipsum, quis imperdiet ipsum fermentum vitae.</p>
                                </div>
                            </div>
                        </div>

                        <div class="js-prism mb-2 text-left">
                            <div class="media">
                                <img class="align-self-end mr-3" src="images/64x64.jpg" alt="64x64 PX Placeholder Image">
                                <div class="media-body">
                                    <h5 class="mt-0">Bottom-Aligned</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas nulla at mauris malesuada viverra. Aenean consequat ante ipsum, quis imperdiet ipsum fermentum vitae.</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="{{ global_strings['defaults']['sections'][49]['id'] }}" class="col-md-6 pb-5">
                        
                        {{ macros.page_section_heading(global_strings['defaults']['sections'][49]['head'], global_strings['defaults']['sections'][49]['subhead'], global_strings['defaults']['sections'][49]['descrip']) }}
                        
                        <div class="js-prism mb-2 text-left">
                            <ul class="list-unstyled">
                                <li class="media">
                                    <img class="mr-3" src="images/64x64.jpg" alt="64x64 PX Placeholder Image">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">List-based media object</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas nulla at mauris malesuada viverra. Aenean consequat ante ipsum, quis imperdiet ipsum fermentum vitae.</p>
                                    </div>
                                </li>
                                <li class="media my-4">
                                    <img class="mr-3" src="images/64x64.jpg" alt="64x64 PX Placeholder Image">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">List-based media object</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas nulla at mauris malesuada viverra. Aenean consequat ante ipsum, quis imperdiet ipsum fermentum vitae.</p>
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="mr-3" src="images/64x64.jpg" alt="64x64 PX Placeholder Image">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">List-based media object</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas nulla at mauris malesuada viverra. Aenean consequat ante ipsum, quis imperdiet ipsum fermentum vitae.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>

        </div>