<!-- _bs_utilities_visibility.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container modal-workspace">

                <div class="row justify-content-center pt-5">
                    
                    <div id="{{ global_strings['defaults']['sections'][76]['id'] }}" class="col-12">
                        
                        {{ macros.page_section_heading(global_strings['defaults']['sections'][76]['head'], global_strings['defaults']['sections'][76]['subhead'], global_strings['defaults']['sections'][76]['descrip']) }}

                    </div>

                </div>

                <div class="row justify-content-center">

                    <div class="col-md-6 pb-5">
                        
                        <div class="js-prism mb-2">
                            <div class="d-flex justify-content-center bg-light p-1">
                                <div class="visible bg-primary text-light p-2">HI!</div>
                                <div class="invisible bg-primary text-light p-2">SHH!</div>
                                <div class="invisible bg-primary text-light p-2">SHH!</div>
                                <div class="visible bg-primary text-light p-2">HI!</div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>