<!-- _bs_tables_default.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container">

                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['defaults']['sections'][63]['id'] }}" class="col-12">
                        
                        {{ macros.page_section_heading(global_strings['defaults']['sections'][63]['head'], global_strings['defaults']['sections'][63]['subhead'], global_strings['defaults']['sections'][63]['descrip']) }}

                    </div>

                </div>

                <div class="row justify-content-center">
                    
                    <div class="col-md-6 pb-5">

                        {{ macros.bootstrap_table('Standard Table', '') }}

                    </div>

                    <div class="col-md-6 pb-5">
                        
                        {{ macros.bootstrap_table('Dark Table', ' table-dark') }}

                    </div>

                </div>

            </div>

        </div>