<!-- _bs_description_lists.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container">
                
                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['defaults']['sections'][30]['id'] }}" class="col-12">
                        
                        {{ macros.page_section_heading(global_strings['defaults']['sections'][30]['head'], global_strings['defaults']['sections'][30]['subhead'], global_strings['defaults']['sections'][30]['descrip']) }}

                    </div>

                </div>

                <div class="row justify-content-center">
                    
                    <div class="col-md-9 pb-5">
                        
                        <div class="js-prism mb-2 text-left">
                            <dl>
                                <dt>Basic Description List</dt>
                                <dd>A description list is perfect for defining terms.</dd>
                                <dt>Euismod</dt>
                                <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                                <dt>Malesuada Porta</dt>
                                <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                            </dl>
                        </div>

                    </div>

                </div>

                <div class="row justify-content-center pt-5">
                    
                    <div id="{{ global_strings['defaults']['sections'][31]['id'] }}" class="col-12">
                        
                        {{ macros.page_section_heading(global_strings['defaults']['sections'][31]['head'], global_strings['defaults']['sections'][31]['subhead'], global_strings['defaults']['sections'][31]['descrip']) }}

                    </div>

                </div>

                <div class="row justify-content-center">
                    
                    <div class="col-sm-9 pb-5">
                        
                        <div class="js-prism mb-2 text-left">
                            <dl class="row">
                                
                                <dt class="col-sm-3">Description lists</dt>
                                <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

                                <dt class="col-sm-3">Euismod</dt>
                                <dd class="col-sm-9">
                                    <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>
                                    <p>Donec id elit non mi porta gravida at eget metus.</p>
                                </dd>

                                <dt class="col-sm-3">Malesuada porta</dt>
                                <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

                                <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
                                <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>

                                <dt class="col-sm-3">Nesting</dt>
                                
                                <dd class="col-sm-9">
                                
                                    <dl class="row">
                                        <dt class="col-sm-4">Nested definition list</dt>
                                        <dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.</dd>
                                    </dl>

                                </dd>

                            </dl>
                        </div>

                    </div>

                </div>

            </div>

        </div>