<!-- _bs_text_defaults.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">
        
            <div class="container">
                
                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['defaults']['sections'][71]['id'] }}" class="col-md-6 pb-5">
                    
                        {{ macros.page_section_heading(global_strings['defaults']['sections'][71]['head'], global_strings['defaults']['sections'][71]['subhead'], global_strings['defaults']['sections'][71]['descrip']) }}

                        <div class="js-prism mb-2">
                            You can <mark>highlight</mark> text.
                        </div>

                        <div class="js-prism mb-2">
                            You can <s>strikeout</s> text.
                        </div>

                        <div class="js-prism mb-2">
                            You can <u>underline</u> text.
                        </div>

                        <div class="js-prism mb-2">
                            You can <small>fine print</small> text.
                        </div>

                        <div class="js-prism mb-2">
                            You can <strong>bold</strong> text.
                        </div>

                        <div class="js-prism mb-2">
                            You can <em>italicize</em> text.
                        </div>

                        <div class="js-prism mb-2">
                            Use variables: <var>1 + 2 = 3</var>.
                        </div>

                        <div class="js-prism mb-2">
                            Use key commands: <kbd>shift</kbd> + <kbd>a</kbd>.
                        </div>

                        <div class="js-prism mb-2">
                            And mimic: <samp>CPU Output</samp>.
                        </div>

                    </div>

                    <div id="{{ global_strings['defaults']['sections'][72]['id'] }}" class="col-md-6 pb-5">
                    
                        {{ macros.page_section_heading(global_strings['defaults']['sections'][72]['head'], global_strings['defaults']['sections'][72]['subhead'], global_strings['defaults']['sections'][72]['descrip']) }}

                        <div class="js-prism mb-2">
                            You can <span class="mark">highlight</span> text.
                        </div>

                        <div class="js-prism mb-2">
                            You can <span class="small">fine print</span> text.
                        </div>

                        <div class="js-prism mb-2">
                            You can <span class="font-italic">italicize</span> text.
                        </div>

                        <div class="js-prism mb-2">
                            You can make <span class="font-weight-bold">bold</span> text.
                        </div>

                        <div class="js-prism mb-2">
                            You can make <span class="font-weight-bolder">bolder</span> text.
                        </div>

                        <div class="js-prism mb-2">
                            <strong>You can <span class="font-weight-normal">normalize</span> text.</strong>
                        </div>

                        <div class="js-prism mb-2">
                            You can make <span class="font-weight-light">light</span> text.
                        </div>

                        <div class="js-prism mb-2">
                            You can make <span class="font-weight-lighter">lighter</span> text.
                        </div>

                        <div class="js-prism mb-2">
                            FORCE <span class="text-lowercase">LOWERCASE</span> TEXT.
                        </div>

                        <div class="js-prism mb-2">
                            force <span class="text-uppercase">uppercase</span> text.
                        </div>

                        <div class="js-prism mb-2">
                            <span class="text-capitalize">force capitalized text</span>.
                        </div>

                        <div class="js-prism mb-2">
                            You can make <span class="text-muted">text muted</span>.
                        </div>

                        <div class="js-prism mb-2">
                            You can make <a href="#" class="text-decoration-none">a link</a> without an underline.
                        </div>

                    </div>

                </div>

            </div>

        </div>