<!-- _icon_lists.njk -->
        <div class="container-fluid pt-5 text-center bg-white text-dark">

            <div class="container fa-workspace">

                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['icons']['sections'][13]['id'] }}" class="col-12">

                        {{ macros.page_section_heading(global_strings['icons']['sections'][13]['head'], global_strings['icons']['sections'][13]['subhead'], global_strings['icons']['sections'][13]['descrip']) }}

                    </div>

                </div>
                
                <div class="row justify-content-center">
                    
                    <div class="col-sm-9 col-md-6 mb-5">

                        {{ macros.icon_fa_lists('Unordered List:', 'ul') }}
                        {{ macros.icon_fa_lists('Ordered List:', 'ol') }}
                        
                        <label class="d-block font-weight-bold text-left">Icons as Bullets + Flexbox</label>
                        <div class="js-prism-fa prism-hidden mb-2" style="cursor: help;">
                            <ul class="list-unstyled text-left">
                                <li class="d-flex align-items-start mb-1">
                                    <i class="fas fa-circle fa-xs mr-3"></i>
                                    <span>Lorem ipsum dolor sit amet orem ipsum dolor sit amet dolor sit amet orem ipsum dolor</span>
                                </li>
                                <li class="d-flex align-items-start mb-1">
                                    <i class="fas fa-circle fa-xs text-primary mr-3"></i>
                                    <span>Lorem ipsum dolor sit amet orem ipsum dolor sit amet dolor sit amet orem ipsum dolor</span>
                                </li>
                                <li>
                                    <ul class="list-unstyled pl-5">
                                        <li class="d-flex align-items-start mb-1">
                                            <i class="fas fa-circle fa-xs text-primary mr-3"></i>
                                            <span>Lorem ipsum dolor sit amet orem ipsum dolor sit amet dolor sit amet orem ipsum dolor</span>
                                        </li>
                                    </ul>
                                </li>
                                <li class="d-flex align-items-start mb-1">
                                    <i class="fas fa-circle fa-xs mr-3"></i>
                                    <span>Lorem ipsum dolor sit amet orem ipsum dolor sit amet dolor sit amet orem ipsum dolor</span>
                                </li>
                            </ul>
                        </div>
                        <pre>
                            <code class="language-html line-numbers">
                                &lt;ul class="list-unstyled text-left"&gt;
                                    &lt;li class="d-flex align-items-start mb-1"&gt;
                                        &lt;i class="fas fa-circle fa-xs mr-3"&gt;&lt;/i&gt;
                                        &lt;span&gt;Lorem ipsum dolor sit amet orem ipsum dolor sit amet dolor sit amet orem ipsum dolor&lt;/span&gt;
                                    &lt;/li&gt;
                                    &lt;li class="d-flex align-items-start mb-1"&gt;
                                        &lt;i class="fas fa-circle fa-xs text-primary mr-3"&gt;&lt;/i&gt;
                                        &lt;span&gt;Lorem ipsum dolor sit amet orem ipsum dolor sit amet dolor sit amet orem ipsum dolor&lt;/span&gt;
                                    &lt;/li&gt;
                                    &lt;li&gt;
                                        &lt;ul class="list-unstyled pl-5"&gt;
                                            &lt;li class="d-flex align-items-start mb-1"&gt;
                                                &lt;i class="fas fa-circle fa-xs text-primary mr-3"&gt;&lt;/i&gt;
                                                &lt;span&gt;Lorem ipsum dolor sit amet orem ipsum dolor sit amet dolor sit amet orem ipsum dolor&lt;/span&gt;
                                            &lt;/li&gt;
                                        &lt;/ul&gt;
                                    &lt;/li&gt;
                                    &lt;li class="d-flex align-items-start mb-1"&gt;
                                        &lt;i class="fas fa-circle fa-xs mr-3"&gt;&lt;/i&gt;
                                        &lt;span&gt;Lorem ipsum dolor sit amet orem ipsum dolor sit amet dolor sit amet orem ipsum dolor&lt;/span&gt;
                                    &lt;/li&gt;
                                &lt;/ul&gt;
                            </code>
                        </pre>
                    </div>

                </div>

            </div>

        </div>