<!-- _icon_shrink_grow_transforms.njk -->
        <div class="container-fluid pt-5 text-center bg-white text-dark">

            <div class="container fa-workspace">

                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['icons']['sections'][5]['id'] }}" class="col-12">

                        {{ macros.page_section_heading(global_strings['icons']['sections'][5]['head'], global_strings['icons']['sections'][5]['subhead'], global_strings['icons']['sections'][5]['descrip']) }}

                    </div>

                </div>
                
                <div class="row justify-content-center">

                    {{ macros.icon_shrink_grow('Shrink x11.5:', 'shrink-11.5') }}
                    {{ macros.icon_shrink_grow('Shrink x5:', 'shrink-5') }}
                    {{ macros.icon_shrink_grow('Shrink x2:', 'shrink-2') }}
                    {{ macros.icon_shrink_grow('Shrink x0.5:', 'shrink-0.5') }}
                    {{ macros.icon_shrink_grow('Default Sizing:', '') }}
                    {{ macros.icon_shrink_grow('Grow x0.5:', 'grow-0.5') }}
                    {{ macros.icon_shrink_grow('Grow x2:', 'grow-2') }}
                    {{ macros.icon_shrink_grow('Grow x5:', 'grow-5') }}
                    {{ macros.icon_shrink_grow('Grow x11:', 'grow-11') }}

                </div>

            </div>

        </div>