<!-- _icon_rotate_flip_transforms.njk -->
        <div class="container-fluid pt-5 text-center bg-white text-dark">

            <div class="container fa-workspace">

                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['icons']['sections'][7]['id'] }}" class="col-12">

                        {{ macros.page_section_heading(global_strings['icons']['sections'][7]['head'], global_strings['icons']['sections'][7]['subhead'], global_strings['icons']['sections'][7]['descrip']) }}

                    </div>

                </div>
                
                <div class="row justify-content-center">

                    {{ macros.icon_rotate_flip('Default Orientation', '') }}
                    {{ macros.icon_rotate_flip('90° Clockwise', 'rotate-90') }}
                    {{ macros.icon_rotate_flip('180° Clockwise', 'rotate-180') }}
                    {{ macros.icon_rotate_flip('270 Clockwise', 'rotate-270') }}
                    {{ macros.icon_rotate_flip('90° Counterclockwise', 'rotate--90') }}
                    {{ macros.icon_rotate_flip('180° Counterclockwise', 'rotate--180') }}
                    {{ macros.icon_rotate_flip('270° Counterclockwise', 'rotate--270') }}
                    {{ macros.icon_rotate_flip('Flipped Vertically', 'flip-v') }}
                    {{ macros.icon_rotate_flip('Flipped Horizontally', 'flip-h') }}
                    {{ macros.icon_rotate_flip('Both Flipped', 'flip-h flip-v') }}

                </div>

            </div>

        </div>