<!-- _icon_masking.njk -->
        <div class="container-fluid pt-5 text-center bg-white text-dark">

            <div class="container fa-workspace">

                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['icons']['sections'][8]['id'] }}" class="col-12">

                        {{ macros.page_section_heading(global_strings['icons']['sections'][8]['head'], global_strings['icons']['sections'][8]['subhead'], global_strings['icons']['sections'][8]['descrip']) }}

                    </div>

                </div>
                
                <div class="row justify-content-center">

                    {{ macros.icon_mask('fas fa-pencil-alt', 'shrink-10 up-0.5', 'fas fa-comment', 'bg-success') }}
                    {{ macros.icon_mask('fab fa-facebook-f text-light', 'shrink-3.5 down-1.6 right-1.25', 'fas fa-circle', 'bg-primary') }}
                    {{ macros.icon_mask('fas fa-headphones text-light', 'shrink-6', 'fas fa-square', 'bg-danger') }}

                    {{ macros.icon_mask('far fa-star', 'shrink-10 up-2', 'fas fa-map-marker', 'bg-warning') }}
                    {{ macros.icon_mask('fas fa-thumbs-up', 'shrink-9 up-0.5 rotate--30', 'fas fa-certificate', 'bg-info') }}
                    {{ macros.icon_mask('fas fa-file-upload', 'shrink-8 down-3', 'fas fa-cloud', 'bg-light') }}

                    {{ macros.icon_mask('far fa-star text-light', 'shrink-6', 'fas fa-star', 'bg-dark') }}
                    {{ macros.icon_mask('far fa-clock text-light', 'shrink-8 down-3', 'fas fa-calendar', 'bg-secondary') }}

                </div>

            </div>

        </div>