<!-- _icon_floats_widths_bullets.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">

            <div class="container fa-workspace">

                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['icons']['sections'][2]['id'] }}" class="col-md-6 pb-5">

                        {{ macros.page_section_heading(global_strings['icons']['sections'][2]['head'], global_strings['icons']['sections'][2]['subhead'], global_strings['icons']['sections'][2]['descrip']) }}

                        {{ macros.icon_floats('Float Icon Left:', 'left') }}
                        {{ macros.icon_floats('Float Icon Right:', 'right') }}

                    </div>

                    <div id="{{ global_strings['icons']['sections'][3]['id'] }}" class="col-md-6 pb-5">

                        {{ macros.page_section_heading(global_strings['icons']['sections'][3]['head'], global_strings['icons']['sections'][3]['subhead'], global_strings['icons']['sections'][3]['descrip']) }}

                        {{ macros.icons_fixed_width() }}

                    </div>

                </div>

            </div>

        </div>