<!-- _icon_lists.njk -->
        <div class="container-fluid pt-5 text-center bg-white text-dark">

            <div class="container fa-workspace">

                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['icons']['sections']['13']['id'] }}" class="col-12">

                        {% set headingHeadline = global_strings['icons']['sections']['13']['head'] %}
						{% set headingSubline = global_strings['icons']['sections']['13']['subhead'] %}
						{% set headingDescrip = global_strings['icons']['sections']['13']['descrip'] %}
                        {% include "partials/_columnHeading.njk" %}

                    </div>

                </div>
                
                <div class="row justify-content-center">
                    
                    <div class="col-sm-9 col-md-6 mb-5">
                        
                        {% macro icon_fa_lists(label, listType) %}
                        <div class="js-prism-fa prism-hidden mb-2" style="cursor: help;">
                            <label class="d-block font-weight-bold text-left">{{ label }}</label>
                            <{{ listType }} class="fa-ul text-left">
                                <li><span class="fa-li"><i class="fas fa-home"></i></span>Home Icon</li>
                                <li><span class="fa-li"><i class="fas fa-info"></i></span>Info Icon</li>
                                <li><span class="fa-li"><i class="fas fa-pencil-alt"></i></span>Pencil Icon</li>
                                <li><span class="fa-li"><i class="fas fa-phone"></i></span>Phone Icon</li>
                            </{{ listType }}>
                        </div>
                        <pre>
                            <code class="language-html line-numbers">
                                &lt;{{ listType }} class="fa-ul text-left"&gt;
                                    &lt;li&gt;&lt;span class="fa-li"&gt;&lt;i class="fas fa-home"&gt;&lt;/i&gt;&lt;/span&gt;Home Icon&lt;/li&gt;
                                    &lt;li&gt;&lt;span class="fa-li"&gt;&lt;i class="fas fa-info"&gt;&lt;/i&gt;&lt;/span&gt;Info Icon&lt;/li&gt;
                                    &lt;li&gt;&lt;span class="fa-li"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/span&gt;Pencil Icon&lt;/li&gt;
                                    &lt;li&gt;&lt;span class="fa-li"&gt;&lt;i class="fas fa-phone"&gt;&lt;/i&gt;&lt;/span&gt;Phone Icon&lt;/li&gt;
                                &lt;/{{ listType }}&gt;
                            </code>
                        </pre>
                        {% endmacro %}

                        {{ icon_fa_lists('Unordered List:', 'ul') }}
                        {{ icon_fa_lists('Ordered List:', 'ol') }}
                        
                        <label class="d-block font-weight-bold text-left">Icons as Bullets + Flexbox</label>
                        <div class="js-prism-fa prism-hidden mb-2" style="cursor: help;">
                            <ul class="list-unstyled text-left">
                                <li class="d-flex align-items-start mb-1">
                                    <i class="fas fa-circle fa-xs mr-3"></i>
                                    <span>Lorem ipsum dolor sit amet orem ipsum dolor sit amet dolor sit amet orem ipsum dolor</span>
                                </li>
                                <li class="d-flex align-items-start mb-1">
                                    <i class="fas fa-circle fa-xs text-primary mr-3"></i>
                                    <span>Lorem ipsum dolor sit amet orem ipsum dolor sit amet dolor sit amet orem ipsum dolor</span>
                                </li>
                                <li>
                                    <ul class="list-unstyled pl-5">
                                        <li class="d-flex align-items-start mb-1">
                                            <i class="fas fa-circle fa-xs text-primary mr-3"></i>
                                            <span>Lorem ipsum dolor sit amet orem ipsum dolor sit amet dolor sit amet orem ipsum dolor</span>
                                        </li>
                                    </ul>
                                </li>
                                <li class="d-flex align-items-start mb-1">
                                    <i class="fas fa-circle fa-xs mr-3"></i>
                                    <span>Lorem ipsum dolor sit amet orem ipsum dolor sit amet dolor sit amet orem ipsum dolor</span>
                                </li>
                            </ul>
                        </div>
                        <pre>
                            <code class="language-html line-numbers">
                                &lt;ul class="list-unstyled text-left"&gt;
                                    &lt;li class="d-flex align-items-start mb-1"&gt;
                                        &lt;i class="fas fa-circle fa-xs mr-3"&gt;&lt;/i&gt;
                                        &lt;span&gt;Lorem ipsum dolor sit amet orem ipsum dolor sit amet dolor sit amet orem ipsum dolor&lt;/span&gt;
                                    &lt;/li&gt;
                                    &lt;li class="d-flex align-items-start mb-1"&gt;
                                        &lt;i class="fas fa-circle fa-xs text-primary mr-3"&gt;&lt;/i&gt;
                                        &lt;span&gt;Lorem ipsum dolor sit amet orem ipsum dolor sit amet dolor sit amet orem ipsum dolor&lt;/span&gt;
                                    &lt;/li&gt;
                                    &lt;li&gt;
                                        &lt;ul class="list-unstyled pl-5"&gt;
                                            &lt;li class="d-flex align-items-start mb-1"&gt;
                                                &lt;i class="fas fa-circle fa-xs text-primary mr-3"&gt;&lt;/i&gt;
                                                &lt;span&gt;Lorem ipsum dolor sit amet orem ipsum dolor sit amet dolor sit amet orem ipsum dolor&lt;/span&gt;
                                            &lt;/li&gt;
                                        &lt;/ul&gt;
                                    &lt;/li&gt;
                                    &lt;li class="d-flex align-items-start mb-1"&gt;
                                        &lt;i class="fas fa-circle fa-xs mr-3"&gt;&lt;/i&gt;
                                        &lt;span&gt;Lorem ipsum dolor sit amet orem ipsum dolor sit amet dolor sit amet orem ipsum dolor&lt;/span&gt;
                                    &lt;/li&gt;
                                &lt;/ul&gt;
                            </code>
                        </pre>
                    </div>

                </div>

            </div>

        </div>