<!-- _icon_nesting_alert.njk -->
        <div class="container-fluid pt-5 text-center bg-white text-dark">

            <div class="container">

                <div class="row justify-content-center">
                    
                    <div class="col-12 pb-5">
                    
                        <div class="alert alert-danger alert-dismissible mb-2 pb-4 fade show text-left" role="alert">
                            <h4 class="alert-heading pt-1">Please Note:</h4>
                            <hr>
                            <p>Since FontAwesome 5 dynamically replaces your HTML markup, when using the FontAwesome 5 SVG option with Bootstrap 4 and jQuery, you need to tell their script that you want any dynamic SVG code to be <em>nested</em> inside the HTML markup tag you use.</p>
                            <p>You'll need to use the attribute/value <code>data-auto-replace-svg="nest"</code> to ensure this nesting happens. The following code is already included in the OBE:B4 system, but here's what it should look like:</p>
                            <pre>
                                <code class="language-html line-numbers">
                                    &lt;script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" data-auto-replace-svg="nest"&gt;&lt;/script&gt;
                                </code>
                            </pre>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>

                    </div>

                </div>

            </div>

        </div>