<!-- _icon_stacks.njk -->
        <div class="container-fluid pt-5 text-center bg-white text-dark">

            <div class="container fa-workspace">

                <div class="row justify-content-center">

                    <div id="{{ global_strings['icons']['sections'][10]['id'] }}" class="col-12">

                        {{ macros.page_section_heading(global_strings['icons']['sections'][10]['head'], global_strings['icons']['sections'][10]['subhead'], global_strings['icons']['sections'][10]['descrip']) }}

                    </div>

                </div>

                <div class="alert alert-primary alert-dismissible mb-4 fade show text-left" role="alert">
                    <p class="mb-0"><strong>Please Note:</strong> To check for any new FontAwesome 5 "shape" icons that are best to use with stacks, check out <a class="alert-link" href="https://fontawesome.com/icons?d=gallery&c=shapes" target="_blank" rel="noopener noreferrer">this page</a>!</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                
                <div class="row justify-content-center">

                    {{ macros.icon_stack_block('Sized-Down Example:', ' fa-xs', '2x', 'fas fa-square', '', '1x', 'fas fa-home', 'fa-inverse') }}
                    {{ macros.icon_stack_block('Default Sized Example:', '', '2x', 'fas fa-square', '', '1x', 'fas fa-home', 'fa-inverse') }}
                    {{ macros.icon_stack_block('Enlarged Sized Example:', ' fa-2x', '2x', 'fas fa-square', '', '1x', 'fas fa-home', 'fa-inverse') }}

                    {{ macros.icon_stack_block('Colored Example:', ' fa-2x', '2x', 'fas fa-circle', ' text-primary', '1x', 'fas fa-home', 'text-light') }}
                    {{ macros.icon_stack_block('Non-Solid Example:', ' fa-2x', '2x', 'far fa-circle', ' text-info', '1x', 'fas fa-home', 'text-primary') }}
                    {{ macros.icon_stack_block('Ban Example:', ' fa-2x', '1x', 'fas fa-camera', ' text-dark', '2x', 'fas fa-ban', 'text-danger') }}

                    {{ macros.icon_stack_block('Certificate Example:', ' fa-2x', '2x', 'fas fa-certificate', ' text-warning', '1x', 'fas fa-home', 'text-light') }}
                    {{ macros.icon_stack_block('Double Heart Example:', ' fa-2x', '2x', 'far fa-heart', ' text-danger', '1x', 'fas fa-heart', 'text-danger') }}

                </div>

            </div>

        </div>