<!-- _section_boilerplatess.njk -->
		<div class="container-fluid pt-5 text-center bg-white text-dark">

            <div class="container">

                <div class="row justify-content-center">
                    
                    <div id="{{ global_strings['boilerplates']['sections'][1]['id'] }}" class="col-12 pb-5">
                        
                        {{ macros.page_section_heading(global_strings['boilerplates']['sections'][1]['head'], global_strings['boilerplates']['sections'][1]['subhead'], global_strings['boilerplates']['sections'][1]['descrip']) }}

                        <label class="d-block font-weight-bold">SEO Optimized Article + 2 Sections:</label>

                        <div>
                            <pre>
                                <code class="language-markup line-numbers">
                                    &lt;article class="container"&gt;
                                        
                                        &lt;h1&gt;Article Headline&lt;/h1&gt;
                                        &lt;p class="lead"&gt;{{ variables.laurem_1 }}&lt;/p&gt;

                                        &lt;div class="row"&gt;

                                            &lt;section class="col-sm-6 mb-4"&gt;
                                                
                                                &lt;h2&gt;Section 1 Headline&lt;/h2&gt;
                                                &lt;p&gt;{{ variables.laurem_1 }}&lt;/p&gt;
                                                &lt;p&gt;{{ variables.laurem_1 }}&lt;/p&gt;

                                            &lt;/section&gt;

                                            &lt;section class="col-sm-6 mb-4"&gt;
                                                
                                                &lt;h2&gt;Section 2 Headline&lt;/h2&gt;
                                                &lt;p&gt;{{ variables.laurem_1 }}&lt;/p&gt;
                                                &lt;p&gt;{{ variables.laurem_1 }}&lt;/p&gt;

                                            &lt;/section&gt;

                                        &lt;/div&gt;

                                    &lt;/article&gt;
                                </code>
                            </pre>
                        </div>

                    </div>

                </div>

            </div>

        </div>