$enable-caret: true;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-prefers-reduced-motion-media-query: true;
$enable-grid-classes: true;
$enable-pointer-cursor-for-buttons: true;
$enable-print-styles: true;
$enable-responsive-font-sizes: false;
$enable-validation-icons: true;
$enable-deprecation-messages: true;
$enable-obebs4-alert-wheel-colors: true;
$enable-obebs4-alert-variations: true;
$enable-obebs4-background-wheel-colors: true;
$enable-obebs4-background-tints-shades: true;
$enable-obewds-fill-wheel-colors: true;
$enable-obewds-fill-tints-shades: true;
$enable-obewds-stroke-wheel-colors: true;
$enable-obewds-stroke-tints-shades: true;
$enable-obebs4-1-color-gradients: true;
$enable-obebs4-2-color-gradients: true;
$enable-obebs4-3-color-gradients: true;
$enable-obebs4-badge-wheel-colors: true;
$enable-obebs4-border-wheel-colors: true;
$enable-obebs4-border-tints-shades: true;
$enable-obebs4-border-widths: true;
$enable-obebs4-button-wheel-colors: true;
$enable-obebs4-button-sizes: true;
$enable-obebs4-dropdowns: true;
$enable-obebs4-element-sizes: true;
$enable-obebs4-lists: true;
$enable-obebs4-list-groups: true;
$enable-obebs4-box-shadows: true;
$enable-obebs4-text-shadows: true;
$enable-obebs4-tables: true;
$enable-obebs4-text-wheel-colors: true;
$enable-obebs4-text-tints-shades: true;
$enable-obebs4-text-sizes: true;
$enable-obebs4-tooltips: true;
$enable-obebs4-form-element-wheel-colors: true;
$enable-obebs4-popovers: true;
$enable-obebs4-responsive-headlines: true;
$enable-obebs4-modal-utilities: true;
$enable-obebs4-material-design-forms: true;
$enable-obebs4-opacity: true;
$enable-obebs4-custom-dropdown-selects: true;
$enable-obebs4-fab-buttons: true;
$enable-obebs4-fa5-icon-checkboxes: true;
$enable-obebs4-off-canvas-nav-modals: true;
$enable-obebs4-spacing-utilities: false;
$enable-obebs4-datepicker-component: true;
$enable-obebs4-toggle-text-mini-plugin: true;
$enable-obebs4-input-grp-btn-toggle-plugin: true;
$enable-obebs4-increment-counter-plugin: true;
$obebs4-1-color-tint-value: 5%;
$obebs4-1-color-shade-value: 10%;
$color-50-lighten-percent: 30%;
$color-100-lighten-percent: 20%;
$color-200-lighten-percent: 15%;
$color-300-lighten-percent: 10%;
$color-400-lighten-percent: 5%;
$color-600-darken-percent: 5%;
$color-700-darken-percent: 10%;
$color-800-darken-percent: 15%;
$color-900-darken-percent: 20%;
$enable-bootstrap-default-fonts: false;
$enable-google-fonts: true;
$google-fonts-url: fonts___googleapis___com/cssqqqfamily=Cousine|Montserrat---300,400,700|Oswald---300,400,700;
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-monospace: 'Cousine', monospace;
$enable-obebs4-secondary-font: true;
$font-family-secondary: 'Oswald', sans-serif;
$primary-font-weight-100: false;
$monospace-font-weight-100: false;
$secondary-font-weight-100: false;
$primary-font-weight-100i: false;
$monospace-font-weight-100i: false;
$secondary-font-weight-100i: false;
$primary-font-weight-200: false;
$monospace-font-weight-200: false;
$secondary-font-weight-200: false;
$primary-font-weight-200i: false;
$monospace-font-weight-200i: false;
$secondary-font-weight-200i: false;
$primary-font-weight-300: true;
$monospace-font-weight-300: false;
$secondary-font-weight-300: true;
$primary-font-weight-300i: false;
$monospace-font-weight-300i: false;
$secondary-font-weight-300i: false;
$primary-font-weight-400: true;
$monospace-font-weight-400: false;
$secondary-font-weight-400: true;
$primary-font-weight-400i: false;
$monospace-font-weight-400i: false;
$secondary-font-weight-400i: false;
$primary-font-weight-500: false;
$monospace-font-weight-500: false;
$secondary-font-weight-500: false;
$primary-font-weight-500i: false;
$monospace-font-weight-500i: false;
$secondary-font-weight-500i: false;
$primary-font-weight-600: false;
$monospace-font-weight-600: false;
$secondary-font-weight-600: false;
$primary-font-weight-600i: false;
$monospace-font-weight-600i: false;
$secondary-font-weight-600i: false;
$primary-font-weight-700: true;
$monospace-font-weight-700: false;
$secondary-font-weight-700: true;
$primary-font-weight-700i: false;
$monospace-font-weight-700i: false;
$secondary-font-weight-700i: false;
$primary-font-weight-800: false;
$monospace-font-weight-800: false;
$secondary-font-weight-800: false;
$primary-font-weight-800i: false;
$monospace-font-weight-800i: false;
$secondary-font-weight-800i: false;
$primary-font-weight-900: false;
$monospace-font-weight-900: false;
$secondary-font-weight-900: false;
$primary-font-weight-900i: false;
$monospace-font-weight-900i: false;
$secondary-font-weight-900i: false;
$white: #f9f7f4;
$white-50: lighten($white, 30%);
$white-100: lighten($white, 20%);
$white-200: lighten($white, 15%);
$white-300: lighten($white, 10%);
$white-400: lighten($white, 5%);
$white-500: $white;
$white-600: darken($white, 5%);
$white-700: darken($white, 10%);
$white-800: darken($white, 15%);
$white-900: darken($white, 20%);
$light-gray: #b3aeab;
$light-gray-50: lighten($light-gray, 30%);
$light-gray-100: lighten($light-gray, 20%);
$light-gray-200: lighten($light-gray, 15%);
$light-gray-300: lighten($light-gray, 10%);
$light-gray-400: lighten($light-gray, 5%);
$light-gray-500: $light-gray;
$light-gray-600: darken($light-gray, 5%);
$light-gray-700: darken($light-gray, 10%);
$light-gray-800: darken($light-gray, 15%);
$light-gray-900: darken($light-gray, 20%);
$gray: #7c7674;
$gray-50: lighten($gray, 30%);
$gray-100: lighten($gray, 20%);
$gray-200: lighten($gray, 15%);
$gray-300: lighten($gray, 10%);
$gray-400: lighten($gray, 5%);
$gray-500: $gray;
$gray-600: darken($gray, 5%);
$gray-700: darken($gray, 10%);
$gray-800: darken($gray, 15%);
$gray-900: darken($gray, 20%);
$dark-gray: #4f4b4a;
$dark-gray-50: lighten($dark-gray, 30%);
$dark-gray-100: lighten($dark-gray, 20%);
$dark-gray-200: lighten($dark-gray, 15%);
$dark-gray-300: lighten($dark-gray, 10%);
$dark-gray-400: lighten($dark-gray, 5%);
$dark-gray-500: $dark-gray;
$dark-gray-600: darken($dark-gray, 5%);
$dark-gray-700: darken($dark-gray, 10%);
$dark-gray-800: darken($dark-gray, 15%);
$dark-gray-900: darken($dark-gray, 20%);
$black: #2a2928;
$black-50: lighten($black, 30%);
$black-100: lighten($black, 20%);
$black-200: lighten($black, 15%);
$black-300: lighten($black, 10%);
$black-400: lighten($black, 5%);
$black-500: $black;
$black-600: darken($black, 5%);
$black-700: darken($black, 10%);
$black-800: darken($black, 15%);
$black-900: darken($black, 20%);
$red: #eb5b54;
$red-50: lighten($red, 30%);
$red-100: lighten($red, 20%);
$red-200: lighten($red, 15%);
$red-300: lighten($red, 10%);
$red-400: lighten($red, 5%);
$red-500: $red;
$red-600: darken($red, 5%);
$red-700: darken($red, 10%);
$red-800: darken($red, 15%);
$red-900: darken($red, 20%);
$rose: #e8597a;
$rose-50: lighten($rose, 30%);
$rose-100: lighten($rose, 20%);
$rose-200: lighten($rose, 15%);
$rose-300: lighten($rose, 10%);
$rose-400: lighten($rose, 5%);
$rose-500: $rose;
$rose-600: darken($rose, 5%);
$rose-700: darken($rose, 10%);
$rose-800: darken($rose, 15%);
$rose-900: darken($rose, 20%);
$magenta: #e5559f;
$magenta-50: lighten($magenta, 30%);
$magenta-100: lighten($magenta, 20%);
$magenta-200: lighten($magenta, 15%);
$magenta-300: lighten($magenta, 10%);
$magenta-400: lighten($magenta, 5%);
$magenta-500: $magenta;
$magenta-600: darken($magenta, 5%);
$magenta-700: darken($magenta, 10%);
$magenta-800: darken($magenta, 15%);
$magenta-900: darken($magenta, 20%);
$violet: #a264a9;
$violet-50: lighten($violet, 30%);
$violet-100: lighten($violet, 20%);
$violet-200: lighten($violet, 15%);
$violet-300: lighten($violet, 10%);
$violet-400: lighten($violet, 5%);
$violet-500: $violet;
$violet-600: darken($violet, 5%);
$violet-700: darken($violet, 10%);
$violet-800: darken($violet, 15%);
$violet-900: darken($violet, 20%);
$blue: #546ab2;
$blue-50: lighten($blue, 30%);
$blue-100: lighten($blue, 20%);
$blue-200: lighten($blue, 15%);
$blue-300: lighten($blue, 10%);
$blue-400: lighten($blue, 5%);
$blue-500: $blue;
$blue-600: darken($blue, 5%);
$blue-700: darken($blue, 10%);
$blue-800: darken($blue, 15%);
$blue-900: darken($blue, 20%);
$azure: #5392ba;
$azure-50: lighten($azure, 30%);
$azure-100: lighten($azure, 20%);
$azure-200: lighten($azure, 15%);
$azure-300: lighten($azure, 10%);
$azure-400: lighten($azure, 5%);
$azure-500: $azure;
$azure-600: darken($azure, 5%);
$azure-700: darken($azure, 10%);
$azure-800: darken($azure, 15%);
$azure-900: darken($azure, 20%);
$cyan: #50bcbf;
$cyan-50: lighten($cyan, 30%);
$cyan-100: lighten($cyan, 20%);
$cyan-200: lighten($cyan, 15%);
$cyan-300: lighten($cyan, 10%);
$cyan-400: lighten($cyan, 5%);
$cyan-500: $cyan;
$cyan-600: darken($cyan, 5%);
$cyan-700: darken($cyan, 10%);
$cyan-800: darken($cyan, 15%);
$cyan-900: darken($cyan, 20%);
$spring-green: #79c188;
$spring-green-50: lighten($spring-green, 30%);
$spring-green-100: lighten($spring-green, 20%);
$spring-green-200: lighten($spring-green, 15%);
$spring-green-300: lighten($spring-green, 10%);
$spring-green-400: lighten($spring-green, 5%);
$spring-green-500: $spring-green;
$spring-green-600: darken($spring-green, 5%);
$spring-green-700: darken($spring-green, 10%);
$spring-green-800: darken($spring-green, 15%);
$spring-green-900: darken($spring-green, 20%);
$green: #98ca44;
$green-50: lighten($green, 30%);
$green-100: lighten($green, 20%);
$green-200: lighten($green, 15%);
$green-300: lighten($green, 10%);
$green-400: lighten($green, 5%);
$green-500: $green;
$green-600: darken($green, 5%);
$green-700: darken($green, 10%);
$green-800: darken($green, 15%);
$green-900: darken($green, 20%);
$chartreuse: #bdd74a;
$chartreuse-50: lighten($chartreuse, 30%);
$chartreuse-100: lighten($chartreuse, 20%);
$chartreuse-200: lighten($chartreuse, 15%);
$chartreuse-300: lighten($chartreuse, 10%);
$chartreuse-400: lighten($chartreuse, 5%);
$chartreuse-500: $chartreuse;
$chartreuse-600: darken($chartreuse, 5%);
$chartreuse-700: darken($chartreuse, 10%);
$chartreuse-800: darken($chartreuse, 15%);
$chartreuse-900: darken($chartreuse, 20%);
$yellow: #e2e553;
$yellow-50: lighten($yellow, 30%);
$yellow-100: lighten($yellow, 20%);
$yellow-200: lighten($yellow, 15%);
$yellow-300: lighten($yellow, 10%);
$yellow-400: lighten($yellow, 5%);
$yellow-500: $yellow;
$yellow-600: darken($yellow, 5%);
$yellow-700: darken($yellow, 10%);
$yellow-800: darken($yellow, 15%);
$yellow-900: darken($yellow, 20%);
$orange: #e7a359;
$orange-50: lighten($orange, 30%);
$orange-100: lighten($orange, 20%);
$orange-200: lighten($orange, 15%);
$orange-300: lighten($orange, 10%);
$orange-400: lighten($orange, 5%);
$orange-500: $orange;
$orange-600: darken($orange, 5%);
$orange-700: darken($orange, 10%);
$orange-800: darken($orange, 15%);
$orange-900: darken($orange, 20%);
$orange-gray: #ad8c6d;
$orange-gray-50: lighten($orange-gray, 30%);
$orange-gray-100: lighten($orange-gray, 20%);
$orange-gray-200: lighten($orange-gray, 15%);
$orange-gray-300: lighten($orange-gray, 10%);
$orange-gray-400: lighten($orange-gray, 5%);
$orange-gray-500: $orange-gray;
$orange-gray-600: darken($orange-gray, 5%);
$orange-gray-700: darken($orange-gray, 10%);
$orange-gray-800: darken($orange-gray, 15%);
$orange-gray-900: darken($orange-gray, 20%);
$dark-gray-orange: #917358;
$dark-gray-orange-50: lighten($dark-gray-orange, 30%);
$dark-gray-orange-100: lighten($dark-gray-orange, 20%);
$dark-gray-orange-200: lighten($dark-gray-orange, 15%);
$dark-gray-orange-300: lighten($dark-gray-orange, 10%);
$dark-gray-orange-400: lighten($dark-gray-orange, 5%);
$dark-gray-orange-500: $dark-gray-orange;
$dark-gray-orange-600: darken($dark-gray-orange, 5%);
$dark-gray-orange-700: darken($dark-gray-orange, 10%);
$dark-gray-orange-800: darken($dark-gray-orange, 15%);
$dark-gray-orange-900: darken($dark-gray-orange, 20%);
$blue-gray: #6f7292;
$blue-gray-50: lighten($blue-gray, 30%);
$blue-gray-100: lighten($blue-gray, 20%);
$blue-gray-200: lighten($blue-gray, 15%);
$blue-gray-300: lighten($blue-gray, 10%);
$blue-gray-400: lighten($blue-gray, 5%);
$blue-gray-500: $blue-gray;
$blue-gray-600: darken($blue-gray, 5%);
$blue-gray-700: darken($blue-gray, 10%);
$blue-gray-800: darken($blue-gray, 15%);
$blue-gray-900: darken($blue-gray, 20%);
$light-gray-azure: #899fb2;
$light-gray-azure-50: lighten($light-gray-azure, 30%);
$light-gray-azure-100: lighten($light-gray-azure, 20%);
$light-gray-azure-200: lighten($light-gray-azure, 15%);
$light-gray-azure-300: lighten($light-gray-azure, 10%);
$light-gray-azure-400: lighten($light-gray-azure, 5%);
$light-gray-azure-500: $light-gray-azure;
$light-gray-azure-600: darken($light-gray-azure, 5%);
$light-gray-azure-700: darken($light-gray-azure, 10%);
$light-gray-azure-800: darken($light-gray-azure, 15%);
$light-gray-azure-900: darken($light-gray-azure, 20%);
$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $orange;
$danger: $red;
$light: $light-gray-200;
$dark: $gray-800;
$body-bg: $white;
$body-color: $gray-900;
$link-color: $blue;
$link-decoration: none;
$link-hover-decoration: underline;
$mark-bg: $yellow;
$input-bg: $white;
$input-color: $gray-800;
$input-placeholder-color: $light-gray-600;
$input-disabled-bg: $light-gray-100;
$input-group-addon-bg: $light-gray-200;
$input-group-addon-color: $gray-900;
$component-active-bg: $blue;
$component-active-color: $white;
$dropdown-header-color: $gray-600;
$dropdown-link-color: $gray-900;
$dropdown-link-hover-bg: $light-gray-100;
$dropdown-link-disabled-color: $gray-600;
$theme-color-interval: 8%;
$yiq-contrasted-threshold: 150;
$yiq-text-dark: $gray-900;
$yiq-text-light: $white;
$escaped-characters: ( ("<","%3c"), (">","%3e"), ("#","%23") );
$spacer: 1rem;
$link-hover-color: darken($link-color, 15%);
$emphasized-link-hover-darken-percentage: 15%;
$paragraph-margin-bottom: 1rem;
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px );
$container-max-widths: ( sm: 540px, md: 720px, lg: 960px, xl: 1140px );
$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-row-columns: 6;
$line-height-lg: 1.5;
$line-height-sm: 1.5;
$border-width: 1px;
$border-color: $gray-300;
$border-radius: 0.25rem;
$border-radius-lg: 0.3rem;
$border-radius-sm: 0.2rem;
$rounded-pill: 50rem;
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075);
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175);
$caret-width: 0.3em;
$caret-vertical-align: $caret-width * 0.85;
$caret-spacing: $caret-width * 0.85;
$transition-base: all 0.2s ease-in-out;
$transition-fade: opacity 0.15s linear;
$transition-collapse: height 0.35s ease;
$font-family-base: $font-family-sans-serif;
$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * 0.875;
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: bolder;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;
$headings-margin-bottom: $spacer / 2;
$headings-font-family: null;
$headings-font-weight: 500;
$headings-line-height: 1.2;
$headings-color: null;
$display1-size: 6rem;
$display2-size: 5.5rem;
$display3-size: 4.5rem;
$display4-size: 3.5rem;
$display1-weight: 300;
$display2-weight: 300;
$display3-weight: 300;
$display4-weight: 300;
$display-line-height: $headings-line-height;
$lead-font-size: $font-size-base * 1.25;
$lead-font-weight: 300;
$small-font-size: 80%;
$text-muted: $gray-600;
$blockquote-small-color: $gray-600;
$blockquote-small-font-size: $small-font-size;
$blockquote-font-size: $font-size-base * 1.25;
$hr-border-color: rgba($black, 0.1);
$hr-border-width: $border-width;
$mark-padding: 0.2em;
$dt-font-weight: $font-weight-bold;
$kbd-box-shadow: inset 0 -0.1rem 0 rgba($black, 0.25);
$nested-kbd-font-weight: $font-weight-bold;
$list-inline-padding: 0.5rem;
$hr-margin-y: $spacer;
$table-cell-padding: 0.75rem;
$table-cell-padding-sm: 0.3rem;
$table-color: $body-color;
$table-bg: null;
$table-accent-bg: rgba($black, .05);
$table-hover-color: $table-color;
$table-hover-bg: rgba($black, 0.075);
$table-active-bg: $table-hover-bg;
$table-border-width: $border-width;
$table-border-color: $border-color;
$table-head-bg: $gray-200;
$table-head-color: $gray-700;
$table-dark-color: $white;
$table-dark-bg: $gray-800;
$table-dark-accent-bg: rgba($white, 0.05);
$table-dark-hover-color: $table-dark-color;
$table-dark-hover-bg: rgba($white, 0.075);
$table-dark-border-color: lighten($table-dark-bg, 7.5%);
$table-striped-order: odd;
$table-caption-color: $text-muted;
$table-bg-level: -9;
$table-border-level: -6;
$input-btn-padding-y: 0.375rem;
$input-btn-padding-x: 0.75rem;
$input-btn-font-family: null;
$input-btn-font-size: $font-size-base;
$input-btn-line-height: $line-height-base;
$input-btn-focus-width: 0.2rem;
$input-btn-focus-color: rgba($component-active-bg, 0.25);
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;
$input-btn-padding-y-sm: 0.25rem;
$input-btn-padding-x-sm: 0.5rem;
$input-btn-font-size-sm: $font-size-sm;
$input-btn-line-height-sm: $line-height-sm;
$input-btn-padding-y-lg: 0.5rem;
$input-btn-padding-x-lg: 1rem;
$input-btn-font-size-lg: $font-size-lg;
$input-btn-line-height-lg: $line-height-lg;
$input-btn-border-width: $border-width;
$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;
$btn-font-family: $input-btn-font-family;
$btn-font-size: $input-btn-font-size;
$btn-line-height: $input-btn-line-height;
$btn-white-space: null;
$btn-padding-y-sm: $input-btn-padding-y-sm;
$btn-padding-x-sm: $input-btn-padding-x-sm;
$btn-font-size-sm: $input-btn-font-size-sm;
$btn-line-height-sm: $input-btn-line-height-sm;
$btn-padding-y-lg: $input-btn-padding-y-lg;
$btn-padding-x-lg: $input-btn-padding-x-lg;
$btn-font-size-lg: $input-btn-font-size-lg;
$btn-line-height-lg: $input-btn-line-height-lg;
$btn-border-width: $input-btn-border-width;
$btn-font-weight: $font-weight-normal;
$btn-box-shadow: inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075);
$btn-focus-width: $input-btn-focus-width;
$btn-focus-box-shadow: $input-btn-focus-box-shadow;
$btn-disabled-opacity: 0.65;
$btn-active-box-shadow: inset 0 3px 5px rgba($black, .125);
$btn-link-disabled-color: $gray-600;
$btn-block-spacing-y: 0.5rem;
$btn-border-radius: $border-radius;
$btn-border-radius-lg: $border-radius-lg;
$btn-border-radius-sm: $border-radius-sm;
$btn-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
$label-margin-bottom: 0.5rem;
$input-padding-y: $input-btn-padding-y;
$input-padding-x: $input-btn-padding-x;
$input-font-family: $input-btn-font-family;
$input-font-size: $input-btn-font-size;
$input-font-weight: $font-weight-base;
$input-line-height: $input-btn-line-height;
$input-padding-y-sm: $input-btn-padding-y-sm;
$input-padding-x-sm: $input-btn-padding-x-sm;
$input-font-size-sm: $input-btn-font-size-sm;
$input-line-height-sm: $input-btn-line-height-sm;
$input-padding-y-lg: $input-btn-padding-y-lg;
$input-padding-x-lg: $input-btn-padding-x-lg;
$input-font-size-lg: $input-btn-font-size-lg;
$input-line-height-lg: $input-btn-line-height-lg;
$input-border-color: $gray-400;
$input-border-width: $input-btn-border-width;
$input-box-shadow: inset 0 1px 1px rgba($black, .075);
$input-border-radius: $border-radius;
$input-border-radius-lg: $border-radius-lg;
$input-border-radius-sm: $border-radius-sm;
$input-focus-bg: $input-bg;
$input-focus-border-color: lighten($component-active-bg, 25%);
$input-focus-color: $input-color;
$input-focus-width: $input-btn-focus-width;
$input-focus-box-shadow: $input-btn-focus-box-shadow;
$input-plaintext-color: $body-color;
$input-height-border: $input-border-width * 2;
$input-height-inner: add($input-line-height * 1em, $input-padding-y * 2);
$input-height-inner-half: add($input-line-height * .5em, $input-padding-y);
$input-height-inner-quarter: add($input-line-height * .25em, $input-padding-y / 2);
$input-height: add($input-line-height * 1em, add($input-padding-y * 2, $input-height-border, false));
$input-height-sm: add($input-line-height-sm * 1em, add($input-padding-y-sm * 2, $input-height-border, false));
$input-height-lg: add($input-line-height-lg * 1em, add($input-padding-y-lg * 2, $input-height-border, false));
$input-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
$form-text-margin-top: 0.25rem;
$form-check-input-gutter: 1.25rem;
$form-check-input-margin-y: 0.3rem;
$form-check-input-margin-x: 0.25rem;
$form-check-inline-margin-x: 0.75rem;
$form-check-inline-input-margin-x: 0.3125rem;
$form-grid-gutter-width: 10px;
$form-group-margin-bottom: 1rem;
$input-group-addon-border-color: $input-border-color;
$custom-forms-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
$custom-control-gutter: 0.5rem;
$custom-control-spacer-x: 1rem;
$custom-control-cursor: null;
$custom-control-indicator-size: 1rem;
$custom-control-indicator-bg: $input-bg;
$custom-control-indicator-bg-size: 0% 50%;
$custom-control-indicator-box-shadow: $input-box-shadow;
$custom-control-indicator-border-color: $gray-500;
$custom-control-indicator-border-width: $input-border-width;
$custom-control-label-color: null;
$custom-control-indicator-disabled-bg: $input-disabled-bg;
$custom-control-label-disabled-color: $gray-600;
$custom-control-indicator-checked-color: $component-active-color;
$custom-control-indicator-checked-bg: $component-active-bg;
$custom-control-indicator-checked-disabled-bg: rgba($primary, .5);
$custom-control-indicator-checked-box-shadow: none;
$custom-control-indicator-checked-border-color: $custom-control-indicator-checked-bg;
$custom-control-indicator-focus-box-shadow: $input-focus-box-shadow;
$custom-control-indicator-focus-border-color: $input-focus-border-color;
$custom-control-indicator-active-color: $component-active-color;
$custom-control-indicator-active-bg: lighten($component-active-bg, 35%);
$custom-control-indicator-active-box-shadow: none;
$custom-control-indicator-active-border-color: $custom-control-indicator-active-bg;
$custom-checkbox-indicator-border-radius: $border-radius;
$custom-checkbox-indicator-icon-checked: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'><path fill='#{$custom-control-indicator-checked-color}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/></svg>");
$custom-checkbox-indicator-indeterminate-bg: $component-active-bg;
$custom-checkbox-indicator-indeterminate-color: $custom-control-indicator-checked-color;
$custom-checkbox-indicator-icon-indeterminate: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'><path stroke='#{$custom-checkbox-indicator-indeterminate-color}' d='M0 2h4'/></svg>");
$custom-checkbox-indicator-indeterminate-box-shadow: none;
$custom-checkbox-indicator-indeterminate-border-color: $custom-checkbox-indicator-indeterminate-bg;
$custom-radio-indicator-border-radius: 50%;
$custom-radio-indicator-icon-checked: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'><circle r='3' fill='#{$custom-control-indicator-checked-color}'/></svg>");
$custom-switch-width: $custom-control-indicator-size * 1.75;
$custom-switch-indicator-border-radius: $custom-control-indicator-size / 2;
$custom-switch-indicator-size: subtract($custom-control-indicator-size, $custom-control-indicator-border-width * 4);
$custom-select-padding-y: $input-padding-y;
$custom-select-padding-x: $input-padding-x;
$custom-select-font-family: $input-font-family;
$custom-select-font-size: $input-font-size;
$custom-select-height: $input-height;
$custom-select-indicator-padding: 1rem;
$custom-select-font-weight: $input-font-weight;
$custom-select-line-height: $input-line-height;
$custom-select-color: $input-color;
$custom-select-disabled-color: $gray-600;
$custom-select-bg: $input-bg;
$custom-select-disabled-bg: $gray-200;
$custom-select-bg-size: 8px 10px;
$custom-select-indicator-color: $gray-800;
$custom-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'><path fill='#{$custom-select-indicator-color}' d='M2 0L0 2h4zm0 5L0 3h4z'/></svg>");
$custom-select-background: escape-svg($custom-select-indicator) no-repeat right $custom-select-padding-x center / $custom-select-bg-size;
$custom-select-feedback-icon-padding-right: add(1em * .75, (2 * $custom-select-padding-y * .75) + $custom-select-padding-x + $custom-select-indicator-padding);
$custom-select-feedback-icon-position: center right ($custom-select-padding-x + $custom-select-indicator-padding);
$custom-select-feedback-icon-size: $input-height-inner-half $input-height-inner-half;
$custom-select-border-width: $input-border-width;
$custom-select-border-color: $input-border-color;
$custom-select-border-radius: $border-radius;
$custom-select-box-shadow: inset 0 1px 2px rgba($black, .075);
$custom-select-focus-border-color: $input-focus-border-color;
$custom-select-focus-width: $input-focus-width;
$custom-select-focus-box-shadow: 0 0 0 $custom-select-focus-width $input-btn-focus-color;
$custom-select-padding-y-sm: $input-padding-y-sm;
$custom-select-padding-x-sm: $input-padding-x-sm;
$custom-select-font-size-sm: $input-font-size-sm;
$custom-select-height-sm: $input-height-sm;
$custom-select-padding-y-lg: $input-padding-y-lg;
$custom-select-padding-x-lg: $input-padding-x-lg;
$custom-select-font-size-lg: $input-font-size-lg;
$custom-select-height-lg: $input-height-lg;
$custom-range-track-width: 100%;
$custom-range-track-height: 0.5rem;
$custom-range-track-cursor: pointer;
$custom-range-track-bg: $gray-300;
$custom-range-track-border-radius: 1rem;
$custom-range-track-box-shadow: inset 0 .25rem .25rem rgba($black, .1);
$custom-range-thumb-width: 1rem;
$custom-range-thumb-height: $custom-range-thumb-width;
$custom-range-thumb-bg: $component-active-bg;
$custom-range-thumb-border: 0;
$custom-range-thumb-border-radius: 1rem;
$custom-range-thumb-box-shadow: 0 .1rem .25rem rgba($black, .1);
$custom-range-thumb-focus-box-shadow: 0 0 0 1px $body-bg, $input-focus-box-shadow;
$custom-range-thumb-focus-box-shadow-width: $input-focus-width;
$custom-range-thumb-active-bg: lighten($component-active-bg, 35%);
$custom-range-thumb-disabled-bg: $gray-500;
