$enable-obeb4-alert-wheel-colors: true;
$enable-obeb4-alert-variations: true;
$enable-obeb4-background-wheel-colors: true;
$enable-obeb4-background-tints-shades: true;
$enable-obeb4-1-color-gradients: true;
$enable-obeb4-2-color-gradients: true;
$enable-obeb4-3-color-gradients: true;
$enable-obeb4-badge-wheel-colors: true;
$enable-obeb4-border-wheel-colors: true;
$enable-obeb4-border-tints-shades: true;
$enable-obeb4-border-widths: true;
$enable-obeb4-button-wheel-colors: true;
$enable-obeb4-button-sizes: true;
$enable-obeb4-dropdowns: true;
$enable-obeb4-element-sizes: true;
$enable-obeb4-lists: true;
$enable-obeb4-list-groups: true;
$enable-obeb4-box-shadows: true;
$enable-obeb4-text-shadows: true;
$enable-obeb4-tables: true;
$enable-obeb4-text-wheel-colors: true;
$enable-obeb4-text-tints-shades: true;
$enable-obeb4-text-sizes: true;
$enable-obeb4-tooltips: true;
$enable-obeb4-form-element-wheel-colors: true;
$enable-obeb4-popovers: true;
$enable-obeb4-responsive-headlines: true;
$enable-obeb4-modal-utilities: true;
$enable-obeb4-material-design-forms: true;
$enable-obeb4-opacity: true;
$enable-obeb4-custom-dropdown-selects: true;
$enable-obeb4-fab-buttons: true;
$enable-obeb4-fa5-icon-checkboxes: true;
$enable-obeb4-off-canvas-nav-modals: true;
$enable-obeb4-spacing-utilities: false;
$enable-obeb4-datepicker-component: true;
$enable-obeb4-toggle-text-mini-plugin: true;
$obeb4-1-color-tint-value: 5%;
$obeb4-1-color-shade-value: 10%;
$enable-bootstrap-default-fonts: false;
$enable-google-fonts: true;
$google-fonts-url: fonts___googleapis___com/cssqqqfamily=Cousine|Montserrat---300,400,700|Oswald---300,400,700;
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-monospace: 'Cousine', monospace;
$enable-obeb4-secondary-font: true;
$font-family-secondary: 'Oswald', sans-serif;
$primary-font-weight-100: false;
$monospace-font-weight-100: false;
$secondary-font-weight-100: false;
$primary-font-weight-100i: false;
$monospace-font-weight-100i: false;
$secondary-font-weight-100i: false;
$primary-font-weight-200: false;
$monospace-font-weight-200: false;
$secondary-font-weight-200: false;
$primary-font-weight-200i: false;
$monospace-font-weight-200i: false;
$secondary-font-weight-200i: false;
$primary-font-weight-300: true;
$monospace-font-weight-300: false;
$secondary-font-weight-300: true;
$primary-font-weight-300i: false;
$monospace-font-weight-300i: false;
$secondary-font-weight-300i: false;
$primary-font-weight-400: true;
$monospace-font-weight-400: false;
$secondary-font-weight-400: true;
$primary-font-weight-400i: false;
$monospace-font-weight-400i: false;
$secondary-font-weight-400i: false;
$primary-font-weight-500: false;
$monospace-font-weight-500: false;
$secondary-font-weight-500: false;
$primary-font-weight-500i: false;
$monospace-font-weight-500i: false;
$secondary-font-weight-500i: false;
$primary-font-weight-600: false;
$monospace-font-weight-600: false;
$secondary-font-weight-600: false;
$primary-font-weight-600i: false;
$monospace-font-weight-600i: false;
$secondary-font-weight-600i: false;
$primary-font-weight-700: true;
$monospace-font-weight-700: false;
$secondary-font-weight-700: true;
$primary-font-weight-700i: false;
$monospace-font-weight-700i: false;
$secondary-font-weight-700i: false;
$primary-font-weight-800: false;
$monospace-font-weight-800: false;
$secondary-font-weight-800: false;
$primary-font-weight-800i: false;
$monospace-font-weight-800i: false;
$secondary-font-weight-800i: false;
$primary-font-weight-900: false;
$monospace-font-weight-900: false;
$secondary-font-weight-900: false;
$primary-font-weight-900i: false;
$monospace-font-weight-900i: false;
$secondary-font-weight-900i: false;
$white: #f9f7f4;
$white-50: lighten($white, 30%);
$white-100: lighten($white, 20%);
$white-200: lighten($white, 15%);
$white-300: lighten($white, 10%);
$white-400: lighten($white, 5%);
$white-500: $white;
$white-600: darken($white, 5%);
$white-700: darken($white, 10%);
$white-800: darken($white, 15%);
$white-900: darken($white, 20%);
$light-gray: #b3aeab;
$light-gray-50: lighten($light-gray, 30%);
$light-gray-100: lighten($light-gray, 20%);
$light-gray-200: lighten($light-gray, 15%);
$light-gray-300: lighten($light-gray, 10%);
$light-gray-400: lighten($light-gray, 5%);
$light-gray-500: $light-gray;
$light-gray-600: darken($light-gray, 5%);
$light-gray-700: darken($light-gray, 10%);
$light-gray-800: darken($light-gray, 15%);
$light-gray-900: darken($light-gray, 20%);
$gray: #7c7674;
$gray-50: lighten($gray, 30%);
$gray-100: lighten($gray, 20%);
$gray-200: lighten($gray, 15%);
$gray-300: lighten($gray, 10%);
$gray-400: lighten($gray, 5%);
$gray-500: $gray;
$gray-600: darken($gray, 5%);
$gray-700: darken($gray, 10%);
$gray-800: darken($gray, 15%);
$gray-900: darken($gray, 20%);
$dark-gray: #4f4b4a;
$dark-gray-50: lighten($dark-gray, 30%);
$dark-gray-100: lighten($dark-gray, 20%);
$dark-gray-200: lighten($dark-gray, 15%);
$dark-gray-300: lighten($dark-gray, 10%);
$dark-gray-400: lighten($dark-gray, 5%);
$dark-gray-500: $dark-gray;
$dark-gray-600: darken($dark-gray, 5%);
$dark-gray-700: darken($dark-gray, 10%);
$dark-gray-800: darken($dark-gray, 15%);
$dark-gray-900: darken($dark-gray, 20%);
$black: #2a2928;
$black-50: lighten($black, 30%);
$black-100: lighten($black, 20%);
$black-200: lighten($black, 15%);
$black-300: lighten($black, 10%);
$black-400: lighten($black, 5%);
$black-500: $black;
$black-600: darken($black, 5%);
$black-700: darken($black, 10%);
$black-800: darken($black, 15%);
$black-900: darken($black, 20%);
$red: #eb5b54;
$red-50: lighten($red, 30%);
$red-100: lighten($red, 20%);
$red-200: lighten($red, 15%);
$red-300: lighten($red, 10%);
$red-400: lighten($red, 5%);
$red-500: $red;
$red-600: darken($red, 5%);
$red-700: darken($red, 10%);
$red-800: darken($red, 15%);
$red-900: darken($red, 20%);
$rose: #e8597a;
$rose-50: lighten($rose, 30%);
$rose-100: lighten($rose, 20%);
$rose-200: lighten($rose, 15%);
$rose-300: lighten($rose, 10%);
$rose-400: lighten($rose, 5%);
$rose-500: $rose;
$rose-600: darken($rose, 5%);
$rose-700: darken($rose, 10%);
$rose-800: darken($rose, 15%);
$rose-900: darken($rose, 20%);
$magenta: #e5559f;
$magenta-50: lighten($magenta, 30%);
$magenta-100: lighten($magenta, 20%);
$magenta-200: lighten($magenta, 15%);
$magenta-300: lighten($magenta, 10%);
$magenta-400: lighten($magenta, 5%);
$magenta-500: $magenta;
$magenta-600: darken($magenta, 5%);
$magenta-700: darken($magenta, 10%);
$magenta-800: darken($magenta, 15%);
$magenta-900: darken($magenta, 20%);
$violet: #a264a9;
$violet-50: lighten($violet, 30%);
$violet-100: lighten($violet, 20%);
$violet-200: lighten($violet, 15%);
$violet-300: lighten($violet, 10%);
$violet-400: lighten($violet, 5%);
$violet-500: $violet;
$violet-600: darken($violet, 5%);
$violet-700: darken($violet, 10%);
$violet-800: darken($violet, 15%);
$violet-900: darken($violet, 20%);
$blue: #546ab2;
$blue-50: lighten($blue, 30%);
$blue-100: lighten($blue, 20%);
$blue-200: lighten($blue, 15%);
$blue-300: lighten($blue, 10%);
$blue-400: lighten($blue, 5%);
$blue-500: $blue;
$blue-600: darken($blue, 5%);
$blue-700: darken($blue, 10%);
$blue-800: darken($blue, 15%);
$blue-900: darken($blue, 20%);
$azure: #5392ba;
$azure-50: lighten($azure, 30%);
$azure-100: lighten($azure, 20%);
$azure-200: lighten($azure, 15%);
$azure-300: lighten($azure, 10%);
$azure-400: lighten($azure, 5%);
$azure-500: $azure;
$azure-600: darken($azure, 5%);
$azure-700: darken($azure, 10%);
$azure-800: darken($azure, 15%);
$azure-900: darken($azure, 20%);
$cyan: #50bcbf;
$cyan-50: lighten($cyan, 30%);
$cyan-100: lighten($cyan, 20%);
$cyan-200: lighten($cyan, 15%);
$cyan-300: lighten($cyan, 10%);
$cyan-400: lighten($cyan, 5%);
$cyan-500: $cyan;
$cyan-600: darken($cyan, 5%);
$cyan-700: darken($cyan, 10%);
$cyan-800: darken($cyan, 15%);
$cyan-900: darken($cyan, 20%);
$spring-green: #79c188;
$spring-green-50: lighten($spring-green, 30%);
$spring-green-100: lighten($spring-green, 20%);
$spring-green-200: lighten($spring-green, 15%);
$spring-green-300: lighten($spring-green, 10%);
$spring-green-400: lighten($spring-green, 5%);
$spring-green-500: $spring-green;
$spring-green-600: darken($spring-green, 5%);
$spring-green-700: darken($spring-green, 10%);
$spring-green-800: darken($spring-green, 15%);
$spring-green-900: darken($spring-green, 20%);
$green: #98ca44;
$green-50: lighten($green, 30%);
$green-100: lighten($green, 20%);
$green-200: lighten($green, 15%);
$green-300: lighten($green, 10%);
$green-400: lighten($green, 5%);
$green-500: $green;
$green-600: darken($green, 5%);
$green-700: darken($green, 10%);
$green-800: darken($green, 15%);
$green-900: darken($green, 20%);
$chartreuse: #bdd74a;
$chartreuse-50: lighten($chartreuse, 30%);
$chartreuse-100: lighten($chartreuse, 20%);
$chartreuse-200: lighten($chartreuse, 15%);
$chartreuse-300: lighten($chartreuse, 10%);
$chartreuse-400: lighten($chartreuse, 5%);
$chartreuse-500: $chartreuse;
$chartreuse-600: darken($chartreuse, 5%);
$chartreuse-700: darken($chartreuse, 10%);
$chartreuse-800: darken($chartreuse, 15%);
$chartreuse-900: darken($chartreuse, 20%);
$yellow: #e2e553;
$yellow-50: lighten($yellow, 30%);
$yellow-100: lighten($yellow, 20%);
$yellow-200: lighten($yellow, 15%);
$yellow-300: lighten($yellow, 10%);
$yellow-400: lighten($yellow, 5%);
$yellow-500: $yellow;
$yellow-600: darken($yellow, 5%);
$yellow-700: darken($yellow, 10%);
$yellow-800: darken($yellow, 15%);
$yellow-900: darken($yellow, 20%);
$orange: #e7a359;
$orange-50: lighten($orange, 30%);
$orange-100: lighten($orange, 20%);
$orange-200: lighten($orange, 15%);
$orange-300: lighten($orange, 10%);
$orange-400: lighten($orange, 5%);
$orange-500: $orange;
$orange-600: darken($orange, 5%);
$orange-700: darken($orange, 10%);
$orange-800: darken($orange, 15%);
$orange-900: darken($orange, 20%);
$orange-gray: #ad8c6d;
$orange-gray-50: lighten($orange-gray, 30%);
$orange-gray-100: lighten($orange-gray, 20%);
$orange-gray-200: lighten($orange-gray, 15%);
$orange-gray-300: lighten($orange-gray, 10%);
$orange-gray-400: lighten($orange-gray, 5%);
$orange-gray-500: $orange-gray;
$orange-gray-600: darken($orange-gray, 5%);
$orange-gray-700: darken($orange-gray, 10%);
$orange-gray-800: darken($orange-gray, 15%);
$orange-gray-900: darken($orange-gray, 20%);
$dark-gray-orange: #917358;
$dark-gray-orange-50: lighten($dark-gray-orange, 30%);
$dark-gray-orange-100: lighten($dark-gray-orange, 20%);
$dark-gray-orange-200: lighten($dark-gray-orange, 15%);
$dark-gray-orange-300: lighten($dark-gray-orange, 10%);
$dark-gray-orange-400: lighten($dark-gray-orange, 5%);
$dark-gray-orange-500: $dark-gray-orange;
$dark-gray-orange-600: darken($dark-gray-orange, 5%);
$dark-gray-orange-700: darken($dark-gray-orange, 10%);
$dark-gray-orange-800: darken($dark-gray-orange, 15%);
$dark-gray-orange-900: darken($dark-gray-orange, 20%);
$blue-gray: #6f7292;
$blue-gray-50: lighten($blue-gray, 30%);
$blue-gray-100: lighten($blue-gray, 20%);
$blue-gray-200: lighten($blue-gray, 15%);
$blue-gray-300: lighten($blue-gray, 10%);
$blue-gray-400: lighten($blue-gray, 5%);
$blue-gray-500: $blue-gray;
$blue-gray-600: darken($blue-gray, 5%);
$blue-gray-700: darken($blue-gray, 10%);
$blue-gray-800: darken($blue-gray, 15%);
$blue-gray-900: darken($blue-gray, 20%);
$light-gray-azure: #899fb2;
$light-gray-azure-50: lighten($light-gray-azure, 30%);
$light-gray-azure-100: lighten($light-gray-azure, 20%);
$light-gray-azure-200: lighten($light-gray-azure, 15%);
$light-gray-azure-300: lighten($light-gray-azure, 10%);
$light-gray-azure-400: lighten($light-gray-azure, 5%);
$light-gray-azure-500: $light-gray-azure;
$light-gray-azure-600: darken($light-gray-azure, 5%);
$light-gray-azure-700: darken($light-gray-azure, 10%);
$light-gray-azure-800: darken($light-gray-azure, 15%);
$light-gray-azure-900: darken($light-gray-azure, 20%);
$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $orange;
$danger: $red;
$light: $light-gray-200;
$dark: $gray-800;
$body-bg: $white;
$body-color: $gray-900;
$link-color: $blue;
$link-decoration: none;
$link-hover-decoration: underline;
$mark-bg: $yellow;
$input-bg: $white;
$input-color: $gray-800;
$input-placeholder-color: $light-gray-600;
$input-disabled-bg: $light-gray-100;
$input-group-addon-bg: $light-gray-200;
$input-group-addon-color: $gray-900;
$component-active-bg: $blue;
$component-active-color: $white;
$dropdown-header-color: $gray-600;
$dropdown-link-color: $gray-900;
$dropdown-link-hover-bg: $light-gray-100;
$dropdown-link-disabled-color: $gray-600;
